<%
accordionData = [
  {
    question: '小さい子どもが遊べますか？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '所要時間は？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '以下に記載している方はご利用をご遠慮ください。',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'トイレ・授乳室について ',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '荷物はどこに置けばいいですか？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '飲食物の持ち込みは？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'カメラについて',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'ベビーカーについて',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  }
]

accordionChallenge = [
  {
    question: '未成年者は乗ることができますか?',
    answer  : `各機種の利用条件を満たしていれば、ご利用が可能です。チャレンジカートおよびレーシングカートに関しては、ご利用されるご本人様の誓約書への記入が必要となります。また18歳未満の場合、親権者/法定代理人のご署名が必要となります。（親権者/法定代理人となる方は、成人（20歳以上）の方に限ります。）`
  },
  {
    question: '何歳から乗れますか？',
    answer  : `年齢での制限は設けていません。ただし、身長が140cm以上なければご利用はできません。<br />※一部、利用条件に学年が含まれていますので、<a href="https://www.twinring.jp/mobipark_m/guide/#mobipark" target="_blank">ホームページ</a>にてご確認ください。`
  },
  {
    question: 'レーシングカートでレースはできますか？',
    answer  : `レースをすることはできません。タイムアタック走行でお楽しみください。`
  },
  {
    question: '雨の日でも走行は可能ですか？',
    answer  : `雨天時はレーシングカート体験走行・レーシングカートTAセッションＢ車両での営業を行っております。<br />※荒天や降雪などの悪天候時、スタッフが危険と判断した場合、営業中止、または復旧まで一時営業を見合わせる場合がございます。`
  },
  {
    question: '定休日はありますか？',
    answer  : `ツインリンクもてぎの営業時間に準じます。詳しくは月間スケジュールをご確認ください。`
  },
  {
    question: '初めて乗るのですが、どうしたらいいでしょうか？',
    answer  : `普通運転免許をお持ちであればレーシングカート体験走行のご利用が可能です。当日予約制となっておりますので、モビパーク内のレーシングカート受付へお越しください。営業時間やコーススケジュールは月間スケジュールをご覧ください。`
  },
  {
    question: '自動車の免許は所持していますが、運転は自信がありません。レーシングカートは乗車可能でしょうか？',
    answer  : `運転に自信がない方もレーシングカート体験走行でしたら40Kmで5分間とお気軽にレーシングカートを体験していただけます。また操作説明もございますので安心してご乗車いただけます。ぜひご利用ください。`
  },
  {
    question: 'チャレンジカート講習会で再講習になってしまった場合、再度チャレンジカートの講習を受ける事は可能ですか？',
    answer  : `可能です。ただしチャレンジカートは定員制となっておりますので、定員に達した際はご利用できない場合がございます。あらかじめご了承ください。`
  },
  {
    question: 'チャレンジカートはいつでも乗れますか？',
    answer  : `チャレンジカートは当日予約制となっております。当日レーシングカートのコントロールタワーにてお申し込みください。定員になり次第、受付終了となります。<br />
    営業時間および定員は<a href="https://www.twinring.jp/mobipark_m/attractions/racingkart/schedule.html#mp_monthly" target="_blank">月間スケジュール</a>をご覧ください。`
  },
  {
    question: 'レンタルする備品（ヘルメット・グローブ等）は料金がかかりますか？',
    answer  : `レンタル料はかかりません。全て無料にてお貸ししています。`
  },
  {
    question: 'スカート、半ズボン等で来てしまった場合カートに乗れますか？',
    answer  : `お乗りいただけます。しかし、スカートや半ズボンのままでは安全上の理由からお乗りいただけませんので、こちらで用意しておりますレンタルのズボンを履いてからのご利用とさせていただきます。`
  },
  {
    question: '厚底の靴やブーツ、同様の靴を履くことにより、乗車規定身長140cmをクリアできる子どもは、チャレンジカートに乗ることができますか？',
    answer  : `厚底の靴やブーツを履いてのご乗車は、運転に支障をきたすため、ご利用をお断りしております。レンタルシューズがございますので、こちらを履いていただき身長140cmをクリアすることが出来れば、ご利用可能となっております。`
  },
  {
    question: 'ヘルメットは持参でも大丈夫ですか？',
    answer  : `ヘルメットの持込は可能です。ただし、半キャップヘルメットやシールド無しのヘルメットでご利用はできません。`
  },
  {
    question: 'ライセンスカードには有効期限はありますか？',
    answer  : `有効期限はございません。`
  },
  {
    question: 'レーシングカートで作成したライセンスカードは他のカート場でも使えますか？',
    answer  : `レーシングカートBライセンス所持で鈴鹿サーキット内アドバンスカート、レーシングカートAライセンス掲示でアドバンスカートプラスに乗車可能です。（走行前に講習が必要となります）`
  },
  {
    question: 'ライセンスカードをなくしてしまった場合、再発行はできますか？',
    answer  : `再発行はいたしかねます。各カートの基準タイムに挑戦し、再度ライセンスカードを取得してください。取得したライセンスカードは無くさないように大事に保管していただくようお願いいたします。`
  },
  {
    question: 'カートライセンスを持っている子どもはレーシングカートから乗ることができますか？',
    answer  : `身長140cm以上でJAFカートライセンス、SLライセンスのご提示で、レーシングカート体験走行からご利用することができます。`
  }
]

accordionTsubasa = [
  {
    question: '「メガジップライン つばさ」と「森のジップライン ムササビ」の受付（整理券配布所）はどこですか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '「メガジップライン つばさ」を見学できる場所はありますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '体験中に写真撮れますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '幼児がいるけど夫婦で一緒に体験したい。',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '子どもを抱っこして乗ることはできますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '何時頃までに行けば参加出来ますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '体重の確認の仕方は？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '前日予約や電話での予約はできますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: 'スピードはどれくらいでますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '飛んでいる時間はどれくらいですか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  }

]

accordionMusasabi = [
  {
    question: '「メガジップライン つばさ」と「森のジップライン ムササビ」の受付（整理券配布所）はどこですか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '「メガジップライン つばさ」を見学できる場所はありますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '体験中に写真撮れますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '幼児がいるけど夫婦で一緒に体験したい。',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '子どもを抱っこして乗ることはできますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '何時頃までに行けば参加出来ますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '体重の確認の仕方は？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '前日予約や電話での予約はできますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: 'スピードはどれくらいでますか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '飛んでいる時間はどれくらいですか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご 本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  }

]
%>
