<%
accordionData = [
  {
    question: '小さい子どもが遊べますか？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '所要時間は？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '以下に記載している方はご利用をご遠慮ください。',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'トイレ・授乳室について ',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '荷物はどこに置けばいいですか？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '飲食物の持ち込みは？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'カメラについて',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'ベビーカーについて',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  }
]

accordionChallenge = [
  {
    question: '未成年者は乗ることができますか?',
    answer  : `各機種の利用条件を満たしていれば、ご利用が可能です。チャレンジカートおよびレーシングカートに関しては、ご利用されるご本人様の誓約書への記入が必要となります。また18歳未満の場合、親権者/法定代理人のご署名が必要となります。（親権者/法定代理人となる方は、成人（20歳以上）の方に限ります。）`
  },
  {
    question: '何歳から乗れますか？',
    answer  : `年齢での制限は設けていません。ただし、身長が140cm以上なければご利用はできません。<br />※一部、利用条件に学年が含まれていますので、<a href="https://www.twinring.jp/mobipark_m/guide/#mobipark" target="_blank">ホームページ</a>にてご確認ください。`
  },
  {
    question: 'レーシングカートでレースはできますか？',
    answer  : `レースをすることはできません。タイムアタック走行でお楽しみください。`
  },
  {
    question: '雨の日でも走行は可能ですか？',
    answer  : `雨天時はレーシングカート体験走行・レーシングカートTAセッションＢ車両での営業を行っております。<br />※荒天や降雪などの悪天候時、スタッフが危険と判断した場合、営業中止、または復旧まで一時営業を見合わせる場合がございます。`
  },
  {
    question: '定休日はありますか？',
    answer  : `ツインリンクもてぎの営業時間に準じます。詳しくは月間スケジュールをご確認ください。`
  },
  {
    question: '初めて乗るのですが、どうしたらいいでしょうか？',
    answer  : `普通運転免許をお持ちであればレーシングカート体験走行のご利用が可能です。当日予約制となっておりますので、モビパーク内のレーシングカート受付へお越しください。営業時間やコーススケジュールは月間スケジュールをご覧ください。`
  },
  {
    question: '自動車の免許は所持していますが、運転は自信がありません。レーシングカートは乗車可能でしょうか？',
    answer  : `運転に自信がない方もレーシングカート体験走行でしたら40Kmで5分間とお気軽にレーシングカートを体験していただけます。また操作説明もございますので安心してご乗車いただけます。ぜひご利用ください。`
  },
  {
    question: 'チャレンジカート講習会で再講習になってしまった場合、再度チャレンジカートの講習を受ける事は可能ですか？',
    answer  : `可能です。ただしチャレンジカートは定員制となっておりますので、定員に達した際はご利用できない場合がございます。あらかじめご了承ください。`
  },
  {
    question: 'チャレンジカートはいつでも乗れますか？',
    answer  : `チャレンジカートは当日予約制となっております。当日レーシングカートのコントロールタワーにてお申し込みください。定員になり次第、受付終了となります。<br />
    営業時間および定員は<a href="https://www.twinring.jp/mobipark_m/attractions/racingkart/schedule.html#mp_monthly" target="_blank">月間スケジュール</a>をご覧ください。`
  },
  {
    question: 'レンタルする備品（ヘルメット・グローブ等）は料金がかかりますか？',
    answer  : `レンタル料はかかりません。全て無料にてお貸ししています。`
  },
  {
    question: 'スカート、半ズボン等で来てしまった場合カートに乗れますか？',
    answer  : `お乗りいただけます。しかし、スカートや半ズボンのままでは安全上の理由からお乗りいただけませんので、こちらで用意しておりますレンタルのズボンを履いてからのご利用とさせていただきます。`
  },
  {
    question: '厚底の靴やブーツ、同様の靴を履くことにより、乗車規定身長140cmをクリアできる子どもは、チャレンジカートに乗ることができますか？',
    answer  : `厚底の靴やブーツを履いてのご乗車は、運転に支障をきたすため、ご利用をお断りしております。レンタルシューズがございますので、こちらを履いていただき身長140cmをクリアすることが出来れば、ご利用可能となっております。`
  },
  {
    question: 'ヘルメットは持参でも大丈夫ですか？',
    answer  : `ヘルメットの持込は可能です。ただし、半キャップヘルメットやシールド無しのヘルメットでご利用はできません。`
  },
  {
    question: 'ライセンスカードには有効期限はありますか？',
    answer  : `有効期限はございません。`
  },
  {
    question: 'レーシングカートで作成したライセンスカードは他のカート場でも使えますか？',
    answer  : `レーシングカートBライセンス所持で鈴鹿サーキット内アドバンスカート、レーシングカートAライセンス掲示でアドバンスカートプラスに乗車可能です。（走行前に講習が必要となります）`
  },
  {
    question: 'ライセンスカードをなくしてしまった場合、再発行はできますか？',
    answer  : `再発行はいたしかねます。各カートの基準タイムに挑戦し、再度ライセンスカードを取得してください。取得したライセンスカードは無くさないように大事に保管していただくようお願いいたします。`
  },
  {
    question: 'カートライセンスを持っている子どもはレーシングカートから乗ることができますか？',
    answer  : `身長140cm以上でJAFカートライセンス、SLライセンスのご提示で、レーシングカート体験走行からご利用することができます。`
  }
]

accordionTsubasa = [
  {
    question: '「メガジップライン つばさ」の受付（整理券配布所）はどこですか？',
    answer  : `「ハローウッズインフォメーション」です。 整理券の発行には利用制限の確認が必要なので、ご利用者様ご本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '「メガジップライン つばさ」を見学できる場所はありますか？',
    answer  : `スタートデッキの横で見学が出来ます。<br>
    どんぐり広場もしくはクラブハウス近くから滑走する様子をご覧いただけます。また、ゴールに移動していただくと、飛んで戻ってくるところを見られます。 `
  },
  {
    question: 'つばさに未成年の子どもだけでの参加はできますか？',
    answer  : `参加いただけますが、同意書に参加者直筆サインと保護者のサインが必要の為参加者と保護者の方お揃いでお越しください。`
  },
  {
    question: '体験中に写真撮れますか？',
    answer  : `つばさご利用には腕時計、眼鏡以外一切持ち込み出来ません。<br>記念撮影は体験終了後達成感で溢れた素敵な表情でお撮りください。`
  },
  {
    question: 'パスポートがあれば必ず乗れますか？',
    answer  : `ご利用制限がございますのでスタッフが確認いたします。<br>混雑時は整理券配布となり定員になり次第受付終了です。お早めに受付を済ませてください。`
  },
  {
    question: '幼児がいるけど夫婦で一緒に体験したい。',
    answer  : `時間帯によりますが参加時間をずらして参加願います。<br>ご希望がございましたら受付の際インフォメーションスタッフへお声掛けください。`
  },
  {
    question: '子どもを抱っこして乗ることはできますか？',
    answer  : `できません。一人乗りのみです。`
  },
  {
    question: '何時頃までに行けば参加出来ますか？',
    answer  : `混雑状況によりますが、当日の整理券配布が終了されている場合もございます。<br>つばさ目的でのご来場でしたらまずはじめにハローウッズにお越しいただき、受付をお済ませください。`
  },
  {
    question: '体重の確認の仕方は？',
    answer  : `体験時の服装（ポケットを空にし靴を履いた状態）でスタッフが計測いたします。`
  },
  {
    question: '前日予約や電話での予約はできますか？',
    answer  : `できません。当日ご利用条件をスタッフで確認後に受付をさせていただきます。`
  },
  {
    question: 'スピードはどれくらいでますか？',
    answer  : `風向きにもよりますが、30～40km/hくらいです。`
  },
  {
    question: '飛んでいる時間はどれくらいですか？',
    answer  : `風向きにもよりますが、1本あたり約30秒くらいです。`
  }

]

accordionMusasabi = [
  {
    question: '「森のジップライン ムササビ」の受付（整理券配布所）はどこですか？',
    answer  : `「ハローウッズインフォメーション」です。整理券の発行には利用制限の確認が必要なので、ご利用者様ご本人がお越しください。未成年の方は保護者様の同意署名が必要です。保護者様と一緒にお越しください。`
  },
  {
    question: '何時頃までに行けば参加出来ますか？',
    answer  : `混雑状況によりますが、当日の整理券配布が終了されている場合もございます。<br>ムササビ目的でのご来場でしたらまずはじめにハローウッズにお越しいただき、受付をお済ませください。`
  },
  {
    question: '身長、体重の確認の仕方は？',
    answer  : `体験時の服装（ポケットを空にし靴を履いた状態）でスタッフが計測いたします。`
  },
  {
    question: '4月から新4年生ですがムササビできますか？',
    answer  : `年度で判別しますので4月から4年生としてご利用いただけます。`
  },
  {
    question: '前日予約や電話での予約はできますか？',
    answer  : `できません。当日ご利用条件をスタッフで確認後に受付をさせていただきます。`
  },
  {
    question: 'ムササビを体験している人を下からついて行くことはできますか？',
    answer  : `森の中には無料で入ることができるので、体験している方を見ることは可能です。<br>（一部見えない場所、徒歩では行けない場所がございます。）`
  },
  {
    question: '体験中落し物をした場合、すぐに見つかりますか？',
    answer  : `森の中を歩いたり滑空して移動する為、すぐに見つかる可能性は少ないです。<br>貴重品はロッカーへしまって参加してください。`
  },
  {
    question: '約90分の体験中にトイレ休憩はありますか？',
    answer  : `トイレ休憩はございません。装備装着前に必ずお済ませください。`
  }

]

accordionItadaki = [
  {
    question: '雨天時も遊べますか？',
    answer  : `雨天でも営業いたしております。屋根がないため、濡れて滑りやすい場所や、頭上から水滴が落ちてくる場所もあり、衣服が汚れてしまう可能性がございます。お客さまご判断でのご利用をお願いいたします。`
  },
  {
    question: '暗くなっても営業していますか？',
    answer  : `営業時間内は営業いたしております。スポット照明で通路を照らしておりますが、足元が見えにくい場所もございますので、十分に気をつけてご利用をお願いいたします。`
  },
  {
    question: '小さな子どもでも遊べますか？',
    answer  : `ご利用は3歳から可能ですので、3歳未満のお子さまはご家族とお待ちいただくようにお願いいたします。横に屋内休憩室（センターラウンジ）や森のジェラテリアROCCO（ジェラート）もございますのでお待ちの間よろしければご利用ください。`
  },
  {
    question: 'ベビーカー置き場はありますか？',
    answer  : `係員室横でお預かりさせていただきます。お戻りになりましたらお声がけください。`
  },
  {
    question: '荷物置き場はありますか？',
    answer  : `係員室横にございます。大きなお手荷物は迷路内でしゃがんだり、狭い通路を移動する際支障になりますので、貴重品以外は必ず棚にお預けの上ご利用ください。お戻りになりましたらお声がけください。`
  },
  {
    question: '障がい者でも利用できますか？',
    answer  : `迷路内部は階段や体をかがめたり、動かす場所がございますので、介護者の方が必ず付き添っていただきまして、お申し出いただいた障がいの度合いによって、ご利用判断をお願いいたします。`
  },
  {
    question: '近くのトイレはどこですか？',
    answer  : `モビパークの「みんなのトイレ」が最寄りで、道路を渡って100m程先にございます。迷路内にトイレはございませんので、予め済ませてからご利用ください。`
  },
  {
    question: '通常の利用時間はどの程度ですか？',
    answer  : `14個のスタンプを集めながら、各階をお楽しみいただくためには30分程度時間を要します。`
  }
]

accordionDokidoki = [
  {
    question: '雨天時の営業はどうなりますか？',
    answer  : `雨天時は見合せとなります。`
  },
  {
    question: '小さい子どもが遊べますか？',
    answer  : `小学1年生からご利用いただけます。DOKIDOKIは幼児のお子さまはご利用いただけません。<br>
              小さいお子さまは「どきどきひろば」でお楽しみいただけます。`
  },
  {
    question: '所要時間は？',
    answer  : `約20～30分です。`
  },
  {
    question: '荷物はどこに置けばいいですか？',
    answer  : `入り口にございます荷物置き場をご利用ください。また貴重品はダイヤル式のロッカーがございますので、そちらをご利用ください。`
  },
  {
    question: 'サンダルやクロックスで利用できますか？',
    answer  : `サンダルやクロックス、または運動に適さない靴ではご利用いただけません。`
  },
  {
    question: '料金について',
    answer  : `パスポートもしくはのりもの券800円でご利用いただけます。`
  },
  {
    question: '以下に記載している方はご利用をご遠慮ください。',
    answer  : `妊娠中の方、飲酒をされている方、体に痛みがある方。そのほかご自身の体調に合わせてご利用ください。`
  },
  {
    question: 'トイレについて',
    answer  : `内部にはございませんので、事前にお済ませください。`
  },
  {
    question: `体重制限について`,
    answer  : `スライダーは90kg以下の方がご利用いただけます。`
  },
  {
    question: `途中でギブアップしたい場合はどうすればいいですか？`,
    answer  : `ギブアップ出口がございますのでそちらからご退出ください。`
  }
]

accordionSumika = [
  {
    question: '雨天時の営業はどうなりますか？',
    answer: `屋内施設となりますので、雨天時でも安心してお楽しみいただけます。`
  },
  {
    question: '小さい子どもが遊べますか？',
    answer: `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
          ※小学生未満のお子さまは中学生以上の同伴者の付添い（有料）が必要です。<br>
          ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）は3～6歳のお子さま限定のエリアです。<br>
          ※0～2歳のお子さまは、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '所要時間は？',
    answer: `説明10分、遊ぶ時間30分の計40分です。（受付終了時間は営業終了の1時間前）`
  },
  {
    question: '料金について',
    answer: `パスポートもしくはのりもの券800円でご利用いただけます。`
  },
  {
    question: 'サンダルやクロックスで利用できますか？',
    answer: `靴を脱いでのご利用となります。 必ず靴下を履いてご利用ください。<br>
            もし、ご準備ない場合は、靴下の自動販売機がございますのでご利用ください。<br>
            なお、5本指タイプの靴下はご利用いただけません。`
  },
  {
    question: '以下に記載している方はご利用をご遠慮ください。',
    answer: `妊娠中の方、飲酒をされている方、体に痛みがある方。そのほかご自身の体調に合わせてご利用ください。`
  },
  {
    question: 'トイレ・授乳室について',
    answer: `施設内に完備しております。`
  },
  {
    question: '荷物はどこに置けばいいですか？',
    answer: `コインロッカーがございますのでご利用ください。また、巨大ネットの森 SUMIKA内にも荷物が置けるスペースと貴重品ロッカーもございます。`
  },
  {
    question: '飲食物の持ち込みは？',
    answer: `飲み物の持ち込みは可能となっておりますが、遊具への持ち込みはご遠慮ください。`
  },
  {
    question: 'カメラについて',
    answer: `コンパクトなカメラ・ビデオカメラに限らせていただきます。なお、三脚の持ち込みはご遠慮ください。`
  },
  {
    question: 'ベビーカーについて',
    answer: `アトラクションエリアへの持ち込みはご遠慮ください。白い柵の所定の位置にお願いいたします。`
  },
  {
    question: 'スカートについて',
    answer: `スカートの方は、こちらで準備しているジャージに履き替えてからご利用ください。`
  }
]

accordionHellowoods = [
  {
    question: '小さい子どもが遊べますか？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '所要時間は？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '以下に記載している方はご利用をご遠慮ください。',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'トイレ・授乳室について ',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '荷物はどこに置けばいいですか？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: '飲食物の持ち込みは？',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'カメラについて',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  },
  {
    question: 'ベビーカーについて',
    answer  : `3歳からご利用いただけます。キッズコーナーも併設しております。<br>
                ※小学生未満のお子様は中学生以上の同伴者の付添い（有料）が必要です。<br>
                ※キッズコーナー（虫食い落ち葉・どんぐりプール・いもむしトンネル・ツリーハウス滑り台）<br>
                は3～6歳のお子様限定のエリアです。<br>
                ※0～2歳のお子様は、キッズコーナー内にあるソファなどのレストエリアのみ利用可能となります。`
  }
]
%>
