<%
accordionFaq = [
  {
    question: '展示車両の写真撮影は可能ですか？また、SNS投稿も可能でしょうか？',
    answer  : '可能です。'
  },
  {
    question: '現在、〇〇車両は展示していますか？',
    answer  : '<a href="https://apps.mobilityland.co.jp/hch/search/" target="_blank" class="accordion-link">展示車両を検索</a>  にて、 ジャンル・年代・メーカーごとに お調べいただけます。'
  },
  {
    question: '車両を寄贈したいのですが、どうしたらよいですか？',
    answer  : '申し訳ございませんが収集活動が終了しており、一律でお断りさせていただいております。'
  },
  {
    question: '車両のパーツを探しているのですが、取り寄せなどはできますか？',
    answer  : 'ホンダコレクションホールでは取り扱いがないので、<br>修理工場などに直接問い合わせていただきますようお願いいたします。'
  },
  {
    question: '団体でホンダコレクションホールを利用したいです。',
    answer  : 'ツインリンクもてぎ 営業課 <span class="u-show-pc">0285-64-0090</span> <a href="tel:0285-64-0090" class="accordion-link underline u-show-sp">0285-64-0090</a>   までご連絡をお願いいたします。'
  }
]

racingkartAccordion = [
  {
    question: 'レーシングカートでレースはできますか？',
    answer  : 'レースをすることはできません。 自分の速さの限界に挑むタイムアタック走行でお楽しみください。レースは別途イベントを設けております。'
  },
  {
    question: 'ヘルメットは持参できますか？ ',
    answer  : 'ヘルメットの持込は可能です。 ただし、半キャップヘルメットやシールド無しのヘルメットではご利用はできません。'
  },
  {
    question: 'ライセンスカードには有効期限はありますか？',
    answer  : '有効期限はございません。'
  },
  {
    question: 'ライセンスカードをなくしてしまった場合、再発行はできますか？',
    answer  : '再発行はできかねます。 再度基準タイムに挑戦し、ライセンスカードを取得してください。'
  },
  {
    question: 'レーシングカートで作成したライセンスカードは他のカート場でも使えますか？',
    answer  : 'レーシングカートBライセンス提示で、鈴鹿サーキット内のアドバンスカート、レーシングカートAライセンス提示で、アドバンスカートプラスに乗車可能です。（走行前に講習が必要となります。）'
  },
  {
    question: 'カートライセンスを持っている子どもはレーシングカートから乗ることができますか？',
    answer  : '身長140cm以上で、JAFカートライセンスまたはSLライセンスをご提示いただくと、 レーシングカート体験走行からご利用できます。'
  }
]
%>
