<%
  collectionData = [
    {
      imgPath: mix('/assets/images/collection/img-guidetour.jpg'),
      title: '',
      colorTitle: 'ガイドツアー',
      desc: '本田宗一郎の幼少期からHonda創業前後の歩み、これまで販売してきた市販製品や様々なレースに参戦してきたレーシングマシンなど、ホンダコレクションホールの1階から3階までをスタッフがご案内いたします。',
      link: '#',
      dataList: [
        {
          label: '料金',
          content: '無料'
        },
        {
          label: '所要時間',
          content: '90分'
        },
        {
          label: '開催日',
          content: '詳しくは<a class="link" href="/collection-hall/schedule/">スケジュール</a>をご確認ください。<br>※現在は開催を見合わせております。'
        },
        {
          label: '定員',
          content: '各回10名様'
        },
        {
          label: '予約受付',
          content: '１階インフォメーションにてご予約をお願いします。<br>※ご予約は定員に達し次第、終了いたします。'
        }
      ],
      info: '※館内のご利用状況により実施できない場合がございます。'
    },
    {
      imgPath: mix('/assets/images/collection/img-nanonano.jpg'),
      title: '',
      colorTitle: 'NANONANOアクセサリー',
      desc: '電子部品を利用して作るロボット型や、バイク型アクセサリー「NANONANO」を自分で組み立てることができます。',
      link: '#',
      dataList: [
        {
          label: '料金',
          content: 'ロボット型1,300円　バイク型1,600円<br>※アトラクションチケットご利用可能'
        },
        {
          label: '所用時間',
          content: '約45分'
        },
        {
          label: '開催日',
          content: '詳しくは<a href="/collection-hall/schedule/" class="link">スケジュール</a>をご確認ください。'
        },
        {
          label: '開催場所',
          content: 'ホンダコレクションホール 別棟 ピット工房'
        },
        {
          label: '受付',
          content: '１階インフォメーション（閉館60分前まで）'
        }
      ],
      info: '※配色が異なる場合がございます。あらかじめご了承ください。<br>※団体様貸切りの際は一般のお客様を一時お受けできない場合がございます。あらかじめスケジュールをご確認ください。'
    },
    {
      imgPath: mix('/assets/images/collection/img-quiz.jpg'),
      title: '',
      colorTitle: 'クイズラリー',
      desc: 'ホンダコレクションホールの展示を見学しながら、ホンダの歴史について知ることができるクイズです。<br>ご参加いただいたお客様には記念品をプレゼントいたします。',
      link: '#',
      dataList: [
        {
          label: '料金',
          content: 'お1人様 300円<br>※アトラクションチケットご利用可能'
        },
        {
          label: '内容',
          content: '初級（小1～小2）、中級（小3～小4）、 上級（小5～中3）'
        },
        {
          label: '受付',
          content: '1階インフォメーション（閉館60分前まで）'
        }
      ],
      info: ''
    }
  ]
%>
