<%
eventsList = [
    {
      imgPath: mix('/assets/images/events/event-01.jpg'),
      title: '家族でめぐる7地点！思い出をコンプリートしよう',
      colorTitle: 'もてぎの森 思い出フォトラリー',
      desc: 'アトラクションやイベントを体験して、スマートフォンで思い出のシーンを撮影してみよう。画像を受付でプリントアウトして本にすれば、たくさんの思い出が詰まったアルバムの出来上がり！',
      link: '#',
      classMods: 'slide-images',
      dataList: [
        {
          label: '開催日',
          content: '3/20（金・祝）～4/5（日）'
        },
        {
          label: '開催時間',
          content: '<a class="link" href="/hours_m/">営業時間中</a>'
        },
        {
          label: '料金',
          content: '無料'
        },
        {
          label: '対象',
          content: 'モビパークパスポートを購入された方'
        },
        {
          label: '受付場所',
          content: '<ul class="carbike-article-list-desc details-list-item-desc padding-left-none"><li class="collection-item-list">インフォメーションセンター</li><li class="collection-item-list">モビパーク「巨大ネットの森 SUMIKA」前 特設 受付</li><li class="collection-item-list">ハローウッズ ぐるぐる広場受付<br><a class="link" href="/map_m/">場内マップ</a></li></ul>'
        }
      ],
      imgList: [
        {
          imgUrl: mix('/assets/images/events/event-01.jpg'),
          alt: 'もてぎの森思い出フォトライブラリー'
        },
        {
          imgUrl: mix('/assets/images/events/event-02.jpg'),
          alt: 'もてぎの森思い出フォトライブラリー'
        },
        {
          imgUrl: mix('/assets/images/events/event-03.jpg'),
          alt: 'もてぎの森思い出フォトライブラリー'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/events/event-01.jpg'),
      title: 'お子さまが淹れる一杯を木漏れ日の中で味わおう',
      colorTitle: '世界に1つだけの思い出コーヒー',
      desc: '豆から挽く本格的なコーヒーをお父さんやお母さんに作ってみませんか？カフェに隣接する寛ぎ空間では、ソファやハンモックなどもご用意しています。',
      link: '#',
      classMods: 'slide-images',
      dataList: [
        {
          label: '開催日',
          content: '3/20（金・祝）～4/5（日）<br>※雨天時は中止の場合あり'
        },
        {
          label: '開催時間',
          content: '<a class="link" href="/hours_m/">営業時間中</a>'
        },
        {
          label: '料金',
          content: '300円'
        },
        {
          label: '対象',
          content: 'すべての方'
        },
        {
          label: '受付場所',
          content: 'ハローウッズの森 ぐるぐる広場<br><a class="link" href="/map_m/">場内マップ</a>'
        }
      ],
      imgList: [
        {
          imgUrl: mix('/assets/images/events/event-02.jpg'),
          alt: '世界に一つだけの思い出コーヒー'
        },
        {
          imgUrl: mix('/assets/images/events/event-03.jpg'),
          alt: '世界に一つだけの思い出コーヒー'
        },
        {
          imgUrl: mix('/assets/images/events/event-01.jpg'),
          alt: '世界に一つだけの思い出コーヒー'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/events/event-01.jpg'),
      title: '小枝をあつめ、里山をのぼり、焚火を楽しもう',
      colorTitle: '里山でチャレンジ！はじめての焚火',
      desc: '森で小枝をひろって焚き火にくべてみませんか？<br>森カフェでマシュマロをプレゼント！焚き火で焼きマシュマロを作ってみよう！',
      link: '#',
      classMods: 'slide-images',
      dataList: [
        {
          label: '開催日',
          content: '3/20（金・祝）～4/5（日）<br>※雨天時は中止の場合あり'
        },
        {
          label: '開催時間',
          content: '11:00~14:00'
        },
        {
          label: '料金',
          content: '無料'
        },
        {
          label: '対象',
          content: 'モビパークパスポートを購入された方'
        },
        {
          label: '受付場所',
          content: 'ハローウッズの森 どんぐり広場 特設受付<br><a class="link" href="/map_m/">場内マップ</a>'
        }
      ],
      imgList: [
        {
          imgUrl: mix('/assets/images/events/event-03.jpg'),
          alt: '里山でチャレンジ！はじめての焚火'
        },
        {
          imgUrl: mix('/assets/images/events/event-03.jpg'),
          alt: '里山でチャレンジ！はじめての焚火'
        },
        {
          imgUrl: mix('/assets/images/events/event-03.jpg'),
          alt: '里山でチャレンジ！はじめての焚火'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/events/event-01.jpg'),
      title: 'ヤマザクラ咲く春を全身で感じよう！',
      colorTitle: '野遊び里山デイキャンプ',
      desc: 'お散歩しながらカエルの卵や産まれたばかりのオタマジャクシ、芽を出したフキノトウなどを探して遊んでみませんか。',
      link: '#',
      ctaLink: '#',
      classMods: '',
      dataList: [
        {
          label: '開催日',
          content: '3/28（土）・ 29（日）開催 <br>※要事前予約'
        }
      ],
      imgList: [
        {
          imgUrl: mix('/assets/images/events/event-04.jpg'),
          alt: '野遊び里山デイキャンプ'
        }
      ]
    },    {
      imgPath: mix('/assets/images/events/event-01.jpg'),
      title: '木を切って、本格薪割り、焚き火に挑戦！',
      colorTitle: '森とあそぼ！<br>さぁ、きみも木こりになろう！',
      desc: 'ハローウッズの森で木こり体験！里山の森には、どんな木が生えてるの？木の違いってなに？謎解きしながら探険しよう！',
      link: '#',
      ctaLink: '#',
      classMods: '',
      dataList: [
        {
          label: '開催日',
          content: '3/21（土）開催 <br>※要事前予約'
        }
      ],
      imgList: [
        {
          imgUrl: mix('/assets/images/events/event-05.jpg'),
          alt: '森とあそぼ！さぁ、きみも木こりになろう！'
        }
      ]
    }
  ]
%>
