<%
  goodsList = [
  {
    tab: '1',
    imgPath: mix('/assets/images/goods/motegi-01.jpg'),
    alt: 'もてぎの森のりすとどんぐりクッキー',
    title: 'もてぎの森のりすとどんぐりクッキー<br><span class="price">650円</span>',
    link: ''
  },
  {
    tab: '1',
    imgPath: mix('/assets/images/goods/motegi-02.jpg'),
    title: 'もてぎの森のおとしもの<br>（ロシアケーキ）<br><span class="price">600円</span>',
    link: ''
  },
  {
    tab: '1',
    imgPath: mix('/assets/images/goods/motegi-03.jpg'),
    title: 'ベルトループキーホルダー<br><span class="price">各2,250円</span>',
    link: ''
  },
  {
    tab: '1',
    imgPath: mix('/assets/images/goods/motegi-04.jpg'),
    title: 'マフラータオル<br><span class="price">各1,300円</span>',
    link: ''
  },
  {
    tab: '1',
    imgPath: mix('/assets/images/goods/motegi-05.jpg'),
    title: 'ツールボックス<br><span class="price">各1,800円</span>',
    link: ''
  },
  {
    tab: '1',
    imgPath: mix('/assets/images/goods/motegi-06.jpg'),
    title: 'パチジェットストリーム　<span class="price">1,500円</span><br>クルトガシャーペン　<span class="price">900円</span>',
    link: ''
  },
  
  {
    tab: '2',
    imgPath: mix('/assets/images/goods/kids-06.jpg'),
    title: '木漆工芸作家　松崎融の「木と親しむ木工講座」',
    link: ''
  },
  {
    tab: '3',
    imgPath: mix('/assets/images/goods/motor-07.jpg'),
    title: '森とあそぼ！さぁ、きみも木こりになろう！',
    link: ''
  },
  {
    tab: '4',
    imgPath: mix('/assets/images/goods/honda-08.jpg'),
    title: '春のガキ大将の森キャンプ～100kmウォークに挑戦！～',
    link: ''
  },
  {
    tab: '4',
    imgPath: mix('/assets/images/goods/honda-09.jpg'),
    title: '野遊び里山デイキャンプ',
    link: ''
  },
  ]



  goodsShopList = [
    {
      imgPath: mix('/assets/images/goods/img-souvenir.jpg'),
      title: '',
      colorTitle: 'スーベニアもてぎ',
      desc: 'ツインリンクもてぎオリジナルグッズ、動物や昆虫をモチーフにしたグッズ、地元名産品などファミリー向けグッズを多数取り揃えたお店',
      link: '#',
      dataList: [
        {
          label: '営業時間',
          content: 'ツインリンクもてぎ営業時間内（営業時間はこちら）'
        },
        {
          label: '場所',
          content: 'インフォメーションセンター横（<a class="link" href="#">MAPを見る</a>）'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/goods/img-mobiplaza.jpg'),
      title: '',
      colorTitle: 'MOBI-PLAZA',
      desc: 'ツインリンクもてぎのオリジナルグッズからレーシンググッズ、地元名産品まで、ファミリーやモータースポーツファン向けグッズなど多数取り揃えているお店',
      link: '#',
      dataList: [
        {
          label: '営業時間',
          content: '土日祝、レース・イベント開催日の営業時間内 （営業時間はこちら）'
        },
        {
          label: '場所',
          content: 'グランドスタンド（<a class="link" href="#">MAPを見る</a>）'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/goods/img-museumshop.jpg'),
      title: '',
      colorTitle: 'ミュージアムショップ',
      desc: 'ここでしか買えないホンダコレクションホールグッズやHonda関連グッズ、ミニカーやツインリンクもてぎオリジナルグッズを取り揃えたモータースポーツファン必見のお店',
      link: '#',
      dataList: [
        {
          label: '営業時間',
          content: 'ツインリンクもてぎ営業時間内（営業時間はこちら） '
        },
        {
          label: '場所',
          content: 'ホンダコレクションホール1階（<a class="link" href="#">MAPを見る</a>）'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/goods/img-gran-turismo.jpg'),
      title: '',
      colorTitle: 'グランツーリスモカフェショップ',
      desc: 'ライダー、ドライバー、チームスタッフ御用達のレーシンググッズを中心にHondaグッズ、各チームグッズや日用品まで取り揃えたお店',
      link: '#',
      dataList: [
        {
          label: '営業時間',
          content: 'ツインリンクもてぎ営業時間内（営業時間はこちら）'
        },
        {
          label: '場所',
          content: 'パドック内（<a class="link" href="#">MAPを見る</a>）'
        }
      ]
    },
    {
      imgPath: mix('/assets/images/goods/img-lobbyshop.jpg'),
      title: '',
      colorTitle: 'ロビーショップ',
      desc: 'ホテルツインリンク内にあるお店<br>21:00までお買い物を楽しめます',
      link: '#',
      dataList: [
        {
          label: '営業時間',
          content: '8:00～21:00 （営業時間はこちら）'
        },
        {
          label: '場所',
          content: 'ホテルツインリンク1階（<a class="link" href="#">MAPを見る</a>）'
        }
      ]
    }
  ]





%>