<%
  restaurantInfo = [
    {
      desc: '2020.04.00　お知らせが入ります2020年3月以降の宿泊予約開始日を掲載',
      link: '#'
    },
    {
      desc: '2020.04.00　お知らせが入ります2020年3月以降の宿泊予約開始日を掲載',
      link: '#'
    }
  ]

  restaurantSlider = {
    marcherant: [
      {
        slidePc: mix('/assets/images/restaurant/bg-marcherant.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-marcherant-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-marcherant.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-marcherant-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-marcherant.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-marcherant-sp.jpg')
      }
    ],

    toya: [
      {
        slidePc: mix('/assets/images/restaurant/bg-diningtoya.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-diningtoya-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-diningtoya.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-diningtoya-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-diningtoya.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-diningtoya-sp.jpg')
      }
    ],

    oak: [
      {
        slidePc: mix('/assets/images/restaurant/bg-oak.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-oak-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-oak.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-oak-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-oak.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-oak-sp.jpg')
      }
    ],

    turismo: [
      {
        slidePc: mix('/assets/images/restaurant/bg-granturismo.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-granturismo-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-granturismo.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-granturismo-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-granturismo.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-granturismo-sp.jpg')
      }
    ],

    kitchen: [
      {
        slidePc: mix('/assets/images/restaurant/bg-forestkitchen.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-forestkitchen-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-forestkitchen.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-forestkitchen-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-forestkitchen.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-forestkitchen-sp.jpg')
      }
    ],

    rocco: [
      {
        slidePc: mix('/assets/images/restaurant/bg-rocco.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-rocco-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-rocco.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-rocco-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-rocco.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-rocco-sp.jpg')
      }
    ]
  }

  restaurantOtherMenu = [
    {
      src: mix('/assets/images/otherrestaurant/restaurant1.jpg'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '#'
    },
    {
      src: mix('/assets/images/otherrestaurant/restaurant2.jpg'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '#'
    },
    {
      src: mix('/assets/images/otherrestaurant/restaurant3.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/otherrestaurant/restaurant4.jpg'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '#'
    }
  ]

  oakMenu = [
    {
      image: mix('/assets/images/oak/menu1.jpg'),
      title: `
        <span>SUMIKAチーズバーガー</span> <br/>
        <span>1,300円 / Drink Set 1,550円</span>
      `,
      desc: `“巨大ネットの森 SUMIKA”をイメージしたトマトチーズバーガー`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu2.jpg'),
      title: `
        <span>BBQバーガー</span> <br/>
        <span>1,200円 / Drink Set 1,450円</span>
      `,
      desc: `ミートソース の夜空にお星さまいっぱいのグランピングテント型オムライス`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu3.jpg'),
      title: `
        <span>森deもてモコプレート</span> <br/>
        <span>1,150円 / Drink Set 1,400円</span>
      `,
      desc: `サラダにさわやかなもてぎ産ドレッシングと 十五穀米を使用したもてぎの森のロコモコ風プレート`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu4.jpg'),
      title: `
        <span>森と星空のグランピングオムライス</span> <br/>
        <span>1,150円 / Drink Set 1,400円</span>
      `,
      desc: `ミートソース の夜空にお星さまいっぱいの グランピングテント型オムライス`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu5.jpg'),
      title: `
        <span>森のベリーワッフル</span> <br/>
        <span>600円</span>
      `,
      desc: `アイスとワッフルに甘酸っぱいベリーをトッピングした春限定のスイーツ`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu6.jpg'),
      title: `
        <span>キッズドライブバーガー</span> <br/>
        <span>（キッズドリンク付）850円</span>
      `,
      desc: `かわいいクルマのキッズメニュー`,
      link: '#'
    },
  ]

  granTurismoMenu = [
    {
      image: mix('/assets/images/granturismo/menu1.jpg'),
      title: `
        <span>梅おろしカツ定食</span> <br/>
        <span class="price">1,100円</span>
      `,
      desc: `ライバルにカツ（勝つ）という意味を込めた勝負飯定食！！梅ソースをかけてさっぱりと`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu2.jpg'),
      title: `
        <span>ペスカトーレ</span> <br/>
        <span class="price">1,100円</span>
      `,
      desc: `トマトソースに魚介類たっぷりのピリ辛パスタ`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu3.jpg'),
      title: `
        <span>豚ごま肉の生姜焼き定食</span> <br/>
        <span><small>(とちぎゆめポーク使用 ) </small></span> <br/>
        <span class="price">1,100円</span>
      `,
      desc: `栃木のブランド豚を使った特製定食メニュー`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu4.jpg'),
      title: `
        <span>炙りチャーシュー丼</span> <br/>
        <span class="price">950円</span>
      `,
      desc: `炙って香ばしさをプラス！肉厚チャーシュー丼`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu5.jpg'),
      title: `
        <span>鯛だしラーメン</span> <br/>
        <span class="price">900円</span>
      `,
      desc: `鯛だしの効いたスープが上品な味わいの塩ラーメン`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu6.jpg'),
      title: `
        <span>パンケーキ バニラアイス添え</span> <br/>
        <span><small>（チョコソース付き）</small></span> <br/>
        <span class="price">650円</span>
      `,
      desc: `<span class="u-show-pc">バニラアイスやチョコソース、メープルシロップなど、<br/>
            トッピングが豊富なパンケーキ</span>
            <span class="u-show-sp">バニラアイスやチョコソース、メープルシロップなど、トッピングが豊富なパンケーキ</span>`,
      link: '#'
    },
  ]
%>
