<%
  restaurantInfo = [
    {
      desc: '2020.04.00　お知らせが入ります2020年3月以降の宿泊予約開始日を掲載',
      link: '#'
    },
    {
      desc: '2020.04.00　お知らせが入ります2020年3月以降の宿泊予約開始日を掲載',
      link: '#'
    }
  ]

  restaurantSlider = {
    marcherant: [
      {
        slidePc: mix('/assets/images/restaurant/bg-marcherant.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-marcherant-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-marcherant.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-marcherant-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-marcherant.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-marcherant-sp.jpg')
      }
    ],

    toya: [
      {
        slidePc: mix('/assets/images/restaurant/bg-diningtoya.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-diningtoya-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-diningtoya.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-diningtoya-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-diningtoya.jpg'),
        slideSp: mix('/assets/images/restaurant/bg-diningtoya-sp.jpg')
      }
    ],

    oak: [
      {
        slidePc: mix('/assets/images/restaurant/bg-oak.png'),
        slideSp: mix('/assets/images/restaurant/bg-oak-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-oak.png'),
        slideSp: mix('/assets/images/restaurant/bg-oak-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-oak.png'),
        slideSp: mix('/assets/images/restaurant/bg-oak-sp.jpg')
      }
    ],

    turismo: [
      {
        slidePc: mix('/assets/images/restaurant/bg-granturismo.png'),
        slideSp: mix('/assets/images/restaurant/bg-granturismo-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-granturismo.png'),
        slideSp: mix('/assets/images/restaurant/bg-granturismo-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-granturismo.png'),
        slideSp: mix('/assets/images/restaurant/bg-granturismo-sp.jpg')
      }
    ],

    kitchen: [
      {
        slidePc: mix('/assets/images/restaurant/bg-donguri.png'),
        slideSp: mix('/assets/images/restaurant/bg-donguri-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-donguri.png'),
        slideSp: mix('/assets/images/restaurant/bg-donguri-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-donguri.png'),
        slideSp: mix('/assets/images/restaurant/bg-donguri-sp.jpg')
      }
    ],

    rocco: [
      {
        slidePc: mix('/assets/images/restaurant/bg-rocco.png'),
        slideSp: mix('/assets/images/restaurant/bg-rocco-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-rocco.png'),
        slideSp: mix('/assets/images/restaurant/bg-rocco-sp.jpg')
      },
      {
        slidePc: mix('/assets/images/restaurant/bg-rocco.png'),
        slideSp: mix('/assets/images/restaurant/bg-rocco-sp.jpg')
      }
    ]
  }

  restaurantOtherMenu = [
    {
      src: mix('/assets/images/otherrestaurant/marcherant.png'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    {
      src: mix('/assets/images/otherrestaurant/toya.png'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya/'
    },
    {
      src: mix('/assets/images/otherrestaurant/gran-turismo-bg.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/otherrestaurant/rocco.png'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    {
      src: mix('/assets/images/otherrestaurant/oak.png'),
      alt: 'カフェレストラン オーク',
      title: 'カフェレストラン オーク',
      link: '/foods_m/oak/'
    },
    {
      src: mix('/assets/images/otherrestaurant/donguri-bg.jpg'),
      alt: '森のキッチン どんぐり',
      title: '森のキッチン どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  restaurantOtherMenuGranturismo = [//granturismo
    {
      src: mix('/assets/images/otherrestaurant/marcherant.png'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    {
      src: mix('/assets/images/otherrestaurant/toya.png'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya/'
    },
    // {
    //   src: mix('/assets/images/otherrestaurant/gtcafe.png'),
    //   alt: 'グランツーリスモ カフェ',
    //   title: 'グランツーリスモ カフェ',
    //   link: '/foods_m/gran-turismo/'
    // },
    {
      src: mix('/assets/images/otherrestaurant/rocco.png'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    {
      src: mix('/assets/images/otherrestaurant/oak.png'),
      alt: 'カフェレストラン オーク',
      title: 'カフェレストラン オーク',
      link: '/foods_m/oak/'
    },
    {
      src: mix('/assets/images/otherrestaurant/donguri-bg.jpg'),
      alt: '森のキッチン どんぐり',
      title: '森のキッチン どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  restaurantOtherMenuOak = [//oak
    {
      src: mix('/assets/images/otherrestaurant/marcherant.png'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    {
      src: mix('/assets/images/otherrestaurant/toya.png'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya/'
    },
    {
      src: mix('/assets/images/otherrestaurant/gran-turismo-bg.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/otherrestaurant/rocco.png'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    // {
    //   src: mix('/assets/images/otherrestaurant/oak.png'),
    //   alt: 'カフェレストラン オーク',
    //   title: 'カフェレストラン オーク',
    //   link: '/foods_m/oak/'
    // },
    {
      src: mix('/assets/images/otherrestaurant/donguri-bg.jpg'),
      alt: '森のキッチン どんぐり',
      title: '森のキッチン どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  restaurantOtherMenuDonguri = [//donguri
    {
      src: mix('/assets/images/otherrestaurant/marcherant.png'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    {
      src: mix('/assets/images/otherrestaurant/toya.png'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya/'
    },
    {
      src: mix('/assets/images/otherrestaurant/gran-turismo-bg.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/otherrestaurant/rocco.png'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    {
      src: mix('/assets/images/otherrestaurant/oak.png'),
      alt: 'カフェレストラン オーク',
      title: 'カフェレストラン オーク',
      link: '/foods_m/oak/'
    }
    // {
    //   src: mix('/assets/images/otherrestaurant/donguri.png'),
    //   alt: '森のキッチン どんぐり',
    //   title: '森のキッチン どんぐり',
    //   link: '/foods_m/donguri/'
    // }
  ]

  restaurantOtherMenuMarcherant = [//marcherant
    // {
    //   src: mix('/assets/images/otherrestaurant/marcherant.png'),
    //   alt: '森のレストランMARCHERANT',
    //   title: '森のレストランMARCHERANT',
    //   link: '/foods_m/marcherant.html'
    // },
    {
      src: mix('/assets/images/otherrestaurant/toya.png'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya/'
    },
    {
      src: mix('/assets/images/otherrestaurant/gran-turismo-bg.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/otherrestaurant/rocco.png'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    {
      src: mix('/assets/images/otherrestaurant/oak.png'),
      alt: 'カフェレストラン オーク',
      title: 'カフェレストラン オーク',
      link: '/foods_m/oak/'
    },
    {
      src: mix('/assets/images/otherrestaurant/donguri-bg.jpg'),
      alt: '森のキッチン どんぐり',
      title: '森のキッチン どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  restaurantOtherMenuRocco = [//rocco
    {
      src: mix('/assets/images/otherrestaurant/marcherant.png'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    {
      src: mix('/assets/images/otherrestaurant/toya.png'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya/'
    },
    {
      src: mix('/assets/images/otherrestaurant/gran-turismo-bg.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    // {
    //   src: mix('/assets/images/otherrestaurant/rocco.png'),
    //   alt: '森のジェラテリア ROCCO',
    //   title: '森のジェラテリア ROCCO',
    //   link: '/foods_m/rocco/'
    // },
    {
      src: mix('/assets/images/otherrestaurant/oak.png'),
      alt: 'カフェレストラン オーク',
      title: 'カフェレストラン オーク',
      link: '/foods_m/oak/'
    },
    {
      src: mix('/assets/images/otherrestaurant/donguri-bg.jpg'),
      alt: '森のキッチン どんぐり',
      title: '森のキッチン どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  restaurantOtherMenuToya = [//toya
    {
      src: mix('/assets/images/otherrestaurant/marcherant.png'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    // {
    //   src: mix('/assets/images/otherrestaurant/toya.png'),
    //   alt: '里山懐石 登谷',
    //   title: '里山懐石 登谷',
    //   link: '/foods_m/toya/'
    // },
    {
      src: mix('/assets/images/otherrestaurant/gran-turismo-bg.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/otherrestaurant/rocco.png'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    {
      src: mix('/assets/images/otherrestaurant/oak.png'),
      alt: 'カフェレストラン オーク',
      title: 'カフェレストラン オーク',
      link: '/foods_m/oak/'
    },
    {
      src: mix('/assets/images/otherrestaurant/donguri-bg.jpg'),
      alt: '森のキッチン どんぐり',
      title: '森のキッチン どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  restaurantRecommended = [
    {
      src: mix('/assets/images/recommendedrestaurant/restaurant1.jpg'),
      alt: '森のレストランMARCHERANT',
      title: '森のレストランMARCHERANT',
      link: '/foods_m/marcherant.html'
    },
    {
      src: mix('/assets/images/recommendedrestaurant/restaurant2.jpg'),
      alt: '里山懐石 登谷',
      title: '里山懐石 登谷',
      link: '/foods_m/toya.html'
    },
    {
      src: mix('/assets/images/recommendedrestaurant/restaurant3.jpg'),
      alt: 'グランツーリスモ カフェ',
      title: 'グランツーリスモ カフェ',
      link: '/foods_m/gran-turismo/'
    },
    {
      src: mix('/assets/images/recommendedrestaurant/restaurant4.jpg'),
      alt: '森のジェラテリア ROCCO',
      title: '森のジェラテリア ROCCO',
      link: '/foods_m/rocco/'
    },
    {
      src: mix('/assets/images/recommendedrestaurant/restaurant5.jpg'),
      alt: 'オーク',
      title: 'オーク',
      link: '/foods_m/oak/'
    },
    {
      src: mix('/assets/images/recommendedrestaurant/restaurant6.jpg'),
      alt: 'どんぐり',
      title: 'どんぐり',
      link: '/foods_m/donguri/'
    }
  ]

  oakMenu = [
    {
      image: mix('/assets/images/oak/menu-1.jpg'),
      title: `
        <span>SUMIKAチーズバーガー</span> <br/>
        <span class="price">1,300円</span>
        <span class="tag">Drink Set 1,550円</span>
      `,
      desc: `“巨大ネットの森 SUMIKA”をイメージしたトマトチーズバーガー`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu-2.jpg'),
      title: `
        <span>BBQバーガー</span> <br/>
        <span class="price">1,200円</span>
        <span class="tag">Drink Set 1,450円</span>
      `,
      desc: `もてぎの森で手軽に楽しいBBQ気分を味わってみよう`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu-3.jpg'),
      title: `
        <span>森deもてモコプレート</span> <br/>
        <span class="price">1,150円</span>
        <span class="tag">Drink Set 1,400円</span>
      `,
      desc: `サラダにさわやかなもてぎ産ドレッシングと 十五穀米を使用したもてぎの森のロコモコ風プレート`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu-4.jpg'),
      title: `
        <span>森と星空のグランピングオムライス</span> <br/>
        <span class="price">1,150円</span>
        <span class="tag">Drink Set 1,400円</span>
      `,
      desc: `ミートソース の夜空にお星さまいっぱいの グランピングテント型オムライス`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu-5.jpg'),
      title: `
        <span>森のベリーワッフル</span> <br/>
        <span class="price">600円</span>
      `,
      desc: `アイスとワッフルに甘酸っぱいベリーをトッピングした春限定のスイーツ`,
      link: '#'
    },
    {
      image: mix('/assets/images/oak/menu-6.jpg'),
      title: `
        <span>ぶんぶんのお絵かきパンケーキ</span> <br/>
        <span class="price">850円</span>
        <span class="tag">Drink Set 950円</span>
      `,
      desc: `チョコペンでぶんぶんをお絵かきしてみよう`,
      link: '#'
    },
  ]

  donguriMenu = [
    {
      image: mix('/assets/images/donguri/menu-1.jpg'),
      title: `
        <span>もてぎ名物ゆず塩ラーメン</span> <br/>
        <span class='price'>800円</span>
      `,
      desc: ``,
      link: '#'
    },
    {
      image: mix('/assets/images/donguri/menu-2.jpg'),
      title: `
        <span>しょうゆラーメン</span> <br/>
        <span class='price'>700円</span>
      `,
      desc: ``,
      link: '#'
    },
    {
      image: mix('/assets/images/donguri/menu-3.jpg'),
      title: `
        <span>チェダーチーズカレー</span> <br/>
        <span class='price'>750円</span>
      `,
      desc: ``,
      link: '#'
    },
    {
      image: mix('/assets/images/donguri/menu-4.jpg'),
      title: `
        <span>森の木の葉カレープレート</span> <br/>
        <span class='price'>650円</span>
      `,
      desc: ``,
      link: '#'
    }
  ]

  granTurismoMenu = [
    {
      image: mix('/assets/images/granturismo/menu1.jpg'),
      title: `
        <span>梅おろしカツ定食</span> <br/>
        <span class="price">1,100円</span>
      `,
      desc: `ライバルにカツ (勝つ) という意味を込めた勝負飯定食！！梅ソースをかけてさっぱりと`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu2.jpg'),
      title: `
        <span>ペスカトーレ</span> <br/>
        <span class="price">1,100円</span>
      `,
      desc: `トマトソースに魚介類たっぷりのピリ辛パスタ`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu3.jpg'),
      title: `
        <span>豚ごま肉の生姜焼き定食</span> <br/>
        <span><small>(とちぎゆめポーク使用)</small></span> <br/>
        <span class="price">1,100円</span>
      `,
      desc: `栃木のブランド豚を使った特製定食メニュー`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu4.jpg'),
      title: `
        <span>炙りチャーシュー丼</span> <br/>
        <span class="price">950円</span>
      `,
      desc: `炙って香ばしさをプラス！肉厚チャーシュー丼`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu5.jpg'),
      title: `
        <span>鯛だしラーメン</span> <br/>
        <span class="price">900円</span>
      `,
      desc: `鯛だしの効いたスープが上品な味わいの塩ラーメン`,
      link: '#'
    },
    {
      image: mix('/assets/images/granturismo/menu6.jpg'),
      title: `
        <span>パンケーキ バニラアイス添え</span> <br/>
        <span><small>(チョコソース付き)</small></span> <br/>
        <span class="price">650円</span>
      `,
      desc: `<span class="u-show-pc">バニラアイスやチョコソース、メープルシロップなど、<br/>
            トッピングが豊富なパンケーキ</span>
            <span class="u-show-sp">バニラアイスやチョコソース、メープルシロップなど、トッピングが豊富なパンケーキ</span>`,
      link: '#'
    },
  ]

  roccoGelatoMenu = [
    {
      img: mix('/assets/images/rocco/gelato1.jpg'),
      title: "ROCCOの苗",
      subText: "",
      tag: "new",
      desc: "甘酸っぱいベリーとクランチクッキーの下に人気のハニーリッチミルクがたっぷり。"
    },
    {
      img: mix('/assets/images/rocco/gelato2.jpg'),
      title: "苔玉アイス",
      subText: "",
      tag: "new",
      desc: "抹茶ジェラートに抹茶ミルクパウダーをまぶした丸くかわいい苔玉モチーフのアイス。"
    },
    {
      img: mix('/assets/images/rocco/gelato3.jpg'),
      title: "田辺農園のバナナ",
      subText: "By 伊澤いちご園",
      tag: "",
      desc: "田辺正裕さんが南米エクアドルで育てている最高級バナナを使用。甘さとコクに加え、爽やかな酸味もおいしさの秘密。"
    },
    {
      img: mix('/assets/images/rocco/gelato4.jpg'),
      title: "ハニーリッチミルク",
      subText: "By 黒田養蜂園",
      tag: "",
      desc: "抹茶ジェラートに抹茶ミルクパウダーをまぶした丸くかわいい苔玉モチーフのアイス。"
    },
    {
      img: mix('/assets/images/rocco/gelato5.jpg'),
      title: "とちおとめミルク",
      subText: "By ジェラートマスモ",
      tag: "",
      desc: "とちおとめの果肉たっぷりの大人気ジェラート。栃木県が誇る名苺、とちおとめを贅沢に使い、見た目も鮮やかで、お子様からお年寄りまで誰にでも愛される超定番ジェラート。"
    },
    {
      img: mix('/assets/images/rocco/gelato6.jpg'),
      title: "ウリンボチョコレート",
      subText: "By ジェラートマスモ",
      tag: "limited",
      desc: "ツインリンクもてぎでしか味わえないオリジナルメニュー。イノシシをイメージしてバニラ、塩キャラメル、ベルギーチョコを絡め合わせ、見た目も楽しめるジェラテリアROCCOの一推しメニュー。"
    },
    {
      img: mix('/assets/images/rocco/gelato7.jpg'),
      title: "ゆずレモン",
      subText: "By ジェラートマスモ",
      tag: "",
      desc: "ゆず果汁と果肉を使用し、すっきりとした味わいが特徴のジェラート。新鮮なゆずを感じさせる香りと甘いジェラートの絶妙なコンビネーション。"
    },
    {
      img: mix('/assets/images/rocco/gelato8.jpg'),
      title: "ハニー抹茶ミルク",
      subText: "By 黒田養蜂園",
      tag: "",
      desc: "抹茶で初となる地域ブランドを取得した「西尾の抹茶」、製造元の最高級「碧」をたっぷり使用したスペシャル抹茶ジェラート。"
    },
    {
      img: mix('/assets/images/rocco/gelato9.jpg'),
      title: "ブルーベリーフロマージュ・ブラン",
      subText: "By ジェラートマスモ",
      tag: "",
      desc: "フランス語で「フロマージュ」はチーズ、「ブラン」は白、鮮度が命のフレッシュチーズを用いたジェラート。ブルーベリーを合わせ、フルーティーでコクのある味わいが人気のヒミツ。"
    },
    {
      img: mix('/assets/images/rocco/gelato10.jpg'),
      title: "ピスタチオ",
      subText: "By 黒田養蜂園",
      tag: "",
      desc: "2015年日本ジェラート協会マエストロコンテストで全国3位に輝いたジェラートに使用されていたフレーバー。ナッツの女王ピスタチオの深いコクと滑らかな食感を味わえるジェラートマスモのフラッグシップメニュー。"
    },
    {
      img: mix('/assets/images/rocco/gelato11.jpg'),
      title: "濃厚カカオソルベ",
      subText: "By ジェラートマスモ",
      tag: "limited",
      desc: "茂木産のひまわり油を練りこみ、カカオの香ばしい風味を際立たせた、濃厚で上品な味わいのジェラート。ミルク系フレーバーと相性抜群で、タブル・トリプルサイズの注文におすすめのツインリンク限定ジェラート。"
    },
    {
      img: mix('/assets/images/rocco/gelato12.jpg'),
      title: "DOKIDOKIラムネ",
      subText: "By ジェラートマスモ",
      tag: "limited",
      desc: "カラフルなラスクのチョコクランチが散りばめられたラムネ味のジェラート。サクサクしたくチョコクランチは、（赤）いちご（緑）抹茶（黄）レモンのバリエーションで、どの味がするのかドキドキ！！2018年のツインリンクもてぎ新作ジェラート。"
    },
    {
      img: mix('/assets/images/rocco/gelato13.jpg'),
      title: "黒田養蜂園 プレミアム　ハニーとちおとめソルベ",
      subText: "By 黒田養蜂園",
      tag: "",
      desc: "大正9年創業の老舗養蜂園『黒田養蜂園』による最高品質のとちおとめジェラート。とちおとめの素材本来の味をハチミツで引き立てたジェラートは、まさに至高の味わい。ここでしか食べられない限定ジェラートを是非ご賞味ください。"
    },
    {
      img: mix('/assets/images/rocco/gelato14.jpg'),
      title: "ブラッドオレンジソルベ",
      subText: "By ジェラートマスモ",
      tag: "",
      desc: "色鮮やかなブラッドオレンジの爽やかな味わいをお楽しみいただけます。"
    }
  ]

  roccoGelatoPopMenu = [
    {
      img: mix('/assets/images/rocco/gelatopop1.jpg'),
      title: "いちごミックスベリー",
      subText: "By 黒田養蜂園",
      tag: "",
      desc: "とちおとめやブルーベリー、ラズベリーなどがたくさんのった贅沢な老舗養蜂園の、ここでしか食べられないジェラートバーです！！"
    },
    {
      img: mix('/assets/images/rocco/gelatopop2.jpg'),
      title: "ハチミツれもん",
      subText: "By 黒田養蜂園",
      tag: "new",
      desc: "はちみつとレモンの相性抜群な組み合わせ。レモンの酸味とはちみつの優しい甘さが今の季節にぴったりです！"
    },
    {
      img: mix('/assets/images/rocco/gelatopop3.jpg'),
      title: "ハチミツあんず",
      subText: "By 黒田養蜂園",
      tag: "",
      desc: "杏子のフルーティーな酸味とハニーリッチミルクの芳醇な味わいが暑い日にピッタリ！！あま～い香りに誘われてミツバチ達もやってくる！？"
    },
    {
      img: mix('/assets/images/rocco/gelatopop4.jpg'),
      title: "キウイソルベ",
      subText: "By 黒田養蜂園",
      tag: "new",
      desc: "ソルベなのに、まるでそのままキウイを食べているような贅沢な味わい。キウイ好きにはたまらない一本です！"
    }
  ]

  roccoSubMenu = [
    {
      img: mix('/assets/images/rocco/roccosub1.jpg'),
      title: 'シングル、ダブル',
      subTitle: 'Single , Double',
      price: '450円&#126;'
    },
    {
      img: mix('/assets/images/rocco/roccosub2.jpg'),
      title: 'トリプル',
      subTitle: 'Triple',
      price: '500円&#126;'
    },
    {
      img: mix('/assets/images/rocco/roccosub3.jpg'),
      title: 'ジェラートポップ',
      subTitle: 'Gelato Pop',
      price: '500円&#126;'
    },
  ]

  roccoDrinksMenu1 = [
    {
      title: '抹茶アフォガード',
      price: '450円',
      subtext: '',
      desc: '濃厚抹茶ジェラートに宇治抹茶をかけた贅沢アフォガードです。'
    },
    {
      title: 'アフォガート',
      price: '400円',
      subtext: '(エスプレッソコンジェラート)',
      desc: '冷たいミルクジェラートに熱いエスプレッソをかけた、ほろ苦くて甘い、贅沢なデザートコーヒーです。'
    },
    {
      title: 'DOKIDOKIラムネフロート',
      price: '450円',
      subtext: '',
      desc: 'DOKIDOKIラムネジェラート＋お好きなコールドドリンクをお選びいただけます。'
    }
  ]

  roccoDrinksMenu2 = [
    {
      title: 'ゆずレモン　コーラフロート',
      price: '450円',
      subtext: '',
    },
    {
      title: 'ハニーリッチミルク',
      price: '450円',
      subtext: 'コーヒーフロート',
    },
    {
      title: 'ハニーリッチミルク',
      price: '450円',
      subtext: 'メロンソーダフロート'
    },
    {
      title: 'ブラッドオレンジ',
      price: '450円',
      subtext: 'カルピスソーダフロート'
    },
    {
      title: 'Earl Grey アールグレイ',
      price: '300円',
      subtext: '(HOT / ICE)'
    },
    {
      title: 'Coffee コーヒー',
      price: '300円',
      subtext: '(HOT / ICE)'
    }
  ]


  marcherantMenu = [
    {
      image: mix('/assets/images/marcherant/dinner-buffet-image.jpg'),
      title: ``,
      desc: `ディナービュッフェ（宿泊者限定）`,
      link: '/foods_m/marcherant_buffet/'
    },
    {
      image: mix('/assets/images/marcherant/lunch-image.jpg'),
      title: ``,
      desc: `ランチ`,
      link: '/foods_m/marcherant_lunch/'
    },
    {
      image: mix('/assets/images/marcherant/dinner-sey.jpg'),
      title: ` `,
      desc: `ディナーセット`,
      link: '/foods_m/marcherant_dinner/'
    },
    {
      image: mix('/assets/images/marcherant/breakfast.jpg'),
      title: ``,
      desc: `朝食ビュッフェ`,
      link: '/foods_m/marcherant_morning/'
    }
  ]
  
  restaurantToyaFood = [
    {
      image: mix('/assets/images/toya/food1.png'),
      alt: '里の幸',
      svgtext: 'toya-food1',
      desc: '四季が織り成す豊かな自然の中で育った野菜や山菜が料理を彩ります。'
    },
    {
      image: mix('/assets/images/toya/food2.png'),
      alt: '川の幸',
      svgtext: 'toya-food2',
      desc: '清流那珂川で水揚げされる新鮮な川魚は、季節感あふれる茂木ならではの逸品です。'
    },
    {
      image: mix('/assets/images/toya/food3.png'),
      alt: '山の幸',
      svgtext: 'toya-food3',
      desc: '那須野ヶ原牛・奥久慈しゃも・八溝しし肉など、吟味した栃木県産食材を炭焼きや藁焼きで仕上げます。'
    },
    {
      image: mix('/assets/images/toya/food4.png'),
      alt: 'こだわりの日本酒',
      svgtext: 'toya-food4',
      desc: `栃木・茨城の地酒を中心に取り揃えており
ます。日本酒と里山懐石のマリアージュを
お楽しみください。`
    }
  ]

  restaurantToyaGallery = [
    {
      image: mix('/assets/images/toya/menu1.jpg')
    },
    {
      image: mix('/assets/images/toya/menu2.jpg')
    },
    {
      image: mix('/assets/images/toya/menu3.jpg')
    },
    {
      image: mix('/assets/images/toya/menu4.jpg')
    },
    {
      image: mix('/assets/images/toya/menu5.jpg')
    },
    {
      image: mix('/assets/images/toya/menu6.jpg')
    },
    {
      image: mix('/assets/images/toya/menu7.jpg')
    },
    {
      image: mix('/assets/images/toya/menu8.jpg')
    }
  ]

  restaurantToyaMenuTab = [
    {
      tabName: 'spring-menu',
      label: '・春の御献立'
    },
    {
      tabName: 'summer-menu',
      label: '・夏の御献立'
    },
    {
      tabName: 'autumn-menu',
      label: '・秋の御献立'
    },
    {
      tabName: 'winter-menu',
      label: '・冬の御献立'
    }
  ]

  toyaSummerGallery = [//toya summer gallery
    {
      gallery: [
        {
          image: mix('/assets/images/toya/summer1.jpg'),
          alt: 'summer'
        },
        {
          image: mix('/assets/images/toya/summer2.jpg'),
          alt: 'summer'
        },
        {
          image: mix('/assets/images/toya/summer3.jpg'),
          alt: 'summer'
        },
        {
          image: mix('/assets/images/toya/summer4.jpg'),
          alt: 'summer'
        }
      ]
    },
    {
      gallery: [
        {
          image: mix('/assets/images/toya/summer1.jpg'),
          alt: 'summer'
        },
        {
          image: mix('/assets/images/toya/summer2.jpg'),
          alt: 'summer'
        },
        {
          image: mix('/assets/images/toya/summer3.jpg'),
          alt: 'summer'
        },
        {
          image: mix('/assets/images/toya/summer4.jpg'),
          alt: 'summer'
        }
      ]
    }
  ]

  toyaSpringGallery = [//toya spring gallery
    {
      gallery: [
        {
          image: mix('/assets/images/toya/spring1.jpg'),
          alt: 'spring'
        },
        {
          image: mix('/assets/images/toya/spring2.jpg'),
          alt: 'spring'
        },
        {
          image: mix('/assets/images/toya/spring3.jpg'),
          alt: 'spring'
        },
        {
          image: mix('/assets/images/toya/spring4.jpg'),
          alt: 'spring'
        }
      ]
    },
    {
      gallery: [
        {
          image: mix('/assets/images/toya/spring1.jpg'),
          alt: 'spring'
        },
        {
          image: mix('/assets/images/toya/spring2.jpg'),
          alt: 'spring'
        },
        {
          image: mix('/assets/images/toya/spring3.jpg'),
          alt: 'spring'
        },
        {
          image: mix('/assets/images/toya/spring4.jpg'),
          alt: 'spring'
        }
      ]
    }
  ]

  toyaAutumnGallery = [//toya autumn gallery
    {
      gallery: [
        {
          image: mix('/assets/images/toya/autumn1.jpg'),
          alt: 'autumn'
        },
        {
          image: mix('/assets/images/toya/autumn2.jpg'),
          alt: 'autumn'
        },
        {
          image: mix('/assets/images/toya/autumn3.jpg'),
          alt: 'autumn'
        },
        {
          image: mix('/assets/images/toya/autumn4.jpg'),
          alt: 'autumn'
        }
      ]
    },
    {
      gallery: [
        {
          image: mix('/assets/images/toya/autumn1.jpg'),
          alt: 'autumn'
        },
        {
          image: mix('/assets/images/toya/autumn2.jpg'),
          alt: 'autumn'
        },
        {
          image: mix('/assets/images/toya/autumn3.jpg'),
          alt: 'autumn'
        },
        {
          image: mix('/assets/images/toya/autumn4.jpg'),
          alt: 'autumn'
        }
      ]
    }
  ]

  toyaWinterGallery = [//toya winter gallery
    {
      gallery: [
        {
          image: mix('/assets/images/toya/winter1.jpg'),
          alt: 'winter'
        },
        {
          image: mix('/assets/images/toya/winter2.jpg'),
          alt: 'winter'
        },
        {
          image: mix('/assets/images/toya/winter3.jpg'),
          alt: 'winter'
        },
        {
          image: mix('/assets/images/toya/winter4.jpg'),
          alt: 'winter'
        }
      ]
    },
    {
      gallery: [
        {
          image: mix('/assets/images/toya/winter1.jpg'),
          alt: 'winter'
        },
        {
          image: mix('/assets/images/toya/winter2.jpg'),
          alt: 'winter'
        },
        {
          image: mix('/assets/images/toya/winter3.jpg'),
          alt: 'winter'
        },
        {
          image: mix('/assets/images/toya/winter4.jpg'),
          alt: 'winter'
        }
      ]
    }
  ]

  restaurantMarcherant = [
    {
      desc: '2020.1.31　2月の「森あそび」・「ものづくり」プログラムを更新',
      link: '#'
    },
    {
      desc: '2020.1.17　2020年4月の予約制プログラムの予約受付開始',
      link: '#'
    },
    {
      desc: '12月～2020年3月開催「森のプログラムパンフレット」を掲載',
      link: '#'
    },
    {
      desc: 'メガジップライン つばさ　森からサーキットの大空への空中散歩！',
      link: '#'
    }
  ]

  breakfastMarcherantMenu = [
    {
      image: mix('/assets/images/breakfast_marcherant/dinner-set.jpg'),
      title: '',
      desc: 'ディナーセット',
      link: '/foods_m/marcherant_dinner.html'
    },
    {
      image: mix('/assets/images/breakfast_marcherant/lunch.jpg'),
      title: '',
      desc: 'ランチ',
      link: '/foods_m/marcherant_lunch.html'
    },
    {
      image: mix('/assets/images/breakfast_marcherant/dinner-buffet.jpg'),
      title: '',
      desc: 'ディナービュッフェ',
      link: '/foods_m/marcherant_buffet/'
    },
    {
      image: mix('/assets/images/breakfast_marcherant/toya.jpg'),
      title: '',
      desc: '里山懐石 登谷',
      link: '/foods_m/toya/'
    }
  ]

  dinnerMarcherantMenu = [
    {
      image: mix('/assets/images/dinner_marcherant/other-menu1.jpg'),
      title: '',
      desc: 'ディナービュッフェ',
      link: '/foods_m/marcherant_buffet/'
    },
    {
      image: mix('/assets/images/dinner_marcherant/other-menu2.jpg'),
      title: '',
      desc: 'ランチ',
      link: '/foods_m/marcherant_lunch/'
    },
    {
      image: mix('/assets/images/dinner_marcherant/other-menu3.jpg'),
      title: '',
      desc: '朝食ビュッフェ',
      link: '/foods_m/marcherant_morning/'
    },
    {
      image: mix('/assets/images/dinner_marcherant/other-menu4.jpg'),
      title: '',
      desc: '里山懐石　登谷',
      link: '/foods_m/toya/'
    }
  ]

  lunchMarcherantOtherMenu = [
    {
      image: mix('/assets/images/breakfast_marcherant/dinner-set.jpg'),
      title: '',
      desc: 'ディナーセット',
      link: '/foods_m/marcherant_dinner/'
    },
    {
      image: mix('/assets/images/lunch_marcherant/link-dinner-buffet.jpg'),
      title: '',
      desc: 'ディナービュッフェ',
      link: '/foods_m/marcherant_buffet/'
    },
    {
      image: mix('/assets/images/lunch_marcherant/link-breakfast.jpg'),
      title: '',
      desc: '朝食',
      link: '/foods_m/marcherant_morning/'
    },
    {
      image: mix('/assets/images/breakfast_marcherant/toya.jpg'),
      title: '',
      desc: '里山懐石 登谷',
      link: '/foods_m/toya/'
    }
  ]

  breakfastMarcherantMenu1 = [
    {
      image: mix('/assets/images/breakfast_marcherant/image-1.jpg'),
      desc: `フランス産発酵バター100%使用<br class=""/>焼き立てクロワッサン`
    },
    {
      image: mix('/assets/images/breakfast_marcherant/image-2.jpg'),
      desc: '石窯でじっくり焼き上げた厚切りベーコン'
    },
    {
      image: mix('/assets/images/breakfast_marcherant/image-3.jpg'),
      desc: `旨味とコクのある<br class="u-show-sp"/>磨宝卵の目玉焼き`
    }
  ]

  breakfastMarcherantMenu2 = [
    {
      image: mix('/assets/images/breakfast_marcherant/point2-1.jpg'),
      desc: `純国産、純天然、無加工品の Organic Honeycomb`
    },
    {
      image: mix('/assets/images/breakfast_marcherant/point2-2.jpg'),
      desc: '国産天然100%　アカシアの最高品質はちみつ'
    },
    {
      image: mix('/assets/images/breakfast_marcherant/point2-3.jpg'),
      desc: `茂木町の農園直送　無農薬栽培の季節野菜`
    },
    {
      image: mix('/assets/images/breakfast_marcherant/point2-4.jpg'),
      desc: `フレッシュフルーツや彩り豊かなソフトドリンク`
    }
  ]

  breakfastMarcherantMenu3 = [
    {
      categoryName: '石窯料理 ',
      categoryList: [
        { listdesc: '厚切りベーコン' },
        { listdesc: '磨宝卵の目玉焼き' },
        { listdesc: '焼きたてクロワッサン' }
      ]
    },
    {
      categoryName: 'オリジナルメニュー ',
      categoryList: [
        { listdesc: 'スクランブルエッグ　' },
        { listdesc: 'ジャーマンポテト' },
        { listdesc: 'フライドポテト' },
        { listdesc: 'ウインナー' },
        { listdesc: 'サラミ盛り合わせ' },
        { listdesc: 'チーズ盛り合わせ' },
        { listdesc: '焼き鮭' },
        { listdesc: 'あじの開き' },
        { listdesc: 'カレイの西京焼き' },
        { listdesc: '明太子' },
        { listdesc: '肉じゃが' },
        { listdesc: 'そぼろレンコン' },
        { listdesc: '筑前煮' },
        { listdesc: 'きんぴらごぼう' },
        { listdesc: '切り干し大根' },
        { listdesc: 'ゆずこんにゃく' },
        { listdesc: 'だし入り山芋' },
        { listdesc: 'オクラと湯葉のお浸し' },
        { listdesc: '厚焼き玉子' },
        { listdesc: '温泉卵' },
        { listdesc: '納豆' }
      ]
    },
    {
      categoryName: 'サラダ ',
      categoryList: [
        { listdesc: '無農薬野菜のサラダバー' },
        { listdesc: 'ポテトサラダ' },
        { listdesc: '豆のサラダ' }
      ]
    },
    {
      categoryName: '主食 ',
      categoryList: [
        { listdesc: 'パン' },
        { listdesc: 'コーンフレーク' },
        { listdesc: 'フルーツグラノーラ' },
        { listdesc: 'お粥' },
        { listdesc: '特製カレー' }
      ]
    },
    {
      categoryName: 'スープ ',
      categoryList: [
        { listdesc: '味噌汁' }
      ]
    },
    {
      categoryName: 'ドリンク ',
      categoryList: [
        { listdesc: 'ドリンクバー' }
      ]
    },
    {
      categoryName: 'デザート ',
      categoryList: [
        { listdesc: 'フルーツ' },
        { listdesc: 'ミニケーキ' },
        { listdesc: 'ヨーグルト' }
      ]
    }
  ]

  lunchMarcherantRichMenu = [
    {
      image: mix('/assets/images/lunch_marcherant/title-3-right-image.jpg'),
      titlesvg: 'lunch-marcherant-title-3-right-title',
      titlealt: '茨城県大子町産豆腐の四川麻婆豆腐',
      pricesvg: 'lunch-marcherant-title-3-right-price',
      pricealt: '1,330円',
      desc: '水からこだわり丁寧に仕上げられた豆腐と那須豚を使ったお客さまに愛され続ける一品',
      tag: '付け合わせ',
      tagDesc: '日替わりスープ / 栃木県産コシヒカリのご飯'
    },
    {
      image: mix('/assets/images/lunch_marcherant/title-3_2_image.jpg'),
      titlesvg: 'lunch-marcherant-title-3-2-itle',
      titlealt: '粗挽き那須豚たっぷり四川坦々麺',
      pricesvg: 'lunch-marcherant-title-3-2-price',
      pricealt: '1,230円',
      desc: '香り高い栃木県産小麦の麺に粗挽き那須豚をたっぷり使った本格四川担々麺',
      tag: '付け合わせ',
      tagDesc: '日替わりサラダ / 栃木県産コシヒカリのご飯'
    },
    {
      image: mix('/assets/images/lunch_marcherant/title-3_3_image.jpg'),
      titlesvg: 'lunch-marcherant-title-3_3_title',
      titlealt: '薄切り那須三元豚のにんにくソースかけ',
      pricesvg: 'lunch-marcherant-title-3_3_price',
      pricealt: '1,300円',
      desc: '優しい甘みの那須三元豚に、 にんにくがアクセントの甘辛ソースをかけた 食欲そそる一品 ',
      tag: '付け合わせ',
      tagDesc: '中華スープ / ザーサイ / 栃木県産コシヒカリのご飯'
    },
    {
      image: mix('/assets/images/lunch_marcherant/title-3_4_image.jpg'),
      titlesvg: 'lunch-marcherant-title-3_4_title',
      titlealt: 'いっこく野州どりのトマトクリーム生スパゲッティー',
      pricesvg: 'lunch-marcherant-title-3_4_price',
      pricealt: '1,300円',
      desc: '肉質の高いいっこく野州鶏と地元製麺所の特製生パスタを使用したコク深いトマトクリームスパゲッティー',
      tag: '付け合わせ',
      tagDesc: '日替わりサラダ / 天然酵母パン'
	  }
  ]

  recommendedDinnerPlate = [
    {
      categoryName: `- Hors d'oeuvre -`,
      categorysvg: 'dinner-marcherant-hors-d-oeuvre',
      categoryList: [
        { listdesc: 'はじめの一皿' },
        { listdesc: 'シェフこだわりの4種チーズ' }
      ]
    },
    {
      categoryName: `- Soupe -`,
      categorysvg: 'dinner-marcherant-soupe',
      categoryList: [
        { listdesc: '本日のスープ ' }
      ]
    },
    {
      categoryName: `- Entrée＋Plat - `,
      categorysvg: 'dinner-marcherant-entree-plat',
      categoryList: [
        { listdesc: '牛フィレの厚切りステーキ' },
        { listdesc: '栃木の名産魚　プレミアムヤシオマスのカルパッチョ' },
        { listdesc: '那須野ヶ原牛のアッシュパルマンティエ' },
        { listdesc: '茂木町空土ファーム直送　季節の農園サラダ' }
      ]
    },
    {
      categoryName: `- Pain -`,
      categorysvg: 'dinner-marcherant-pain',
      categoryList: [
        { listdesc: 'シェフおすすめのパン' }
      ]
    },
    {
      categoryName: `- Dessert -`,
      categorysvg: 'dinner-marcherant-dessert',
      categoryList: [
        { listdesc: '本日のデザート（ワゴンサービス）' }
      ]
    },
    {
      categoryName: `- Café ou Thé -`,
      categorysvg: 'dinner-marcherant-cafe-ou-the',
      categoryList: [
        { listdesc: 'コーヒー　または　紅茶' }
      ]
    }
  ]

  marcherantDinnerBuffetMenu = [
    {
      categoryName: '石窯料理  ',
      categoryList: [
        { listdesc: '牛フィレのロースト' },
        { listdesc: 'ピザ' }
      ]
    },
    {
      categoryName: 'オリジナルメニュー ',
      categoryList: [
        { listdesc: '和洋中のメニューを<br>種類豊富にご用意' }
      ]
    },
    {
      categoryName: 'サラダ ',
      categoryList: [
        { listdesc: 'サラダバー' },
        { listdesc: '季節野菜のオリジナルサラダ' }
      ]
    },
    {
      categoryName: 'スープ ',
      categoryList: [
        { listdesc: '味噌汁' },
        { listdesc: 'ポタージュ'}
      ]
    },
    {
      categoryName: '主食 ',
      categoryList: [
        { listdesc: 'ご飯'},
        { listdesc: 'カレー'},
        { listdesc: '蕎麦'},
        { listdesc: '寿司'},
        { listdesc: 'パスタ'},
        { listdesc: 'パン'}
      ]
    },
    {
      categoryName: 'お子さま手作りメニュー ',
      categoryList: [
        { listdesc: 'オムライス'},
        { listdesc: 'キッズバーガー'},
        { listdesc: 'クレープ'}
      ]
    },
    {
      categoryName: 'チーズ ',
      categoryList: [
        { listdesc: 'オークスモークチェダー'},
        { listdesc: 'マンチェゴチーズ'},
        { listdesc: 'チェリーモッツァレラ'},
        { listdesc: 'ミモレット'},
        { listdesc: 'キャステロブルー'},
        { listdesc: 'グラナパダーノ'}
      ]
    },
    {
      categoryName: 'ドリンク ',
      categoryList: [
        { listdesc: 'ドリンクバー'},
        { listdesc: 'ベジタブルウォーター'},
        { listdesc: 'アルコール<br>（地ビール・地酒・ワイン）<br>※アルコールは別途料金を<br>頂戴します。'}
      ]
    },
    {
      categoryName: 'デザート ',
      categoryList: [
        { listdesc: 'フルーツ'},
        { listdesc: 'ミニケーキ'},
        { listdesc: '季節のデザート'},
        { listdesc: '和スイーツ'},
        { listdesc: 'アイスクリーム'},
        { listdesc: 'チョコレートファウンテン'}
      ]
    }
  ]

  marcherantDinnerBuffetOtherMenu = [
    {
      image: mix('/assets/images/dinner-buffet/other-menu-1.jpg'),
      title: ``,
      desc: `ディナーセット`,
      link: '/foods_m/marcherant_dinner/'
    },
    {
      image: mix('/assets/images/dinner-buffet/link-dinnerset.jpg'),
      title: ``,
      desc: `ランチ`,
      link: '/foods_m/marcherant_lunch/'
    },
    {
      image: mix('/assets/images/dinner-buffet/link-breakfast.jpg'),
      title: ` `,
      desc: `朝食`,
      link: '/foods_m/marcherant_morning/'
    },
    {
      image: mix('/assets/images/dinner-buffet/link-toya.jpg'),
      title: ``,
      desc: `里山懐石 登谷`,
      link: '/foods_m/toya/'
    }
  ]
%>
