<%
  targetAttraction = [
    {
      image: mix('/assets/images/recommendation/recommendation03.jpg'),
      heading: '森感覚アスレチック DOKIDOKI',
      buttonLink: '/dokidoki/',
      buttonText: 'モビパーク'
    },
    {
      image: mix('/assets/images/recommendation/recommendation04.jpg'),
      heading: '迷宮森殿 ITADAKI ',
      buttonLink: '/itadaki/',
      buttonText: 'モビパーク'
    },
    {
      image: mix('/assets/images/recommendation/recommendation02.jpg'),
      heading: '巨大ネットの森 SUMIKA',
      buttonLink: '/sumika/',
      buttonText: 'モビパーク'
    }
  ]

  flowdata = [
    {
      image: mix('/assets/images/smart_entry/step-01.png'),
      alt: 'step 1',
      headline: `スマートエントリーを
      対象アトラクション前で
      取得`,
      desc: `<span class="color-red">定員に達し次第、配布を終了</span>とさせて
      いただきますのでお早めに取得くだ
      さい。`
    },
    {
      image: mix('/assets/images/smart_entry/step-02.png'),
      alt: 'step 2',
      headline: `時間になったら
      アトラクションへ`,
      desc: `スマートエントリーに記載された時間
      になったら、アトラクションまでお
      越しください。`
    },
    {
      image: mix('/assets/images/smart_entry/step-03.png'),
      alt: 'step 3',
      headline: `長時間並ばず
      アトラクションを
      楽しめます`,
      desc: `混雑が予想される日も長時間並ぶこと
      なく人気アトラクションをお楽しみ
      いただけます。`
    }
  ]
%>