<%
  targetAttraction = [
    {
      image: mix('/assets/images/smart_entry/dokidoki.jpg'),
      heading: '森感覚アスレチック DOKIDOKI',
      buttonLink: '/dokidoki/',
      buttonText: 'モビパーク'
    },
    {
      image: mix('/assets/images/smart_entry/itadaki.jpg'),
      heading: '迷宮森殿 ITADAKI ',
      buttonLink: '/itadaki/',
      buttonText: 'モビパーク'
    },
    {
      image: mix('/assets/images/smart_entry/sumika.jpg'),
      heading: '巨大ネットの森 SUMIKA',
      buttonLink: '/sumika/',
      buttonText: 'モビパーク'
    }
  ]

  flowdata = [
    {
      image: mix('/assets/images/smart_entry/step-01.png'),
      alt: 'step 1',
      headline: `スマートエントリーを <br class=""/>
      対象アトラクション前で<br class="u-show-pc"/>取得`,
      desc: `<span class="color-red">定員に達し次第、配布を終了</span>とさせて
      いただきますのでお早めに取得ください。`
    },
    {
      image: mix('/assets/images/smart_entry/step-02.png'),
      alt: 'step 2',
      headline: `時間になったら <br class=""/>
      アトラクションへ`,
      desc: `スマートエントリーに記載された時間になったら、アトラクションまでお越しください。`
    },
    {
      image: mix('/assets/images/smart_entry/step-03.png'),
      alt: 'step 3',
      headline: `長時間並ばず<br class="u-show-pc"/>アトラクションを<br class=""/>楽しめます`,
      desc: `混雑が予想される日も長時間並ぶことなく人気アトラクションをお楽しみいただけます。`
    }
  ]
%>