<article class="article article-no-design">
  <div class="article-image-wrap">
    <div class="article-image"
         style="background-image: url(<% if(image != '') { %>
           <%- image %>
           <% } else { %><%= mix('/assets/images/noimage.jpg') %>
           <% } %>)"></div>
  </div>
  <p class="article-heading"><%- heading %></p>
  <%- include('/partials/button-gradient', {
    'modifier': 'button-gradient-cmn',
    'texts': 'モデルコース',
    'link': buttonLink
  }) %>
</article>
