<%
if (typeof link === 'undefined'){
  var link = '';
}

if (typeof imgPath === 'undefined'){
  var imgPath = '';
}

if(typeof modifier === 'undefined'){
  var modifier ='';
}

if(typeof alt === 'undefined'){
  var alt ='';
}
%>

<div class="banner-cta <%- modifier %>">
  <div class="l-container">
    <a class="banner-cta-bottom-inner" href="<%- link %>" target="_blank">
      <img src="<%- imgPath %>" alt="<%- alt %>">
    </a>
  </div>
</div>
