<% if(breadcrumbs) {%>
  <div class="breadcrumbs">
    <div class="l-container">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link" href="#">
            <span>TOP</span>
          </a>
        </li>
        <% breadcrumbs.forEach(item => { %>
          <li class="breadcrumbs-item">
            <% if(item.link === '') { %>
              <span><%- item.pageTitle %></span>
            <% } else { %>
              <a class="breadcrumbs-link" href="#">
                <span><%- item.pageTitle %></span>
              </a>
            <% } %>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>
