<a class="button-gradient" href="<%- link %>">
  <img src="<%- texts %>" alt="<%- alt %>">
  <i class="button-gradient-icon">
    <%- include('/partials/svg', {
      'name': 'arrow'
    }) %>
  </i>
</a>
