<% if (typeof texts === 'undefined') {
    var texts = '';
} 
%>
<a class="button<%- ' '+modifier %>" href="<%- link %>"><%- texts %>
  <i class="button-icon">
    <%- include('/partials/svg', {
      'name': 'arrow'
    }) %>
  </i>
</a>
