<a class="button-gradient <%- modifier %>" href="<%- link %>">
  <span class="button-gradient-text"><%- text %></span>
  <i class="button-gradient-icon">
    <%- include('/partials/svg', {
      name: 'arrow'
    }) %>
  </i>
</a>
