<%
  footerTopList = [
    [
      {
        'text': 'トップページ',
        'sub': ''
      },
      {
        'text': 'もてぎの楽しみ方',
        'sub': ''
      },
      {
        'text': 'ニュース・イベント',
        'sub': ''
      },
      {
        'text': 'もてぎの楽しみ方',
        'sub': ''
      },
      {
        'text': 'ニュース・イベント',
        'sub': [
          { 'text': 'ニュース一覧', 'link': '#' },
          { 'text': 'イベント一覧', 'link': '#' },
          { 'text': '春のイベント特集', 'link': '#' },
          { 'text': 'GWのイベント特集', 'link': '#' },
          { 'text': '冬のイベント特集', 'link': '#' },
          { 'text': '花火の祭典　夏/冬', 'link': '#' }
        ]
      },
      {
        'text': 'エリア・施設',
        'sub': [
          { 'text': 'ハローウッズ', 'link': '#' },
          { 'text': 'イベント一覧', 'link': '#' },
          { 'text': '森と星空のキャンプヴィレッジ', 'link': '#' },
          { 'text': 'ホテルツインリンク', 'link': '#' },
          { 'text': 'モータースポーツ', 'link': '#' },
          { 'text': 'ホンダコレクションホール/冬', 'link': '#' },
          { 'text': '安全運転スクール/冬', 'link': '#' }
        ]
      }
    ],
    [
      {
        'text': 'アトラクション・アクティビティ',
        'sub': [
          { 'text': '巨大ネットの森SUMIKA', 'link': '#' },
          { 'text': '森感覚アスレチックDOKIDOKI', 'link': '#' },
          { 'text': '迷宮森殿ITADAKI', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': 'お子様のクルマ＆バイクのアトラクション', 'link': '#' },
          { 'text': '大人も楽しめる本格レーシングカート', 'link': '#' },
          { 'text': 'クルマのワークショップ（ピット工房）', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': 'メガジップラインつばさ', 'link': '#' },
          { 'text': '森のジップラインムササビ', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': '森の散策プログラム', 'link': '#' },
          { 'text': '森の研究室', 'link': '#' },
          { 'text': '森のクラフト体験', 'link': '#' },
          { 'text': '森の体験プログラム', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': 'コチラレーシング', 'link': '#' }
        ]
      }
    ],
    [
      {
        'text': 'モータースポーツ',
        'sub': [
          { 'text': 'MotoGP', 'link': '#' },
          { 'text': 'トライアル世界選手権', 'link': '#' },
          { 'text': 'SUPER　GT', 'link': '#' },
          { 'text': '２＆４レース', 'link': '#' },
          { 'text': '全日本ロードレース選手権', 'link': '#' },
          { 'text': 'スーパー耐久', 'link': '#' },
          { 'text': '全日本トライアル選手権', 'link': '#' },
          { 'text': '全日本カート選手権', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': 'サーキットを走るTOP', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': '安全運転スクール', 'link': '#' },
          { 'text': 'スクール・走行会　４輪', 'link': '#' },
          { 'text': 'スクール・走行会　２輪', 'link': '#' },
          { 'text': 'TRMC-S会員', 'link': '#' },
          { 'text': 'ツインリンクもてぎエンジェル', 'link': '#' }
        ]
      },
    ],
    list4 = [
      {
        'text': 'ホテル・キャンプ',
        'sub': [
          { 'text': '森と星空のキャンプヴィレッジ', 'link': '#' },
          { 'text': 'グランピング', 'link': '#' },
          { 'text': 'ログキャビン', 'link': '#' },
          { 'text': '２＆４レース', 'link': '#' },
          { 'text': 'キャンプ', 'link': '#' },
          { 'text': 'BBQ', 'link': '#' },
          { 'text': '宿泊者限定アクティビティ', 'link': '#' }
        ]
      },
      {
        'text': '',
        'sub': [
          { 'text': 'ホテルツインリンク', 'link': '#' },
          { 'text': 'スーペリアファミリールーム', 'link': '#' },
          { 'text': 'グランルーム', 'link': '#' },
          { 'text': 'ゲストルーム', 'link': '#' },
          { 'text': 'のぞみの湯', 'link': '#' },
          { 'text': '里山懐石 登谷', 'link': '#' }
        ]
      },
      {
        'text': 'レストラン',
        'sub': [
          { 'text': 'レストラン一覧', 'link': '#' }
        ]
      },
      {
        'text': 'グッズ＆ショップ',
        'sub': ''
      }
    ]
  ]

%>

<nav class="footer-top-links">
  <%
    footerTopList.forEach( list => {
  %>
  <ul class="footer-top-links-list">
    <%
      list.forEach( item => {
    %>
    <li class="footer-top-links-item">
      <span class="footer-top-links-text"><%- item.text %></span>

       <% if(item.sub != '') { %>
        <ul class="footer-top-links-sub">
          <%
            item.sub.forEach( sub => {
          %>
          <li><a href="<%- sub.text %>"><%- sub.text %></a></li>
          <% }) %>
        </ul>
      <% } %>
    </li>
    <% }) %>
  </ul>
  <% }) %>
</nav>
