<nav class="footer-top-links">
  <%
    getData().data.footerTopList.forEach( list => {
  %>
  <ul class="footer-top-links-list">
    <%
      list.forEach( item => {
    %>
    <li class="footer-top-links-item">
      <span class="footer-top-links-text"><%- item.text %></span>

       <% if(typeof item.sub == 'object') { %>
        <ul class="footer-top-links-sub">
          <%
            item.sub.forEach( sub => {
          %>
          <li><a href="<%- sub.text %>"><%- sub.text %></a></li>
          <% }) %>
        </ul>
      <% } %>
    </li>
    <% }) %>
  </ul>
  <% }) %>
</nav>
