<div class="header-sub-content-inner header-sub-content-inner-access js-header-sub-content-inner" data-content="#header-sub-access">

  <a class="header-sub-top-button" href="#">エリア・施設TOP</a>

  <div class="header-sub-inner">
    <div class="header-sub-inner-block">
      <div class="header-sub-image-list-wrap">
        <% getData().data.headerAccessImageList.forEach( list => { %>
          <ul class="header-sub-image-list">
            <% list.forEach( item => { %>
            <li class="header-sub-image-item">
              <a class="header-sub-image-link" href="#">
                <div class="header-sub-image" style="background-image: url(<%- item.image %>);"></div>
                <span class="header-sub-image-text"><%- item.text %></span>
              </a>
            </li>
            <% }) %>
          </ul>
        <% }) %>
      </div>
    </div>
  </div>

</div>
