<!DOCTYPE html>
<html lang="en">
<!-- START DELETE HEADER CONTENTS -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%- include('/partials/meta', { pageId }) %>
</head>
<body>
<!-- END DELETE HEADER CONTENTS -->
<!-- START DELETE HEADER CONTENTS FOR SUB -->
		<% if (pageId === 'index') { %>
			<div class="preload js-preload">
				<div class="preload-image"></div>
				<img class="preload-text" src="<%= mix('/assets/images/footer-twinring.png') %>" alt="">
			</div>
		<% } %>
<!-- END DELETE HEADER CONTENTS FOR SUB -->
<!-- START DELETE HEADER CONTENTS -->
 <div class="wrap" id="js-wrap">

   <!-- for emergency news -->
   <script type="text/javascript" src="//apps.mobilityland.co.jp/system/motegi/header.js" charset="UTF-8"></script>
   <link rel="stylesheet" href="<%= mix('/assets/css/emergencynews.css') %>">


		<% var topHeading; %>
		<%- include('/partials/header', {
			topHeading: topHeading
		}) -%>
<!-- END DELETE HEADER CONTENTS -->
