<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <%- include('/partials/meta') %>
</head>
<body>

  <% if (pageId === 'index') { %>
    <div class="preload js-preload">
      <div class="preload-image"></div>
      <img class="preload-text" src="<%= mix('/assets/images/footer-twinring.png') %>" alt="">
    </div>
  <% } %>

  <div class="wrap" id="js-wrap">

  <% var topHeading; %>
  <%- include('/partials/header', {
    topHeading: topHeading
  }) -%>
