<section class="l-how-to design-how-to">
  <div class="how-to">
    <%- include('/partials/heading', {
      modifier: 'heading-wrap-how-to heading-wrap-center',
      text: 'How to Enjoy',
      subtextvg: 'how-to-subtext',
      altSubtext: ''
    }) %>

    <div class="slider-wrap slider-wrap-how-to">
      <div class="swiper-container slider js-slider-how-to slider-how-to-enjoy">
        <ul class="swiper-wrapper slider-wrapper">
          <%
            getData().data.howToContent.forEach( howToItem => {
          %>
          <li class="swiper-slide slider-item">
            <%- include('/partials/article-no-design', {
              category: '',
              image: howToItem.image,
              heading: howToItem.heading,
              type: '',
              date: '',
              link: '',
              modifier: '',
              buttonText: howToItem.buttonText,
              buttonLink: howToItem.buttonLink
            }) %>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>

    <div class="how-to-container"></div>
  </div>
</section>
