<section class="bottom-slider bottom-slider-pickup">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      modifier: 'heading-pickup',
      text: 'Pick Up',
      altSubtext: '',
      subtextvg: 'pickup-event'
    }) %>
  </div>

  <div class="swiper-container slider-pickup js-slider-bottom">
    <ul class="swiper-wrapper slider-wrapper">
      <% getData().data.pickup.forEach(item => { %>
      <li class="swiper-slide slider-item">
        <%- include('/partials/article-no-design', {
          category: item.category,
          image: item.image,
          heading: item.heading,
          type: item.type,
          date: item.date,
          link: item.link,
          modifier: 'article-pickup',
          buttonLink: '',
          buttonText: ''
        }) %>
      </li>
      <% }) %>
    </ul>
  </div>
</section>
