<section class="recommendation">
  <div class="l-section-title">
    <%- include('/partials/heading', {
      modifier: 'heading-recommend',
      text: 'Recommendation',
      altSubtext: '',
      subtextvg: 'recommendation-title'
    }) %>
  </div>
    <div class="swiper-container slider js-slider-bottom">
      <ul class="swiper-wrapper slider-wrapper">
        <% getData().data.recommend.forEach(item => { %>
        <li class="swiper-slide slider-item">
          <%- include('/partials/article-no-design', {
            image: item.image,
            heading: item.heading,
            buttonLink: item.buttonLink,
            buttonText: 'モビパーク'
          }) %>
        </li>
        <% }) %>
      </ul>
    </div>
</section>
