AddType image/svg+xml .svg .svgz

# For Redirect
# RewriteRule ^PATH$ URL [R=301,L] 
RewriteRule ^about/index.html$ /itadaki/ [R=301,L]
RewriteRule ^hellowoods/index.html$ /itadaki/ [R=301,L]
RewriteRule ^faq/index.html$ /itadaki/ [R=301,L]
RewriteRule ^secret/index.html$ /itadaki/ [R=301,L]

