.attractions-list {
  section {
    margin-bottom: 80px;
  }

  .heading-wrap {
    margin-bottom: 80px;

    .heading-text {
      width: auto;
      max-width: 400px;
    }
  }
  
  .feature-list {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0;

    .feature-item {
      width: calc(100% / 2);
      max-width: 480px;

      article {
        padding-bottom: 80px;
      }
      &:last-child {
        article {
          padding-bottom: 0px;
        }
      }
      @include max-screen ($breakpoint-mobile) {
        width: 100%;
        margin: 0;
      }
    }
  }

  .article-image-wrap {
    position: relative;

    .image-tag {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px;
      color: $color-white;
    }
  }

  .item-name {
    font-size: 24px;
    font-weight: bold;
    padding: 17px 0;
    text-align: left;
  }

  @include max-screen($breakpoint-mobile) {
    .table {

      .table-head {
        font-size: 16px;
        padding: 20px;
        min-width: 100px;
        line-height: 1.5;

      }

      .table-col {
        font-size: 16px;
        padding: 20px;
        line-height: 1.5;
      }

    }
  }
}