$color-green-2: #368121;
$color-green-3: #90ae28;
$color-green-4: #41a327;
$color-green-5: #d2e737;
.bg-green {background-color: $color-green}
.bg-green-2 {background-color: $color-green-2}
.bg-green-3 {background-color: $color-green-3}
.bg-green-4 {background-color: $color-green-4}
.bg-green-5 {background-color: $color-green-5}