.main-content {
  .dokidoki-title-svg {
    text-align: center;
  }
  
  .heading {
    margin: 50px 0;
    text-align: center;
  }

  .heading-texts {
    img {
      max-width: 651px;
      width: 100%;
    }
  }
}