.dokidoki-pick-up {
  margin-top: 30px;
  margin-bottom: 120px;

  .heading-subtext {
    max-width: 415px;
    width: 100%;
  }

  .feature-list {
    border-bottom: 1px solid #dfdfdf;
  }

  .article-heading,
  .article-period {
    padding-left: 0px;
  }
}