.admission-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.attraction-subtext {
  margin-bottom: 20px;
  font-size: 15px;
  color: rgb(51, 51, 51);
  line-height: 2;
  text-align: left;  
  letter-spacing: 0.160em;
}