.forest {
  margin-top: 50px;

  .dokidoki-wrapper {
    margin-top: 55px;
    overflow-x: hidden;
  }
  
  .dokidoki-container {
    width: 1850px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  
    .dokidoki-item {
      width: 576px;
    }
  }
  
  .slide-text {
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }
}