.dokidoki-instagram {
  display: block;
  margin-top: 80px;

  .heading-net-dokidoki {
    .heading-text {
      max-width: 618px;
      width: 100%;
      display: inline-block;
    }
  }
}

.dokidoki-instagram-banner {
  text-align: center;
  margin-top: 72px;
}

.dokidoki-inner {
  position: relative;
  background: url(#{$image-path}sumika/frame-lg.png) no-repeat center top;
  background-size: 100% 100%;
  padding-bottom: 80px;
  z-index: $z-max;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-image: url(#{$image-path}sumika/net-sumika/vine-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 59px;
  }

  &:after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    background-image: url(#{$image-path}sumika/net-sumika/vine-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 59px;
  }
}

.dokidoki-inner-content {
  position: relative;
  padding-top: 69px;
  margin: 5px;
  z-index: 2;

  &:before {
    content: '';
    position: absolute;
    background-image: url(#{$image-path}sumika/net-sumika/green-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    left: -89px;
    top: -99px;
    right: -67px;
    bottom: -197px;
  }
}

.dokidoki-instagram-content {
  text-align: center;
  margin-top: -25px;
}

.dokidoki-instagram-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}

.dokidoki-instagram-list-item {
  padding: 0 10px;
}

.dokidoki-instagram-list-item-image {
  width: 212px;
  height: 198px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 20px;

  img {
    width: 100%;
    height: auto;
  }
}
