.attraction-title {
  margin-top: 30px;
  margin-bottom: 15px;
}

.attraction-subtext {
  margin-bottom: 20px;
  font-size: 15px;
  color: $base-font-color;
  line-height: 2;
  text-align: left;  
  letter-spacing: 0.160em;
}