.enjoy-more-inner {
  width: 1020px;
  margin: 50px auto 50px;
  padding: 46px 0 47px;
  text-align: center;
  background-image: url(/assets/images/dokidoki/enjoy-more-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .enjoy-text {
    font-size: 15px;
    color: rgb(51, 51, 51);  
    letter-spacing: 0.16em;
  }
  
  .heading-texts {
    width: 423px;
    height: 29px;
    margin: 0 auto 24px;
  
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .l-button {
    margin-top: 25px;
  }
}

.bubble {

  span {
    position: absolute;

    &:first-child {
      left: -40px;
      bottom: -15px;
    }

    &:nth-child(2) {
      left: 130px;
      top: -15px;
    }

    &:nth-child(3) {
      right: -40px;
      top: -30px;
    }

    &:nth-child(4) {
      right: 135px;
      bottom: -22px;
    }
  }
}