.faq {
  margin-top: 100px;
}

.faq-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-family: "Holland";
  line-height: 0.833;
  text-align: center;
  letter-spacing: 0.16em;
}

.faq-subtext {
  margin-bottom: 25px;
  font-size: 36px;
  font-family: "RoHMinSinkPro";
  color: rgb(51, 51, 51);
  line-height: 0.833;
  text-align: center;  
  letter-spacing: 0.16em;
}

.faq-container {
  margin-top: 50px;
}