.how-to-title {
  text-align: center;
  font-size: 36px;
  font-family: "Holland";
  color: rgb(255, 255, 255);
  line-height: 0.833;  
}

.how-to-subtext {
  margin-bottom: 50px;
    font-size: 36px;
    font-family: "Kozuka Gothic Pr6N";
    color: rgb(51, 51, 51);
    line-height: 0.833;
    text-align: center;
    transform: matrix( 0.99965316453765,0,0,1,0,0);
    -moz-transform: matrix( 0.99965316453765,0,0,1,0,0);
    -webkit-transform: matrix( 0.99965316453765,0,0,1,0,0);
    -ms-transform: matrix( 0.99965316453765,0,0,1,0,0);  
}

.media-bottom {
  margin-left: 25px;
  text-align: left;
}