.instagram {
  margin-top: 150px;
}

.instagram-title {
  margin-bottom: 50px;
  font-size: 39px;
  font-family: "Kozuka Gothic Pr6N";
  color: rgb(51, 51, 51);
  line-height: 0.77;
  text-align: center;
  letter-spacing: 0.16em;
}

.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail-item {
  width: 20%;
  flex: 1 0 20%;

  &:nth-child(7n + 5) {
    width: calc(100% / 5);
    flex-grow: 0;
  }
}