.instagram {
  margin-top: 150px;
}

.instagram-title {
  font-size: 39px;
  font-family: "Kozuka Gothic Pr6N";
  color: rgb(51, 51, 51);
  line-height: 0.77;
  text-align: center;
  letter-spacing: 0.16em;
}