//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$font-hiragino: 'HiraKakuPro-W6-AlphaNum';

$base-font-family: $font-hiragino, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 14px;
$base-font-color: #333;
$base-background-color: #fff;

$color-primary: $base-font-color;
$color-green: #00a040;
$color-white: #fff;
$color-light: #fefefe;
$color-light-green: #47b97f;
$color-gray: #ccc;
$color-mineshaft: #2d2d2d;
$color-seaweed: #12290f;
$color-crusoe: #1a4d01;

$breakpoint-tablet: 1279px;
$breakpoint-mobile: 767px;

$container: 1220px;

//path
$font-path: "../lib/fonts/";
$image-path: "../images/";

$ease-in-out: ease-in-out;
$ease-animation: cubic-bezier(1, 0, 0, 1);
$duration: .25s;

$z-max: 10;
$z-max9: 9;
$z-min2: 2;
$z-min: 1;
