<div id="trmContentWrap2016">
	<script type="text/javascript" src="//apps.mobilityland.co.jp/system/motegi/header.js" charset="UTF-8"></script><div id="emergencynews"><p>2020年3月1日（日）から3月15日（日）の間、｢モビパーク・ハローウッズ・Honda Collection Hall｣を臨時休園いたします。<a href="https://www.twinring.jp/motegi/guidance/" target="_blank">&gt;&gt;詳しくはこちら</a></p></div>


	<!-- ==================  #trm_content_wrap  ================== -->
	<div id="trm_content_wrap">

		<div class="content_inner">
			<!-- .column2-->
			<div class="column2" id="attraction_motorsports">
				<div class="column">
					<a href="./attraction/" class="attraction">
						<div class="img"></div>
						<div class="txt">
							<div class="en">ATTRACTION</div>
							<div class="ja">アトラクション</div>
						</div>
					</a>
				</div>
				<div class="column">
					<a href="./motorsports_m/" class="motorsports">
						<div class="img"></div>
						<div class="txt">
								<div class="en">MOTORSPORTS</div>
								<div class="ja">モータースポーツ</div>
							</div>
						</a>
				</div>
			</div>
			<!-- /.column2-->

			<!-- #ranking-->
			<div id="ranking">
				<h2 class="head_title">TOP10<span>人気のページ</span></h2>
				<div class="ranking_column">
					<div class="columnB" data-list="1">
						<ol>
							<li>
								<a href="./sumika/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_01_02.jpg" data-src="./assets/lib/test/top/img/img_ranking_01_02.jpg" alt="巨大ネットの森 SUMIKA">
									</div>
									<span class="txt">
										<p class="title">巨大ネットの森 SUMIKA</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./f-glamping/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_02_02.jpg" data-src="./assets/lib/test/top/img/img_ranking_02_02.jpg" alt="森と星空のキャンプヴィレッジ">
									</div>
									<span class="txt">
										<p class="title">森と星空のキャンプヴィレッジ</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./dokidoki/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_dokidoki.jpg" data-src="./assets/lib/test/top/img/img_ranking_dokidoki.jpg" alt="森感覚アスレチック DOKIDOKI">
									</div>
									<span class="txt">
										<p class="title">森感覚アスレチック DOKIDOKI</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./hoteltwinring/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_hotel.jpg" data-src="./assets/lib/test/top/img/img_ranking_hotel.jpg" alt="ホテルツインリンク">
									</div>
									<span class="txt">
										<p class="title">ホテルツインリンク</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./hellowoods/tekuteku/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_tekuteku.jpg" data-src="./assets/lib/test/top/img/img_ranking_tekuteku.jpg" alt="森のファミリーウォーク TEKUTEKU">
									</div>
									<span class="txt">
										<p class="title">森のファミリーウォーク<br>TEKUTEKU</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./superbike_m/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_superbike.jpg" data-src="./assets/lib/test/top/img/img_ranking_superbike.jpg" alt="2020 MFJ全日本ロードレース選手権シリーズ 第2戦 スーパーバイクレース in もてぎ">
									</div>
									<span class="txt">
										<p class="title">スーパーバイクレース<br>チケット発売中！</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./hellowoods/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_hw.jpg" data-src="./assets/lib/test/top/img/img_ranking_hw.jpg" alt="ハローウッズ">
									</div>
									<span class="txt">
										<p class="title">ハローウッズ</p>
									</span>
								</a>
							</li>

							<li>
								<a href="./itadaki/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_07_02.jpg" data-src="./assets/lib/test/top/img/img_ranking_07_02.jpg" alt="迷宮森殿 ITADAKI">
									</div>
									<span class="txt">
										<p class="title">迷宮森殿 ITADAKI</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./mobipark_m/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_mobi.jpg" data-src="./assets/lib/test/top/img/img_ranking_mobi.jpg" alt="モビパーク">
									</div>
									<span class="txt">
										<p class="title">モビパーク</p>
									</span>
								</a>
							</li>
							<li>
								<a href="./collection-hall/">
									<div class="img">
										<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_ranking_08_02.jpg" data-src="./assets/lib/test/top/img/img_ranking_08_02.jpg" alt="ホンダコレクションホール">
									</div>
									<span class="txt">
										<p class="title">ホンダコレクションホール</p>
									</span>
								</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /#ranking-->

			<!-- #line up-->
			<div id="lineup">
				<h2 class="head_title js-scrollon js-scrollon-loaded">LINE UP<span>施設・エリア紹介</span></h2>
				<section id="attraction" class="js-scrollon js-scrollon-loaded">
					<h3 class="title">アトラクション</h3>
					<div class="column3">
						<div class="column">
							<a href="./attraction/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_attraction_01.jpg" data-src="./assets/lib/test/top/img/img_attraction_01.jpg" alt="アスレチック＆迷路 “仕掛け”をクリアしながら森を探検">
								</span>
								<div class="txt">
									<h4 class="title">アスレチック＆迷路</h4>
									<p>“仕掛け”をクリアしながら森を探検</p>
								</div>
							</a>
						</div>
						<div class="column">
							<a href="./mobipark_m/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_attraction_03.jpg" data-src="./assets/lib/test/top/img/img_attraction_03.jpg" alt="クルマ・バイクのアトラクション お子さまもチャレンジできる「運転」アトラクション">
								</span>
								<div class="txt">
									<h4 class="title">クルマ・バイクのアトラクション</h4>
									<p>お子さまもチャレンジできる「運転」アトラクション</p>
								</div>
							</a>
						</div>
						<div class="column">
							<a href="./hellowoods/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_attraction_02.jpg" data-src="./assets/lib/test/top/img/img_attraction_02.jpg" alt="森のアドベンチャー＆森あそび 空中と地上を散策して森を満喫！">
								</span>
								<div class="txt">
									<h4 class="title">森のアドベンチャー＆森あそび</h4>
									<p>空中と地上を散策して森を満喫！</p>
								</div>
							</a>
						</div>
					</div>
				</section>
				<section id="resort" class="js-scrollon js-scrollon-loaded">
					<h3 class="title">リゾート</h3>
					<div class="column3">
						<div class="column">
							<a href="./f-glamping/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_resort_01.jpg" data-src="./assets/lib/test/top/img/img_resort_01.jpg" alt="森と星空のキャンプヴィレッジ もてぎの森で贅沢なキャンプを体験！">
								</span>
								<div class="txt">
									<h4 class="title">森と星空のキャンプヴィレッジ</h4>
									<p>もてぎの森で贅沢なキャンプを体験！</p>
								</div>
							</a>
						</div>
						<div class="column">
							<a href="./hoteltwinring/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_resort_02.jpg" data-src="./assets/lib/test/top/img/img_resort_02.jpg" alt="ホテルツインリンク もてぎの森で優雅なひとときを">
								</span>
								<div class="txt">
									<h4 class="title">ホテルツインリンク</h4>
									<p>2020.3.13 森の癒やしをテーマにリニューアルオープン</p>
								</div>
							</a>
						</div>
						<div class="column">
							<a href="./hoteltwinring/nozominoyu/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_resort_03.jpg" data-src="./assets/lib/test/top/img/img_resort_03.jpg" alt="のぞみの湯 昼は里山を望み、夜は満天の星を仰ぐ。癒しの空間">
								</span>
								<div class="txt">
									<h4 class="title">のぞみの湯</h4>
									<p>昼は里山を望み、夜は満天の星を仰ぐ。癒しの空間</p>
								</div>
							</a>
						</div>
					</div>
				</section>
				<section id="restaurant_shop" class="js-scrollon js-scrollon-loaded">
					<h3 class="title">レストラン＆ショップ</h3>
					<div class="column3">
						<div class="column">
							<a href="./foods_m/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_restaurant_shop_01.jpg" data-src="./assets/lib/test/top/img/img_restaurant_shop_01.jpg" alt="レストラン・カフェ 季節の地場食材にシェフが腕をふるうランチ＆ディナー">
								</span>
								<div class="txt">
									<h4 class="title">レストラン・カフェ</h4>
									<p>季節の地場食材にシェフが腕をふるうランチ＆ディナー</p>
								</div>
							</a>
						</div>
						<div class="column">
							<a href="./goods_m/">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_restaurant_shop_02.jpg" data-src="./assets/lib/test/top/img/img_restaurant_shop_02.jpg" alt="ショップ お土産からレーシンググッズまで、充実の品ぞろえ">
								</span>
								<div class="txt">
									<h4 class="title">ショップ</h4>
									<p>お土産からレーシンググッズまで、充実の品ぞろえ</p>
								</div>
							</a>
						</div>
						<div class="column">
							<a href="https://online.mobilityland.co.jp/" target="_blank">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_restaurant_shop_03.jpg" data-src="./assets/lib/test/top/img/img_restaurant_shop_03.jpg" alt="オンラインショップ（モビリティステーション） 前売りチケットや観戦グッズはこちらから">
								</span>
								<div class="txt">
									<h4 class="title">モビリティステーション</h4>
									<p>前売りチケットや観戦グッズはこちらから</p>
								</div>
							</a>
						</div>
					</div>
				</section>
				<section id="motorsports" class="js-scrollon js-scrollon-loaded">
					<h3 class="title">モータースポーツ＆スクール</h3>
					<div class="column3 js-slick-spnone slick-initialized slick-slider" data-custom-arrows="custom-slick-arrows" data-slick="{
						&quot;slidesToShow&quot;: 3,
						&quot;slidesToScroll&quot;: 1,
						&quot;appendArrows&quot;: &quot;.custom-slick-arrows&quot;
					}">
						<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3685px; transform: translate3d(-1005px, 0px, 0px);"><div class="column slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./motorsports_m/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_02.jpg" data-src="./assets/lib/test/top/img/img_motorsports_02.jpg" alt="レース・イベント 国内外のレースや参加型レース・イベントを開催">
								</span>
								<div class="txt">
									<h4 class="title">レース・イベント</h4>
									<p>国内外のレースや参加型レース・イベントを開催</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./astp/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_03.jpg" data-src="./assets/lib/test/top/img/img_motorsports_03.jpg" alt="アクティブセーフティトレーニングパーク 体験しながら安全運転を学ぶスクール">
								</span>
								<div class="txt">
									<h4 class="title">アクティブセーフティ<br>
										トレーニングパーク</h4>
									<p>体験しながら安全運転を学ぶスクール</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./mobipark_m/attractions/racingkart/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_04.jpg" data-src="./assets/lib/test/top/img/img_motorsports_04.jpg" alt="レーシングカート ビギナーから本格派までレーサー気分を楽しめる">
								</span>
								<div class="txt">
									<h4 class="title">レーシングカート</h4>
									<p>ビギナーから本格派までレーサー気分を楽しめる</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 310px;">
							<a href="./collection-hall/" tabindex="0">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_01.jpg" data-src="./assets/lib/test/top/img/img_motorsports_01.jpg" alt="ホンダコレクションホール Hondaの歴史を体感する展示施設">
								</span>
								<div class="txt">
									<h4 class="title">ホンダコレクションホール</h4>
									<p>Hondaの歴史を体感する展示施設</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" style="width: 310px;">
							<a href="./motorsports_m/" tabindex="0">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_02.jpg" data-src="./assets/lib/test/top/img/img_motorsports_02.jpg" alt="レース・イベント 国内外のレースや参加型レース・イベントを開催">
								</span>
								<div class="txt">
									<h4 class="title">レース・イベント</h4>
									<p>国内外のレースや参加型レース・イベントを開催</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" style="width: 310px;">
							<a href="./astp/" tabindex="0">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_03.jpg" data-src="./assets/lib/test/top/img/img_motorsports_03.jpg" alt="アクティブセーフティトレーニングパーク 体験しながら安全運転を学ぶスクール">
								</span>
								<div class="txt">
									<h4 class="title">アクティブセーフティ<br>
										トレーニングパーク</h4>
									<p>体験しながら安全運転を学ぶスクール</p>
								</div>
							</a>
						</div><div class="column slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./mobipark_m/attractions/racingkart/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_04.jpg" data-src="./assets/lib/test/top/img/img_motorsports_04.jpg" alt="レーシングカート ビギナーから本格派までレーサー気分を楽しめる">
								</span>
								<div class="txt">
									<h4 class="title">レーシングカート</h4>
									<p>ビギナーから本格派までレーサー気分を楽しめる</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./collection-hall/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_01.jpg" data-src="./assets/lib/test/top/img/img_motorsports_01.jpg" alt="ホンダコレクションホール Hondaの歴史を体感する展示施設">
								</span>
								<div class="txt">
									<h4 class="title">ホンダコレクションホール</h4>
									<p>Hondaの歴史を体感する展示施設</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./motorsports_m/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_02.jpg" data-src="./assets/lib/test/top/img/img_motorsports_02.jpg" alt="レース・イベント 国内外のレースや参加型レース・イベントを開催">
								</span>
								<div class="txt">
									<h4 class="title">レース・イベント</h4>
									<p>国内外のレースや参加型レース・イベントを開催</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./astp/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_03.jpg" data-src="./assets/lib/test/top/img/img_motorsports_03.jpg" alt="アクティブセーフティトレーニングパーク 体験しながら安全運転を学ぶスクール">
								</span>
								<div class="txt">
									<h4 class="title">アクティブセーフティ<br>
										トレーニングパーク</h4>
									<p>体験しながら安全運転を学ぶスクール</p>
								</div>
							</a>
						</div><div class="column slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 310px;">
							<a href="./mobipark_m/attractions/racingkart/" tabindex="-1">
								<span class="img">
									<img class="js-lazyimg js-lazyimg-loaded" src="./assets/lib/test/top/img/img_motorsports_04.jpg" data-src="./assets/lib/test/top/img/img_motorsports_04.jpg" alt="レーシングカート ビギナーから本格派までレーサー気分を楽しめる">
								</span>
								<div class="txt">
									<h4 class="title">レーシングカート</h4>
									<p>ビギナーから本格派までレーサー気分を楽しめる</p>
								</div>
							</a>
						</div></div></div>



					</div>					<div class="custom-slick-arrows"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="display: inline-block;">Previous</button><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: inline-block;">Next</button></div>
				</section>
			</div>
			<!-- /#line up-->

		</div>

		<!-- #information-->
		<div id="information_nav" class="on" style="display: none;">
			<p class="head spnone">INFORMATION</p>
			<ul>
				<li>
					<a href="./access_m/">
						<i class="i-access2"></i>
						<p>アクセス</p>
					</a>
				</li>
				<li>
					<a href="./fee_m/">
						<i class="i-fee2"></i>
						<p>料金</p>
					</a>
				</li>
				<li>
					<a href="./hours_m/">
						<i class="i-hours2"></i>
						<p>営業時間</p>
					</a>
				</li>
				<li>
					<a href="#lineup">
						<i class="i-facility"></i>
						<p>施設</p>
					</a>
				</li>
				<li>
					<a href="#information" data-addpos="0">
						<i class="i-menu"></i>
						<p>一覧</p>
					</a>
				</li>
			</ul>
		</div>
		<div id="information">
			<div class="content_inner js-scrollon js-scrollon-loaded">
				<h2 class="head_title">INFORMATION<span>インフォメーション</span></h2>
				<div class="columns">
					<div class="column">
						<a href="./access_m/">
							<i class="i-access"></i>
							<p>アクセス</p>
						</a>
					</div>
					<div class="column">
						<a href="./fee_m/">
							<i class="i-fee"></i>
							<p>料金</p>
						</a>
					</div>
					<div class="column">
						<a href="./hours_m/">
							<i class="i-hours"></i>
							<p>営業時間</p>
						</a>
					</div>
					<div class="column">
						<a href="./map_m/">
							<i class="i-map"></i>
							<p>場内マップ</p>
						</a>
					</div>
					<div class="column">
						<a href="./calendar_m/">
							<i class="i-calendar"></i>
							<p>カレンダー</p>
						</a>
					</div>
					<div class="column">
						<a href="./service_m/">
							<i class="i-service"></i>
							<p>サービスガイド</p>
						</a>
					</div>
					<div class="column">
						<a href="./contact_m/">
							<i class="i-contact"></i>
							<p>お問い合わせ</p>
						</a>
					</div>
					<div class="column">
						<a href="./survey/">
							<i class="i-survey"></i>
							<p>アンケート</p>
						</a>
					</div>
					<div class="column">
						<a href="./fieldtrip_m/">
							<i class="i-fieldtrip"></i>
							<p>団体</p>
						</a>
					</div>
					<div class="column">
						<a href="https://tenki.jp/forecast/3/12/4110/9343/3hours.html" target="_blank">
							<i class="i-tenki"></i>
							<p>天気 <img src="./assets/lib/test/top/img/i-blank.png" alt="別ウィンドウが開きます"></p>
						</a>
					</div>
				</div>
			</div><!-- /.content_inner -->
		</div>

		<div id="addr_social">
			<div class="content_inner">

				<!-- #addr -->
				<div id="addr" class="js-scrollon js-scrollon-loaded">
					<p>〒321-3597 栃木県芳賀郡茂木町桧山120-1　<a href="https://goo.gl/maps/Qaig6zQ44qq" target="_blank">Google マップ</a></p>
				</div>
				<!-- /#addr -->

				<!-- #social area -->
				<div id="social_area" class="js-scrollon js-scrollon-loaded">
					<div class="blocks insta">
						<div class="head_block">
							<a href="https://www.instagram.com/twinring_motegi/" target="_blank">
								<i class="i-instagram"></i>
								twinring_motegi
							</a>
						</div>
						<div class="block">
							<!-- SnapWidget -->
							<script src="https://snapwidget.com/js/snapwidget.js"></script>
							<iframe src="https://snapwidget.com/embed/668971" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border: none; overflow: hidden; width: 100%; height: 163px;" id="iFrameResizer0"></iframe>
						</div>
					</div>
					<div class="blocks">
						<div class="head_block bdr">
							<a href="./riders/">
								<i class="i-riders"></i>
								メールマガジン
							</a>
						</div>
						<div class="block">
							<ul class="social_icon">
								<li><a href="https://line.me/R/ti/p/%40esz2777s" target="_blank"><img src="./assets/lib/test/top/img/lineme.png" alt="Line@"></a></li>
								<li><a href="https://twitter.com/motegi_official" target="_blank"><img src="./assets/lib/test/top/img/twitter.png" alt="Twitter"></a></li>
								<li><a href="https://www.facebook.com/twinringmotegi/" target="_blank"><img src="./assets/lib/test/top/img/facebook.png" alt="Facebook"></a></li>
								<li><a href="https://www.youtube.com/user/EnjoyTRM/" target="_blank"><img src="./assets/lib/test/top/img/youtube.png" alt="YouTube"></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /#social area -->

			</div><!-- /.content_inner -->

		</div>
		<!-- /#addr_social-->

		<!-- #phytoncide -->
		<div id="phytoncide">
			<div class="inner js-scrollon js-scrollon-loaded">
				<a href="./motegi/phytoncide/">
					<img class="js-devicesImage" src="./assets/lib/test/top/img/img_phytoncide_02.jpg" data-img-pc="./assets/lib/test/top/img/img_phytoncide_02.jpg" data-img-sp="./assets/lib/test/top/img/img_phytoncide_02_sp.jpg" alt="フィトンチッド溢れるもてぎの森へ">
				</a>
			</div>
		</div>
		<!-- /#phytoncide -->

		<div class="content_inner">
			<div class="ft_notice">

				<p>※施設内での許可のない小型航空機（ドローン・ラジコン等）の利用は、運営に支障をきたす恐れがあるためご遠慮いただいております。</p>
				<p>※イベント企画内容、チケットの内容・料金につきましては、やむをえず予告無く変更となる場合がございます。予めご了承ください。</p>
				<p>※ツインリンクもてぎでは各施設におきまして、アルコール除菌液を設置しております。<br>
				また、お客様ならびにスタッフの健康と安全を考慮し、スタッフがマスクを着用させていただく場合がございます。<br>
				お客様におかれましても、咳・くしゃみをする際の「咳エチケット」へのご協力や、施設内で体調が悪化したり、気分が優れなくなったりした場合は、お近くの係員までお声掛けいただきますようお願い申し上げます。<br>

				</p>
			</div>
		</div><!-- /.content_inner -->

	</div>
	<!-- ================== //#trm_content_wrap ================== -->


</div>
