<%  var title = 'Twin Ring Motegi' %>

<%- include('../partials/head', { title }) -%>

  <!-- BOTTOM -->
  <section class="sumika-video l-container">
    <div class="l-section-title">

    </div>
    <div class="sumika-video-content">
      <ul class="sumika-video-list row">
        <li class="sumika-video-item col-md-6">
          <div class="sumika-video-inner">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2S8qG40QPVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </li>
        <li class="sumika-video-item col-md-6">
          <div class="sumika-video-inner">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2S8qG40QPVg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </li>
      </ul> 
    </div>
  </section>

  <section class="sumika-instagram">
    <div class="l-section-title">

    </div>
    <div class="sumika-instagram-content">
      <ul class="sumika-instagram-list">
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
        <li class="sumika-instagram-list-item"></li>
      </ul>
    </div>
    <div class="l-button">

    </div>
  </section>

  <section class="sumika-faq">
    <div class="l-section-title">
      
    </div>
    <div class="sumika-faq-content">
      <ul class="sumika-faq-list">
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
        <li class="sumika-faq-list-item"></li>
      </ul>
    </div>
  </section>

  <section class="sumika-cta">
    <div class="sumika-inner">
      <div class="l-section-title">
      
      </div>
    </div>
  </section>

  <section class="sumika-recommendation">
    <div class="l-section-title">
      
    </div>
    <div class="sumika-recommendation-content">
      <ul class="sumika-recommendation-slider">
        <li class="sumika-recommendation-slider-item"></li>
        <li class="sumika-recommendation-slider-item"></li>
        <li class="sumika-recommendation-slider-item"></li>
        <li class="sumika-recommendation-slider-item"></li>
        <li class="sumika-recommendation-slider-item"></li>
        <li class="sumika-recommendation-slider-item"></li>
      </ul>
    </div>
  </section>

  <section class="sumika-pick-up">
    <div class="l-section-title">
      
    </div>
    <div class="sumkia-pick-up-content">
      <ul class="sumika-pick-up-content-list">
        <li class="sumika-pick-up-list-item"></li>
        <li class="sumika-pick-up-list-item"></li>
        <li class="sumika-pick-up-list-item"></li>
        <li class="sumika-pick-up-list-item"></li>
      </ul>
    </div>
  </section>
  <!-- END BOTTOM -->

<%- include('../partials/footer') -%>