.how-to-enjoy {
  margin-top: 100px !important;

  .heading-subtext {
    width: 530px;
    margin-top: 14px !important;
  }
}

.how-to-content {
  margin-top: 30px;

  .media-bottom {
    text-align: left;
    margin-left: 20px;
  }
}

