.main-content {
  .acro-x-title-svg {
    text-align: center;
  }
  
  .heading {
    margin: 50px 0;
    text-align: center;
  }

  .heading-acro-x {
    .heading-texts {
      max-width: 651px;
      width: 100%;
      display: inline-block;
    }
  }
}