/*
#styleguide
基本スタイル

```
<p>特に何も指定しないときの状態</p>
```
*/
body {
  $wrap: '.wrap:not(.client-content)';
  $client: '.wrap .client-content';
  
  #{$wrap} {
    overflow-x: hidden;
    
    #lig-preload,
    #lig-breadcrumbs,
    #lig-header,
    #lig-footer {
      -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
      text-rendering: $text-rendering;
      font-size: $base-font-size;
      font-family: $base-font-family;
      color: $base-font-color;
      background-color: $base-background-color;
      min-width: $breakpoint-tablet;

      .is-ipad & {
        min-width: auto;
      }
    
      @media screen and (max-width: $breakpoint-mobile + 1) {
        min-width: 100%;
      }
    }

    .lig-content {
      -webkit-text-size-adjust: 100%;
      text-size-adjust: 100%;
      text-rendering: $text-rendering;
      font-size: $base-font-size;
      font-family: $base-font-family;
      color: $base-font-color;
      background-color: $base-background-color;
      min-width: $breakpoint-tablet;
      // overflow-x: hidden;
    
      @media screen and (max-width: $breakpoint-mobile + 1) {
        min-width: 100%;
      }
    }
  }

  #{$client} {
    box-sizing: initial;
  }
}

* {
  &:focus {
    outline: none;
    border: none;
  }
}

img {
  max-width: 100%;
}
br {
  opacity: 0;
}

// Required
.svg-sprite {
  display: none;
}
