//show pc
.u-show-pc {
  @media screen and (max-width: $breakpoint-mobile) {
    // sass-lint:disable-block no-important
    display: none !important;
  }
}


//show sp
.u-show-sp {
  // sass-lint:disable-block no-important
  display: none !important;

  @media screen and (max-width: $breakpoint-mobile) {
    display: block !important;
  }

  &.u-show-sp-flex {
    @media screen and (max-width: $breakpoint-mobile) {
      display: flex !important;
    }
  }
}

.u-clear {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

.u-title-hidden {
  font-size: 0;
  letter-spacing: 0;
  position: absolute;
}

.fill-white {
  fill: $color-white;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left;
}

.hover-wrap {
  overflow: hidden;
  &:hover {
    &>* {
      transition: ease 1s all;
      transform: scale(1.2);

      @at-root 
      .breakfast-marcherant &,
      .lunch-marcherant &,
      .dinner-set-marcherant & {//lunch marcherant
        transform: scale(1);
      }
    }
  }
}