.car-bike {
  .heading-text {
    max-width: 462px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-subtext {
    max-width: 462px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    display: flex;

    > * {
      width: calc( 100% / 2 );
    }
  }

  .contents-heading {
    max-width: 454px;
    width: 100%;
  }

  .contents-desc {
    margin-top: 34px;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.16em;
  }

  .l-button {
    margin-top: 56px;

    a {
      margin: 0px;
    }
  }

  .slider-wrapper {
    max-width: 508px;
    width: 100%;
    margin-left: 0px;
    position: relative;

    .slider-item {
      position: relative;
      z-index: $z-max;
    }

    &:before {
      width: 596px;
      height: 333px;
      content: "";
      position: absolute;
      top: -31px;
      left: -52px;
      background-image: url(../images/mobipark/slider-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }

    &:after {
      width: 524px;
      height: 291px;
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      background-image: url(../images/mobipark/slider-frame.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }

  .slider-indicator {
    max-width: 508px;
    width: 100%;
    margin-left: 0;
    margin-top: 38px;
    text-align: center;

    .indicator-item {
      margin-right: 13px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #cccccc;
      display: inline-block;

      &.is-active {
        background-color: #00a040;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}