.car-bike {
  .row {
    display: flex;

    > * {
      width: calc( 100% / 2 );
    }
  }

  .contents-desc {
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.16em;
  }

  .l-button {
    a {
      margin: 0px;
    }
  }
}