.mobipark-info {
  margin-top: 80px  ;

  .heading-text {
    max-width: 167px;
    width: 100%;
    margin: 0 auto;
  }

  .heading-subtext {
    max-width: 161px;
    width: 100%;
  }

  .info-list {
    max-width: 1021px;
    width: 100%;
    margin: 37px auto 0;

    .info-item {
      padding: 20px 20px 20px 50px;
      font-size: 18px;   
      letter-spacing: 0.16em;
      font-weight: 600;
      position: relative;
      border-bottom: 1px dashed $color-black;

      &:before {
        width: 11px;
        height: 11px;
        background-image: url(../images/list-dot.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left center;
        content: "";
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}