<div class="l-section mobipark hellowoods">
  <div class="mobipark-adventure mobipark-adventure-sumika hellowoods-tsubasa">
    <div class="l-container">
      <div class="section-inner ">
        <div class="section-image" style="background-image: url(<%= mix('/assets/images/hellowoods/explore-bg-2.jpg') %>);">
          <img class="section-image-logo" src="<%= mix('/assets/images/hellowoods/tsubasa-logo.png') %>" alt="Tsubasa">
        </div>

        <div class="section-contents l-adventure">
          <span class="text-ribbon bg-green">モビパークパスポート対象</span>
          <h3 class="section-heading">
            メガジップライン つばさ
          </h3>
          <p class="subheading">対象：体重35Kg以上、95Kg以下の方</p>
          <p class="section-contents-copy">
            日本最大級のジップラインで森の中からサーキットに向けて<br>高低差20mを一気に滑るジップラインです。<br>モビパークパスポートで体験できます。<br>
          </p>
          <div class="l-button">
            <%- include('/partials/button', {
              modifier: 'button-mobipark',
              text: 'もっと見る',
              link: '#'
            }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>