
  <div class="section-inner">

    <div class="l-container">
      <div class="section-image" style="background-image: url(<%= mix('/assets/images/hellowoods/explore-bg-1.png') %>);">
        
      </div>
      <div class="section-contents">
        <img class="section-image-logo" src="<%= mix('/assets/images/hellowoods/musasabi-logo.png') %>" alt="Hello Woods">
        <p class="section-contents-copy">森の中で「溢れる生命（いのち）」を見つけよう。<br>自然とふれあいながら、遊び・学べる体験型アトラクション・プログラムが満載です。</p>


        <div class="section-button">
          <%- include('/partials/button', {
            'modifier': '',
            'text': 'もっと見る',
            'link': '#'
          }) %>
        </div>
      </div>
    </div>
  </div>
