.l-adventure {
  max-width: 961px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  padding-top: 93px;
  background-color: $color-white;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;

  &.hellowoods {
    padding-top: 140px;
  }

  @include max-screen ($breakpoint-mobile) {
    max-width: 612px;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -27px;

    &.hellowoods {
      padding-top: 60px;
      margin-top: -30px;
    }
  } 
}

.l-adventure-sp-container {
  @include max-screen($breakpoint-mobile) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.l-adventure-dokidoki {
  @include min-screen($breakpoint-mobile + 1) {
    padding-top: 106px;
  }
}

.l-adventure-itadaki {
  @include min-screen($breakpoint-mobile + 1) {
    padding-top: 60px;
  }
}