.l-adventure {
  max-width: 961px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  padding-top: 93px;
  background-color: $color-white;
  position: relative;
  padding-left: 90px;
  padding-right: 90px;

  .adventure-ribbon {
    position: absolute;
    top: -50px;
    left: -30px;
    height: 150px;
    width: 150px;
    background: url(/assets/images/article/category-bg.png) no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;

    .adventure-ribbon-inner {
      width: 100%;
      text-align: center;
      font-weight: bold;

      .heading-text {
        background: none;
        -webkit-text-fill-color: black;
        font-size: 50px;
        line-height: 1.2;
      }
    }
  }

  &.hellowoods {
    padding-top: 140px;
  }

  &.hoteltwinring {
    padding-top: 30px;
  }

  @include max-screen ($breakpoint-mobile) {
    max-width: 612px;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -27px;

    &.hellowoods {
      padding-top: 60px;
      margin-top: -30px;
    }
  } 
}

.l-adventure-sp-container {
  @include max-screen($breakpoint-mobile) {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.l-adventure-dokidoki {
  @include min-screen($breakpoint-mobile + 1) {
    padding-top: 106px;
  }
}

.l-adventure-itadaki {
  @include min-screen($breakpoint-mobile + 1) {
    padding-top: 60px;
  }
}