.l-button {
  margin-top: 40px;

  &.l-button-sumika-cta {
    margin-top: 30px;
  }
}

// modifier forest driving
.mobipark-cta {
  .l-button {
    margin-top: 25px;
  }
}
// end modifier forest driving