.l-header-top {
  display: flex;
  border-bottom: 1px solid rgba($color-primary, .12);
}

.l-header-top-logo {
  width: 234px;
  border-top: 4px solid $color-green;
}

.l-header-top-right {
  width: calc(100% - 242px);
  text-align: right;
}

.l-header-bottom {
  padding: 20px 0;
}
