.l-heading {
  // margin: 80px 0;
  text-align: center;
}

.l-heading-main {
  margin: 80px 0;
  text-align: center; 
  
  @include max-screen($breakpoint-mobile) {
    margin: 35px 0;
  }
}

.l-heading-inner {
  margin: 40px 0;
  text-align: center;
}