.l-section {
  padding-bottom: 95px;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 0;
  }

  &.l-section-hotel-twin {
    padding-bottom: 70px;

    @include max-screen($breakpoint-mobile) {
      padding-bottom: 52px;
    }
  }

  &.l-section-hellowoods {
    padding-bottom: 50px;

    @include max-screen ($breakpoint-mobile) {
      padding-bottom: 68px;
    }
  }

  &.sponsors {
    @include max-screen ($breakpoint-mobile) {
      margin-bottom: 55px;
    }
  }

  @include max-screen ($breakpoint-mobile) {
    &.banner-image {
      padding-bottom: 60px;
      background-color: $color-light-gray;
    }
  }
}

.l-section-inner {
  padding: 0 90px;
  @include max-screen($breakpoint-mobile) {
    padding: 0 0 40px;
  }
}
