.l-section-title {
  text-align: center;
}

.l-section-title-adventure {
  position: relative;
  z-index: $z-min + 2;

  &.hellowoods {
    position: initial;
  }
}

/*Modifier*/
.alternate-feature {
  .heading-wrap  {
    margin-bottom: 65px;
    
    @include max-screen ($breakpoint-mobile) {
      margin-bottom: 45px;
    }
  }
}

.faq-file-dl {
  .heading-wrap  {
    margin-bottom: 50px;
  }
}