.mv-forest-driving {
  .mv-container {
    position: absolute;
    top: 65%;
    left: 48%;
  }

  .mv-heading {
    bottom: 0;
    left: 0;
  }

  .mv-heading-text {
    font-size: 34.449px;
    color: $color-white;
  }
}