.how-to-enjoy {
  margin-top: 100px !important;

  .heading-text {
    width: 100%;
    margin: 0 auto;

    @include max-screen($breakpoint-mobile) {
      max-width: 237px;

      img {
        width: 100%;
      }
    }
  }

  .heading-subtext {
    width: 530px;
    margin-top: 17px !important;

    @include max-screen($breakpoint-mobile) {
      margin-top: 25px !important;
    }
  }


  @include max-screen($breakpoint-mobile) {
    .how-to-content {
      max-width: 514px;
      width: 100%;
      margin: 54px auto 0;
    }

    .media {
      margin: 0 -20px;
    }

    .media-left,
    .media-right {
      width: 100%;
      padding: 0;
      float: none;
    }

    .media-bg {
      margin-left: 0%;

      &:after {
        height: calc(100% + 35px);
        width: calc(100% + 35px);
        content: "";
        background-image: url(/assets/images/sp-img-frame-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
      }

      .media-thumb {
        width: calc(100% - 5px);
        height: 100%;
      }
    }

    .media-title {
      margin-top: 20px;
      font-size: 26px;        
    }

    .media-desc {
      font-size: 24px;              
    }
  }
}

.how-to-content {
  margin-top: 30px;

  .media-bottom {
    text-align: left;
    margin-left: 20px;

    @include max-screen($breakpoint-mobile) {
      text-align: center;
      margin-left: 0;

      .media-note-text {
        font-size: 22px;
      }
    }
  }
}