.forest-driving-pick-up {
  margin-top: 140px;
  margin-bottom: 120px;

  .heading-net-forest-driving {
    margin-bottom: 40px;
  }

  .heading-subtext {
    width: 415px;
  }

  .feature-list {
    border-bottom: 1px solid #dfdfdf;

    @include max-screen($breakpoint-mobile) {
      margin: 0%;
      flex-wrap: wrap;
      flex-grow: 50%;
      justify-content: space-between;
    }
  }

  .article-heading,
  .article-period {
    padding-left: 0px;
  }

  @include max-screen($breakpoint-mobile) {
    .feature-item {
      width: calc((100% / 2) - 20px);
      margin: 0%;
    }
  }
}