.forest-driving-pick-up {
  margin-top: 30px;
  margin-bottom: 120px;

  .heading-net-forest-driving {
    margin-bottom: 40px;
  }

  .heading-subtext {
    width: 415px;
  }

  .feature-list {
    border-bottom: 1px solid #dfdfdf;
  }

  .article-heading,
  .article-period {
    padding-left: 0px;
  }
}