.comparison {
  .heading-wrap-comparison {
    margin-bottom: 45px;
  }
  
  .table-row {
    border-bottom: 1px solid $color-border-grey;

    &.sp-row {
      display: none;
    }

    @include max-screen($breakpoint-mobile) {
      &.sp-row {
        display: table-row;
        .sp-head {
          text-align: center;
          background-color: $color-white;
        }
      }
    }

    &:first-child {border-top: 1px solid $color-border-grey;}
    .table-head {
      text-align: center;
      &:before,&:after {background-image: none;}
      svg, img {margin-top: 40px;}

      @include max-screen($breakpoint-mobile){
        padding: 20px;
        vertical-align: bottom;
      }
    }
    .highlighted {
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
      color: $color-white;

      &.green {
        background-color: $color-green;
      }
      &.grey {
        background-color: $color-grey;
      }
    }
  }

  .table-col {
    vertical-align: middle;

    &:before {background-image: none;}
    &:first-child {background-color: $color-light-blue;}
    &:nth-child(2) {text-align: center;}
    &:nth-child(3) {background-color: $color-light-green;}

    @include max-screen($breakpoint-mobile) {
      padding: 10px;
      vertical-align: top;

      &:nth-child(2) {
        display: none;
      }
    }
  }
  
  .section-button {
    .button {
      float: right;

      @include max-screen($breakpoint-mobile) {
        width: 50%;
        font-size: 12px;
        padding: 25px;
      }
    }
  }
  
}