.enjoy-more {
  text-align: center;
  margin: 80px 0;

  .tsubasa-cta-wrapper {
    padding: 0 100px;

    @include max-screen ($breakpoint-mobile) {
      padding: 0;
    }
  }

  .tsubasa-cta-inner {
    position: relative;
    padding: 40px;

    &:before {
      position: absolute;
      content: '';
      background-image: url(#{$image-path}tsubasa/frame-sm.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:after {
      position: absolute;
      content: '';
      background-image: url(#{$image-path}tsubasa/green-dots.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      top: 22px;
      left: 33px;
      right: 23px;
      bottom: 39px;
    }

    @include max-screen ($breakpoint-mobile) {
      .button-tsubasa {
        width: 100%;
      }

      &:after {
        background-image: url(#{$image-path}tsubasa/green-dots-sp.png);
        top: 0;
        bottom: 30%;
        background-position: center;
        background-size: 140% 100%;

      }
    }
  }

  .heading-net-tsubasa {
    .heading-text {
      width: 100%;
      margin: 0 auto;

      @include max-screen($breakpoint-mobile) {
        max-width: 321px;
      }
    }

    .heading-subtext {
      width: 100%;
      height: 65px;
      margin: 0 auto;

      @include max-screen($breakpoint-mobile) {
        max-width: 321px;
      }
    }
  }

  .tsubasa-cta-description-text {
    font-size: 15px;
    line-height: 1.667;
    margin-top: 20px;
  }

  .tsubasa-cta-dot {
    position: absolute;

    @include max-screen ($breakpoint-mobile) {
      display: none;
    }
  }

  .tsubasa-cta-dot-1 {
    left: -40px;
    bottom: 4px;
  }

  .tsubasa-cta-dot-2 {
    top: -19px;
    left: 128px;
  }

  .tsubasa-cta-dot-3 {
    bottom: 4px;
    right: 135px;
  }

  .tsubasa-cta-dot-4 {
    top: -28px;
    right: -27px;
  }
}