
  .steps-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    .steps-list-item {
      width: calc(100% / 3);
      text-align: center;
      margin-bottom: 80px;

      @include max-screen($breakpoint-mobile) {
        width: 100%;
      }

      .step-no {
        margin-bottom: 20px;
      }

      .step-title {
        font-size: 21px;
        font-weight: bold;
        color: $color-green;
      }

      .step-subtitle {
        font-weight: bold;
      }

      .step-desc {
        max-width: 300px;
        margin: auto;
      }

      .sub-image {
        margin-top: 30px;
      }

      .step-image {
        display: inline-block;
        margin-bottom: 30px;
        padding: 5px 14px;
        background-image: url("/assets/images/tsubasa/step-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;

        &::after {
          content: " ";
          width: 20px;
          height: 50px;
          position: absolute;
          top: 50%;
          right: -50px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          background: url(/assets/images/tsubasa/step-arrow.png) no-repeat;

          @include max-screen ($breakpoint-mobile) {
            display: none;
          }
        }

        &.goal-bg {
          background-image: url("/assets/images/tsubasa/goal-bg.png");
        }

        img {
          max-width: 300px;

          @include max-screen($breakpoint-mobile) {
            width: 100%;
          }
        }

        @include max-screen($breakpoint-mobile) {
          padding: 5px 14px;
        }
      }

      &.step-goal::after {
        display: none;
      }
      &::after {
        @include max-screen ($breakpoint-mobile) {
          content: " ";
          width: 60px;
          height: 50px;
          position: absolute;
          background: url(/assets/images/tsubasa/step-arrow-down.png) no-repeat;
          left: 0;
          right: 0;
          margin: auto;
          margin-top: 30px;
        }
      }

      &:nth-child(3n),&.step-goal {
        .step-image::after {
          display: none;
        }
      }

      &.step-goal {
        width: calc(100% / 3 * 2);

        @include max-screen ($breakpoint-mobile) {
          width: 100%;
          margin-bottom: 40px;
        }

        .img-step {
          display: none;
        }

        .step-no {
          margin: auto;
          height: 45px;
          position: relative;
          font-size: 18px;
          color: $color-green;

          img {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 3;
            margin: auto;
          }
        }

        .step-image {
          img {
            max-width: 660px;

            @include max-screen($breakpoint-mobile) {
              width: 100%;
            }
          }
        }
      }

    }

    @include max-screen($breakpoint-mobile) {
      display: block;
    }

    .steps-list-media-bottom {
      margin-top: 30px;
    }
  }
