.staff-intro {
  .grey-cta {
    background-color: #333333;
    color: #fff;
    padding: 54px 57px;
    height: auto;
    width: auto;
    max-width: 670px;
    
    &:before {
      display: none;
    }
  }
}