$color-light-blue: #f2f7fb;
$color-light-green: #f2faf5;
$color-border-grey: #dfdfdf;

.tsubasa-wrapper {
  .mv {
    margin-bottom: 70px;
  }

  .l-video {
    margin-bottom: 40px;
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .attraction-information {
    margin-bottom: 150px;
    .attraction-heading {
      margin-bottom: 40px;
      h3 {
        margin-bottom: 20px;
      }
    }
  }

  .steps-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; 
    justify-content: center;

    .steps-list-item {
      width: calc(100%/3);
      text-align: center;
      margin-bottom: 80px;
      
      &:nth-child(3n),&.step-goal {
        .step-image::after {
          display: none;
        }
      }


      &.step-goal {
        width: calc(100%/3*2);

        .img-step {
          display: none;
        }

        .step-no {
          margin-bottom: 0;
          height: 45px;
          position: relative;
          margin: auto;

          img {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 3;
            margin: auto;
          }
        }

      }

      .step-no {
        margin-bottom: 15px;
        font-size: 18px;
        font-family: "Holland";
        color: $color-green;
      }

      .step-title {
        color: $color-green;
      }
      
      .step-image {
        display: inline-block;
        margin-bottom: 30px;
        padding: 5px 14px;
        background-image: url("/assets/images/tsubasa/step-bg.png");
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;

        &.goal-bg {
          background-image: url("/assets/images/tsubasa/step-bg.png");
        }

        
        
        &::after {
          content: " ";
          width: 20px;
          height: 50px;
          position: absolute;
          top: 50%;
          right: -50px;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          background: url(/assets/images/tsubasa/step-arrow.png) no-repeat;
        }
      }

      .step-subtitle {
        font-weight: bold;
      }

      .step-desc {
        max-width: 300px;
        margin: auto;
      }

      .sub-image {
        margin-top: 30px;
        
      }

    }
  }

  .comparison {
    .heading-wrap-comparison {
      margin-bottom: 45px;
    }
    
    .table-row {
      border-bottom: 1px solid $color-border-grey;

      &:first-child {border-top: 1px solid $color-border-grey;}
      .table-head {
        text-align: center;
        &:before,&:after {background-image: none;}
        svg, img {margin-top: 40px;}
      }
    }

    .table-col {
      vertical-align: middle;
      &:before {background-image: none;}
      &:first-child {background-color: $color-light-blue;}
      &:nth-child(2) {text-align: center;}
      &:nth-child(3) {background-color: $color-light-green;}
    }
    
    .section-button {
      .button {
        float: right;
      }
    }
    
  }
}
