.adventure-container {
  margin-top: 64px;

  @include max-screen($breakpoint-mobile) {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 90px;
    margin-top: -6px;

    &.adventure-container-hellowoods {
      margin-top: 0;
    }
  }
}

.adventure-list {
  margin-bottom: 104px;

  &:last-child {
    margin-bottom: 0;
  }

  @include max-screen ($breakpoint-mobile) {
    margin-bottom: 48px;

    &.adventure-list-hellowoods {
      margin-bottom: 95px;

      .adventure-bg {
        height: 140px;
      }
    }
  }

  &-itadaki {
    @include max-screen($breakpoint-mobile) {
      .adventure-content-copy {
        margin-top: 9px;
      }
    }
  }
}

.adventure-bg {
  width: 100%;
  height: 460px;
  position: relative;
  background-size: cover;

  @include max-screen ($breakpoint-mobile) {
    height: 157px;
  }
}

.adventure-image-logo {
  max-width: 279px;
  width: 100%;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $z-min + 1;

  @include max-screen($breakpoint-mobile) {
    max-width: 110px;
    bottom: -45px;
  }

  &.hellowoods {
    bottom: -100px;
    @include max-screen($breakpoint-mobile) {
      bottom: -48px;
      max-width: 119px;  
    }
  }
}

.adventure-content-copy {
  font-size: 15px;
  font-family: $font-hiragino-w3;   
  letter-spacing: 0.16em;
  line-height: 2;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
  
  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
    margin-top: 14px;
    text-align: left;
  }
}

//modifier
.logo-racing-kart {
  max-width: 320px;
  margin-bottom: 31px;

  @include max-screen($breakpoint-mobile) {
    max-width: 151px;
    margin-bottom: 16px;
  }
}

.adventure-bg-racing-kart {
  margin-top: 62px;
  
  @include max-screen($breakpoint-mobile) {
    margin-top: -8px;
  }
}