
.adventure-container {
  margin-top: 64px;

  @include max-screen($breakpoint-mobile) {
    margin-left: -20px;
    margin-right: -20px;

    &.adventure-container-hellowoods {
      margin-top: 0;
    }
  }
}

.adventure-list {
  margin-bottom: 104px;

  &:last-child {
    margin-bottom: 0;
  }

  @include max-screen ($breakpoint-mobile) {
    &.adventure-list-hellowoods {
      margin-bottom: 95px;
    }
  }
}

.adventure-bg {
  width: 100%;
  height: 460px;
  position: relative;
  background-size: cover;

  @include max-screen ($breakpoint-mobile) {
    height: 316px;
  }
}

.adventure-image-logo {
  max-width: 279px;
  width: 100%;
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: $z-min + 1;

  @include max-screen($breakpoint-mobile) {
    max-width: 200px;
    bottom: -95px;
  }

  &.hellowoods {
    bottom: -100px;
    @include max-screen($breakpoint-mobile) {
      bottom: -60px;
    }
  }
}

.adventure-content-copy {
  font-size: 15px;
  font-family: $font-hiragino-w3;   
  letter-spacing: 0.16em;
  line-height: 2;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}

//modifier
.logo-racing-kart {
  max-width: 320px;
  margin-bottom: 31px;
}

.adventure-bg-racing-kart {
  margin-top: 62px;
}