
.alt-feature {
  align-items: center;
  margin-bottom: 130px;
  display: flex;
  
  .order-1 {order: 1;}
  .order-2 {order: 2;}

  @include max-screen ($breakpoint-mobile) {
    max-width: 514px;
    margin: auto;
    margin-bottom: 80px;

    &.row {
      display: block;
      width: 80%;
    }
  }

  .alt-feature-image-wrapper {
    text-align: center;
    width: 50%;

    @include max-screen ($breakpoint-mobile) {
      width: 100%;
      max-width: 430px;
      margin: 0 auto;
    }
  }

  .alt-feature-desc {
    max-width: 430px;
    margin: auto;
    width: 50%;

    .alt-feature-desc-wrapper {
      background: url('/assets/images/frame-v2.png') no-repeat;
      background-size: 100% 100%;
      padding: 80px 40px;
      text-align: center;
      position: relative;

      @include max-screen ($breakpoint-mobile) {
        padding: 30px;
      }
      
      img.animal-icon {
        position: absolute;
        
        @include max-screen ($breakpoint-mobile) {
          right: auto !important;
          left: 0 !Important;
        }

        &.owl {
          right: -40px;
          top: -30px;
        }

        &.rabbit {
          left: -40px;
          top: -30px;
        }

        &.bird {
          top: -40px;
          right: 0;
        }

        

      }
    }

    @include max-screen ($breakpoint-mobile) {
      width: 100%;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}