.banner-cta {
  margin: 99px 0 217px;
  position: relative;
  text-align: center;
  z-index: $z-max;

  &:before {
    position: absolute;
    content: '';
    background-color: $color-light-gray;
    top: 99px;
    left: 0;
    right: 0;
    bottom: -126px;
    z-index: 1;
  }

  .banner-cta-bottom-inner {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.banner-cta-inner {
  position: relative;
  z-index: $z-max;
}
