.banner-image {
  background-color: #f9f9f9;

  &.program {
    position: relative;
    height: 230px;
    margin-top: 70px;
    margin-bottom: 70px;

    @include max-screen ($breakpoint-mobile) {
      height: 140px;
    }
  }


  .banner-image-wrap {
    border: 1px solid #d2d2d2;
    background-image: url(../images/hellowoods/blog-banner.png);
    text-align: center;
    padding: 30px;
    background-size: cover;
    background-color: $color-white;

    &.program {
      background-image: url(../images/program/banner-bg.png);
      padding: 38px 0px 45px;
      position: absolute;
      right: 0;
      left: 0;
      top: -75px;
      max-width: 1060px;
      margin: auto;

      @include max-screen ($breakpoint-mobile) {
        background-image: url(../images/program/banner-bg-sp.png);
        padding: 20px 40px;
        margin-right: 20px;
        margin-left: 20px;
        background-color: #fff;
        top: -63px;
      }

      .banner-image-heading {
        margin-bottom: 10px;

        @include max-screen ($breakpoint-mobile) {
          margin-bottom: 6px;
          font-size: 17px;
        }
      }
    }

    .banner-image-subtext {
      color: $color-black;

      &.program {
        font-size: 20px;
        letter-spacing: 1px;

        @include max-screen ($breakpoint-mobile) {
          font-size: 13px;
          line-height: 1.9;
        }
      }

      @include max-screen ($breakpoint-mobile) {
        font-size: 10px;
      }
    }

    @include max-screen ($breakpoint-mobile) {
      background-image: url(../images/hellowoods/blog-banner-sp.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      padding: 10px;
    }
  }

  @include max-screen ($breakpoint-mobile) {
    background-color: #f9f9f9;
  }
}

.hoteltwinring-banner-image-1 {
  .banner-image-wrap {
    padding: 120px 0 105px;
    background-image: url(../images/hoteltwinring/banner-image-1.jpg);
    .heading {
      @include min-screen ($breakpoint-mobile + 1) {
        margin-bottom: 36px;
      }
    }

    .heading-text {
      background: none;
      -webkit-text-fill-color: $color-white;
    }
    .banner-image-subtext {
      color: $color-white;
      letter-spacing: 3px;
    }

    .heading-subtext {
      max-width: 450px;
    }

    @include max-screen($breakpoint-mobile) {
      background-image: url(../images/hoteltwinring/banner-image-1-sp.jpg);
      padding: 54px 0px 90px;

      .heading {
        margin-bottom: 5px;
      }

      .heading-subtext {
        height: 50px;
      }
    }
  }

  @include max-screen ($breakpoint-mobile) {
    padding-bottom: 25px;
  }
}

.hoteltwinring-banner-image-2 {
  .banner-image-wrap {
    padding: 40px 0;
    background-image: url(../images/hoteltwinring/banner-image-2.jpg);


    .heading-text {
      background: none;
      -webkit-text-fill-color: $color-white;
      line-height: 3;
    }


    .heading-subtext {
      max-width: 350px;
      height: 35px;
    }

    @include max-screen($breakpoint-mobile) {
      background-image: url(../images/hoteltwinring/banner-image-2-sp.jpg);
      padding: 30px 0;


      .heading-subtext {
        height: 22px;
      }
    }
  }
}

.tourism-banner {

  &::before {
    position: absolute;
    right: 0;
    content: " ";
    height: 100px;
    width: 101%;
    background-color: #fff;

    @include min-screen ($breakpoint-mobile + 1) {
      height: 185px;
    }
  }
  .banner-wrapper {
    width: 100%;
    max-width: 1130px;
    margin: auto;

    padding: 20px 25px;
    background: url('../images/tourism/banner-border.png');
    position: relative;
    background-size: 100% 100%;

    &::before,
    &::after {
      position: absolute;
      content: " ";
      width: 176px;
      height: 55px;


    }

    &::before {
      background: url('../images/tourism/leaf-left.png') no-repeat;
      left: -16px;
      top: -17px;

      @include max-screen ($breakpoint-mobile) {
        left: -12px;
        top: -13px;
        width: 72px;
        background-size: contain;
      }
    }


    &::after {
      background: url('../images/tourism/leaf-right.png') no-repeat;
      right: -13px;
      bottom: -25px;
      width: 123px;

      @include max-screen ($breakpoint-mobile) {
        bottom: -44px;
        width: 66px;
        background-size: contain;
      }
    }


    .tileImageWrap {
      max-width: 440px;
      margin-bottom: 0;

      @include max-screen ($breakpoint-mobile) {
        margin:0 auto 20px;
      }
    }


    .tileDescWrap {
      max-width: 520px;
      @include max-screen ($breakpoint-mobile) {
        margin:0 auto;
      }

      .banner-title {
        font-size: 15px;
        font-weight: bold;
        margin-top: -3px;
        letter-spacing: 1.3px;
        margin-bottom: 10px;

        @include max-screen ($breakpoint-mobile) {
          text-align: center;
          font-size: 10px;
          margin-bottom: 5px;
        }
      }

      .color-title {
        // max-width: 400px;
        height: 28px;
        margin-bottom: 25px;

        img {
          width: auto;
          height: 100%;
          margin-right: 23px;
          @include max-screen ($breakpoint-mobile) {
            margin-bottom: 15px;
            margin-right: 10px;
          }
        }

        .official-link-wrap {
          vertical-align: bottom;

          .official-link {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.4px;
          }

          @include max-screen ($breakpoint-mobile) {
            display: block;
          }
        }

        @include max-screen ($breakpoint-mobile) {
          height: 19px;
          margin-bottom: 17px;
          text-align: center;
        }
      }

      .desc {
        font-size: 14px;
        font-weight: bold;
        line-height: 2.1;
        letter-spacing: 2.24px;
        margin-bottom: 37px;

        @include max-screen ($breakpoint-mobile) {
          font-size: 9px;
          letter-spacing: 1px;
          line-height: 2.2;
          margin-bottom: 15px;
          padding: 0 21px;
        }
      }

      .address {
        color: #7a7a7a;
        font-size: 15px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 2.4px;

        @include max-screen ($breakpoint-mobile) {
          font-size: 10px;
          letter-spacing: 3.25px;
        }

        .link {
          color: #333333;
          font-size: 12px;
          letter-spacing: 1.92px;

          &[href=""] {
            display: none;
          }

          @include max-screen ($breakpoint-mobile) {
            font-size: 10px;
          }
        }
      }

      .l-button {
        margin: 0;
        margin-bottom: 15px;

        .button {
          margin: 0 5px;
          font-weight: 400;
          @at-root .is-safari & {
            min-width: 364px;
            @include max-screen ($breakpoint-mobile) {
              margin: 0 auto;
              min-width: 100%;
            }
            @include max-screen ($breakpoint-tablet) {
              font-size: 16px;
            }
          }
        }

        @include max-screen ($breakpoint-mobile) {
          max-width: 375px;
          margin: auto;
          margin-bottom: 22px;
        }
      }

      @include min-screen ($breakpoint-mobile + 1) {
        padding-left: 50px;

      }
    }

    .link-info {
      color: #2d2d2d;
      font-size: 13px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: 0.52px;
      span {
        margin: 0 25px;
      }

      a {
        color: #2d2d2d;
      }

      @include max-screen ($breakpoint-mobile) {
        font-size: 8px;
        letter-spacing: 1.4px;
        text-align: center;

        span {
          margin: 0 17px;
          letter-spacing: 0.4px;
        }
      }
    }

    @include min-screen ($breakpoint-mobile + 1) {
      display: flex;
      padding: 43px 82px;
    }
  }
}
