.button-gradient-icon {
  width: 25px;
  position: absolute;
  right: 0;
  transition: transform $duration $ease-in-out;

  svg {
    width: 100%;
    height: 12px;
  }
}

.button-gradient {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 62px;
  font-size: 16px;
  font-weight: bold;
  color: $base-font-color;
  position: relative;

  // &:hover {
  //   @include query($breakpoint-mobile, min) {
  //     .button-gradient-icon {
  //       transform: translateX(5px);
  //     }
  //   }
  // }

  &.button-gradient-cmn {
    height: auto;
  }
}

.button-gradient-text {
  background: linear-gradient(to right, #34b0e7 0%, #1cc763 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
