.call-to-action {
  text-align: center;
  margin: 80px 0;
}

.call-to-action-wrapper {
  padding: 0 100px;
}

.call-to-action-inner {
  position: relative;
  padding: 28px 0 31px;

  &:before {
    position: absolute;
    content: '';
    background-image: url(#{$image-path}sumika/frame-sm.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  &:after {
    position: absolute;
    content: '';
    background-image: url(#{$image-path}sumika/green-dots.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 22px;
    left: 33px;
    right: 23px;
    bottom: 39px;
    pointer-events: none;
  }

}

.call-to-action-title {
  display: inline-block;
  font-size: 31px;
  background: linear-gradient(to right, #1cc763 0%, #34b0e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.call-to-action-description-text {
  font-size: 15px;
  line-height: 1.667;
  margin-top: 20px;
  letter-spacing: 0.16em;
}

.call-to-action-dot {
  position: absolute;
}

.call-to-action-dot-1 {
  left: -40px;
  bottom: -30px;
}

.call-to-action-dot-2 {
  top: -19px;
  left: 128px;
}

.call-to-action-dot-3 {
  bottom: -30px;
  right: 135px;
}

.call-to-action-dot-4 {
  top: -28px;
  right: -27px;
}

//MODIFIER DOKIDOKI
// .dokidoki-cta,
// .mobipark-cta {
//   .banner-cta-bottom-inner {
//     position: relative;
//     z-index: $z-min;
//   }
// }

.call-to-action-bunbun {
  .call-to-action-description-text {
    letter-spacing: 0.16em;
  }
}
