.car-bike-attraction-cat {
  max-width: 905px;
  margin: 0 auto;
  margin-bottom: 80px;
}


.car-bike-attraction-car,
.car-bike-attraction-bike,
.car-bike-attraction-workshop {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 20px;

  padding: 0 20px;
}
