.challenge {
  margin-top: 53px;
  background-image: url(../images/mobipark/challenge-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  &-left {
    order: 2
  }
  
  &-right {
    order: 1;
    flex-grow: 1;
    flex-basis: 50%;

    @include max-screen($breakpoint-mobile) {
      margin-top: 13px;
      max-width: 612px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
      .heading-text {
        text-align: left;
      }

      img {
        max-width: 245px;
        width: 100%;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    background-image: url(../images/mobipark/challenge-bg-sp.png);
    background-size: 100%;
    background-position: center top;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;

    @include max-screen($breakpoint-mobile) {
      display: block;
      position: relative;
    }
  }

  .desc {
    margin-top: 73px;
    margin-left: 4px;
    font-size: 20px;  
    letter-spacing: 0.16em;
    line-height: 2.25;

    @include max-screen($breakpoint-mobile) {
      line-height: 1.55;
      margin: 0;
      margin-top: 22px;
      font-size: 12px;
    }

    &.hellowoods {
      max-width: 600px;
    }
  }

  .challenge-img {
    > * {
      width: 100%;

      @include max-screen($breakpoint-mobile) {
        max-width: 310px;
        margin-left: auto;
        display: block;
        padding-top: 15px;
      }
    }
  }

  .challenge-img1 {
    max-width: 292px;
    position: relative;
    top: -51px;
    left: -13px;
  }

  .challenge-img2 {
    max-width: 592px;
    position: relative;
    left: 129px;
    top: -140px;
  }

  .challenge-img3 {
    max-width: 192px;
    position: relative;
    left: 24px;
    top: -220px;
  }

  &.hellowoods-life-overflowing {
    .desc {
      max-width: 584px;
    }

    .challenge-img {max-height: 500px;}
    .challenge-img1 {
      max-width: 230px;
      left: 30px;
    }
    .challenge-img2 {
      max-width: 600px;
      left: 110px;
      top: -110px;
    }
    .challenge-img3 {
      max-width: 193px;
      left: -20px;
    }
  }

  &.hellowoods {
    max-height: 800px;
  }

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 90px;
    margin-top: -27px;
  }


}

//modifier for SP
