.challenge {
  margin-top: 53px;
  background-image: url(../images/mobipark/challenge-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  .row {
    display: flex;
    flex-wrap: nowrap;
  }

  .desc {
    margin-top: 73px;
    margin-left: 4px;
    font-size: 20px;  
    letter-spacing: 0.16em;
    line-height: 2.25;
  }

  .challenge-img {
    > * {
      width: 100%;
    }
  }

  .challenge-img1 {
    max-width: 292px;
    position: relative;
    top: -51px;
    left: -13px;
  }

  .challenge-img2 {
    max-width: 592px;
    position: relative;
    left: 129px;
    top: -140px;
  }

  .challenge-img3 {
    max-width: 192px;
    position: relative;
    left: 24px;
    top: -220px;
  }

  &.hellowoods-life-overflowing {
    .desc {
      max-width: 584px;
    }
    .challenge-img {max-height: 500px;}
    .challenge-img1 {max-width: 230px;left: 30px;}
    .challenge-img2 {max-width: 600px;left: 110px;top: -110px;}
    .challenge-img3 {max-width: 193px;left: -20px;}
  }
}
