.column-link {
  .link-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .link-item {
      flex-grow: 1;
      flex-basis: 0;
      position: relative;
      text-align: center;

      // @include min-screen($breakpoint-mobile + 1) {
      //   &:first-child {
      //     top: 3px;
      //     left: 30px;
      //   }

      //   &:nth-child(2) {
      //     top: 2px;
      //     left: 17px;
      //   }

      //   &:last-child {
      //     top: 2px;
      //     left: -4px;
      //   }
      // }

      // @include max-screen($breakpoint-mobile) {
      //   &:first-child {
      //     top: -11px;
      //   }

      //   &:nth-child(2) {
      //     top: -11px;
      //   }

      //   &:last-child {
      //     top: -10px;
      //   }
      // }

      a {
        display: inline-block;
        text-align: center;
        color: $color-black;
        font-size: 17px;
        font-family: $font-hiragino; 
        position: relative;
        height: 100%;

        &:after {
          width: 40px;
          height: 14px;
          content: url(/assets/images/hellowoods/caret-down.png);
          position: absolute;
          left: 50%;
          bottom: -25px;
          transform: translateX(-50%);
          transition: all 0.3s ease;
          pointer-events: none;

          //sp
          @include max-screen($breakpoint-mobile) {
            content: "";
            background-image: url(/assets/images/hellowoods/caret-down.png);
            background-size: 100%;
            width: 26px;
            height: 8.5px;
            bottom: -16px;
          }
        }

        &:hover:after {
          bottom: -35px;
        }

        img {
          @include max-screen($breakpoint-mobile) {
            width: 112px;
            height: 111.5px;
          }
        }
        
        span {
          display: block;
          margin-top: 10px;
          letter-spacing: 0.1em;

          @include max-screen($breakpoint-mobile) {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 13px;
            margin-top: 7px;
          }
        }
      }
    }
  }
}

//modifier labo
.column-link-labo {
  .link-container {
    justify-content: space-evenly;

    .link-item {
      &:first-child {
        // text-align: right;

        // @include min-screen($breakpoint-mobile + 1) {
        //   top: 1px;
        //   left: -42px;
        // }

        // @include max-screen($breakpoint-mobile) {
        //   top: 1px;
        //   left: -36px;
        // }
      }

      &:last-child {
        // text-align: left;

        // @include min-screen($breakpoint-mobile + 1) {
        //   top: 1px;
        //   left: 77px;
        // }

        // @include max-screen($breakpoint-mobile) {
        //   top: 1px;
        //   left: 32px;
        // }
      }
    }
  }
}

//modifier anchor
.subpage-inner-anchor {
  @include min-screen($breakpoint-mobile + 1) {
    margin-bottom: 147px;
  }
}