.swiper-container {
  overflow: visible;

  background-color: $color-white;

  &-mobipark {
    background-color: transparent;
  }

  &.slider-gallery,
  &.slider-gallery-thumb {
    overflow: hidden;
  }
}
