.design-petals,
.design-circle,
.design-mount,
.design-feature,
.design-parkmap,
.design-parkmap-inner {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.design-feature {
  &::before {
    width: 268px;
    height: 216px;
    left: 0;
    top: 143px;
    background-image: url(#{$image-path}design-mount1.png);
  }
  &::after {
    width: 57px;
    height: 95px;
    right: 58px;
    top: 46px;
    background-image: url(#{$image-path}design-leaves1.png);
  }
}

.design-parkmap {
  &::before {
    width: 39px;
    height: 37px;
    left: 45px;
    top: -58px;
    background-image: url(#{$image-path}design-leaves2.png);
  }
  &::after {
    width: 78px;
    height: 59px;
    right: 379px;
    top: -31px;
    background-image: url(#{$image-path}design-leaves3.png);
  }
}

.design-parkmap-inner {
  &::before {
    width: 358px;
    height: 343px;
    right: -23px;
    top: -64px;
    background-image: url(#{$image-path}design-leaves4.png);
  }
  &::after {
    width: 208px;
    height: 328px;
    left: 0;
    bottom: -81px;
    background-image: url(#{$image-path}design-leaves5.png);
  }
}

.design-circle {
  &::before {
    width: 204px;
    height: 205px;
    left: -11px;
    bottom: 105px;
    background-image: url(#{$image-path}design-circle.png);
    opacity: .3;
  }

  &::after {
    width: 115px;
    height: 123px;
    right: 51px;
    bottom: 124px;
    background-image: url(#{$image-path}design-petals1.png);
  }
}

.design-mount {
  &::before {
    width: 228px;
    height: 183px;
    left: -11px;
    bottom: 343px;
    background-image: url(#{$image-path}design-mount.png);
    opacity: .3;
  }

  &::after {
    width: 132px;
    height: 106px;
    right: 80px;
    bottom: 118px;
    background-image: url(#{$image-path}design-petals2.png);
  }
}

.design-petal {
  position: absolute;
  width: 39px;
  height: 38px;
  left: 41px;
  bottom: 40px;
  background-image: url(#{$image-path}design-petal1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.design-petals {
  &::before {
    width: 95px;
    height: 133px;
    left: 62px;
    bottom: 30px;
    background-image: url(#{$image-path}design-petals3.png);
    opacity: .3;
  }

  &::after {
    width: 37px;
    height: 36px;
    right: 120px;
    bottom: 123px;
    background-image: url(#{$image-path}design-petal2.png);
  }
}
