.design-petals,
.design-circle,
.design-mount,
.design-feature,
.design-parkmap,
.design-activity,
.design-parkmap-inner,
.design-activity-inner,
.design-how-to {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
}

.design-feature {
  &::before {
    width: 268px;
    height: 216px;
    left: 0;
    top: 143px;
    background-image: url(#{$image-path}design-mount1.png);

    @include max-screen($breakpoint-mobile) {
      display: block;
      width: 130px;
      height: 106px;
      top: 169px;
      left: 32px;
    }
  }
  &::after {
    width: 57px;
    height: 95px;
    right: 58px;
    top: 46px;
    background-image: url(#{$image-path}design-leaves1.png);
  }
}

.design-parkmap {
  &::before {
    width: 39px;
    height: 37px;
    left: 45px;
    top: -58px;
    background-image: url(#{$image-path}design-leaves2.png);

    @include max-screen($breakpoint-mobile) {
      display: block;
      width: 194px;
      height: 175px;
      right: -56px;
      top: -20px;
      left: auto;
      background-image: url(#{$image-path}design-leaves1-sp.png);
    }
  }
  &::after {
    width: 78px;
    height: 59px;
    right: 379px;
    top: -31px;
    background-image: url(#{$image-path}design-leaves3.png);

    @include max-screen($breakpoint-mobile) {
      display: block;
      width: 153px;
      height: 146px;
      left: -38px;
      top: calc((100% / 2) - 161px);
      background-image: url(#{$image-path}design-leaves2-sp.png);
    }
  }
}

.design-parkmap-inner {
  &::before {
    width: 358px;
    height: 343px;
    right: -23px;
    top: -64px;
    background-image: url(#{$image-path}design-leaves4.png);
  }
  &::after {
    width: 208px;
    height: 328px;
    left: 0;
    bottom: -81px;
    background-image: url(#{$image-path}design-leaves5.png);
  }
}

.design-activity {
  &::before {
    width: 39px;
    height: 34px;
    left: 163px;
    top: 162px;
    background-image: url(#{$image-path}design-leaves7.png);
    z-index: $z-min;
  }
  &::after {
    width: 135px;
    height: 262px;
    right: 94px;
    top: -68px;
    background-image: url(#{$image-path}design-leaves6.png);
  }
}

.design-activity-inner {
  &::before {
    width: 78px;
    height: 109px;
    left: 34px;
    bottom: 6px;
    background-image: url(#{$image-path}design-leaves8.png);
  }
  &::after {
    width: 228px;
    height: 183px;
    right: -23px;
    bottom: 49px;
    background-image: url(#{$image-path}design-mount.png);
  }
}

.design-how-to {
  &::before {
    width: 204px;
    height: 204px;
    right: 0;
    top: -132px;
    background-image: url(#{$image-path}design-circle2.png);
    z-index: $z-min;
  }
}


.design-circle {
  &::before {
    width: 204px;
    height: 205px;
    left: -11px;
    bottom: 105px;
    background-image: url(#{$image-path}design-circle.png);
  }

  &::after {
    width: 115px;
    height: 123px;
    right: 51px;
    bottom: 124px;
    background-image: url(#{$image-path}design-petals1.png);
  }
}

.design-mount {
  &::before {
    width: 228px;
    height: 183px;
    left: 16px;
    top: 348px;
    background-image: url(#{$image-path}design-mount.png);
  }

  &::after {
    width: 132px;
    height: 106px;
    right: 80px;
    bottom: 118px;
    background-image: url(#{$image-path}design-petals2.png);
  }

  &.design-twinring {
    &::after {
      width: 37px;
      height: 36px;
      right: 93px;
      bottom: calc((100% / 2) - 124px);
      background-image: url(#{$image-path}design-petal2.png);
      z-index: $z-min;
    }
  }
}

.design-petal {
  position: absolute;
  width: 39px;
  height: 38px;
  left: 41px;
  bottom: 40px;
  background-image: url(#{$image-path}design-petal1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.design-petals {
  &::before {
    width: 95px;
    height: 133px;
    left: 62px;
    bottom: 30px;
    background-image: url(#{$image-path}design-petals3.png);
  }

  &::after {
    width: 37px;
    height: 36px;
    right: 120px;
    bottom: 123px;
    background-image: url(#{$image-path}design-petal3.png);
  }
}
