.footer-bottom {
  padding: 44px 0 35px;

  @include max-screen($breakpoint-mobile) {
    padding: 41px 0 27px;
  }
}

.footer-bottom-list {
  display: flex;

  @include max-screen($breakpoint-mobile) {
    flex-wrap: wrap;
  }
}

.footer-bottom-item {
  padding: 0 32px;
  border-right: 1px solid $color-primary;
  font-size: 14px;

  @include max-screen($breakpoint-mobile) {
    font-size: 10px;
    width: calc(100% / 4);
    text-align: center;
    margin-bottom: 21px;
    padding: 0 10px;
  }

  &:first-child {
    padding-left: 0;

    @include max-screen($breakpoint-mobile) {
      display: none;
    }
  }
}

.footer-bottom-item-image {
  width: 156px;
}

.footer-bottom-link {
  display: block;
  line-height: 1;
  color: $color-primary;
  transition: color $duration $ease-in-out;

  &:hover {
    color: $color-green;
  }
}

.footer-bottom-copyright-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;

  @include max-screen($breakpoint-mobile) {
    flex-direction: column-reverse;
    margin-top: 19px;
  }
}

.footer-bottom-copyright {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.087em;

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
    letter-spacing: 0.11em;
  }
}

.footer-bottom-logos {
  display: flex;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 36px;
    justify-content: center;
  }

  li {
    margin-left: 18px;
    width: 123px;

    @include max-screen($breakpoint-mobile) {
      margin: 0 9px;
    }
  }
}

.footer-bottom-name {
  margin-bottom: 12px;
}

.footer-bottom-name-text {
  max-width: 165px;
}

.footer-bottom-nav {
  @include max-screen($breakpoint-mobile) {
    background-color: $color-light-gray;
  }
}
