.footer-background {
  height: 524px;
  background: url(#{$image-path}footer-twinring.png) no-repeat center 55%, url(#{$image-path}footer-bg.jpg) no-repeat center top;
  background-size: 387px auto, cover;
}
