.footer-top-nav-list-wrap {
  background-color: $color-light-gray;
  margin-bottom: 45px;
  padding: 17px 0;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 0;
  }
}

.footer-top-nav-list {
  display: flex;
  align-items: center;
  width: 100%;

  @include max-screen($breakpoint-mobile) {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 26px;
  }
}

.footer-top-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-right: 1px solid $color-primary;

  @include max-screen($breakpoint-mobile) {
    flex: auto;
    border: 0;
    padding: 0 10px;
    width: calc(100% / 3);
    margin-bottom: 37px;
  }

  &:first-child {
    border-left: 1px solid $color-primary;
    flex-grow: 1.25;

    @include max-screen($breakpoint-mobile) {
      border: 0;
    }
  }
}

.footer-top-nav-link {
  font-size: 15px;
  color: $color-primary;
  transition: color $duration $ease-in-out;

  @include max-screen($breakpoint-mobile) {
    text-align: center;
  }

  &:hover {
    color: $color-green;
  }
}

.footer-top-nav-text {
  display: inline-block;
  vertical-align: middle;

  @include max-screen($breakpoint-mobile) {
    display: block;
    text-align: center;
    font-size: 11px;
  }
}

.footer-top-nav-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
  width: 36px;

  @include max-screen($breakpoint-mobile) {
    display: block;
    text-align: center;
    margin: 0 auto 7px;
    width: 26px;
  }
}

.footer-top-links {
  display: flex;
}

.footer-top-links-list {
  flex-grow: 1;
}

.footer-top-links-item {
  display: block;
  margin-bottom: 41px;
  font-size: 15px;
  letter-spacing: 0.03em;
}

.footer-top-links-text {
  display: block;
  margin-bottom: 17px;
}

.footer-top-links-sub {
  li {
    display: block;
    margin-bottom: 9px;
    font-size: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    padding-left: 30px;
    font-size: 14px;
    color: $color-primary;
    transition: color $duration $ease-in-out;
    position: relative;

    &:hover {
      color: $color-green;
    }

    &::before {
      content: '';
      width: 15px;
      height: 1px;
      background-color: $color-primary;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
}
