.forest-craft {
	&::before {
    @include max-screen($breakpoint-mobile) {
      background-image: url("../images/craft/craft-monthly-bg-sp.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: -59px;
      right: 0;
      height: 120px;
      content: "";
    }
  }

  @include max-screen($breakpoint-mobile) {
  	margin-top: 40px;
  }
}