.heading {
  margin: 40px 0;
  position: relative;
  z-index: $z-min;

  @include max-screen($breakpoint-mobile) {
    margin: 24px 0;
  }

  &.heading-sumika {
    .heading-texts {
      img {
        @include max-screen($breakpoint-mobile) {
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  &.heading-sumika-hashtag {
    .heading-texts {
      img {
        max-width: 477px;
      }
    }
  }

  &.sumika-hashtag {
    .heading-texts {
      text-align: center;
      img {
        @include max-screen($breakpoint-mobile) {
          width: 200px;
          margin: 0 auto;
        }
      }
    }
  }

  &.heading-dokidoki {
    .heading-texts {
      img {
        @include max-screen($breakpoint-mobile) {
          width: 363px;
        }
      }
    }
  }
}

.heading-text {
  display: block;
  font-family: $font-holland;
  background: linear-gradient(to bottom, #027cc3 10%, #099f48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  font-size: 36px;

  @include max-screen($breakpoint-mobile) {
    letter-spacing: 0.01em;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(to bottom, #027cc4 0%, #09a045 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heading-wrap-parkmap & {
    @include max-screen($breakpoint-mobile) {
      text-align: left;
    }
  }
}

.heading-subtext {
  display: inline-block;
  margin-top: 20px;
  height: 36px;

  // additional
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @include max-screen($breakpoint-mobile) {
    height: 22px;
    display: block;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

//modifier for SP walk program and labo
.subpage-walk,
.subpage-labo {
  .heading-text {
    @include max-screen($breakpoint-mobile) {
      font-size: 22.5px !important;
    }
  }

  .heading-subtext {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @include max-screen($breakpoint-mobile) {
    .heading-main-subpage {
      margin-top: 90px;
    }

    .heading-family-walk {
      .heading {
        margin-bottom: 18px;
      }

      .heading-subtext {
        width: 315.5px;
        height: 55.5px;
        margin-top: 14px;
      }
    }

    .heading-guide-walk {
      .heading {
        margin-bottom: 18px;
      }

      .heading-subtext {
        width: 196.5px;
        height: 56px;
        margin-top: 14px;
      }
    }

    .heading-free-walk {
      .heading {
        margin-bottom: 18px;
      }

      .heading-subtext {
        width: 256.5px;
        height: 25px;
        margin-top: 14px;
      }
    }

    .heading-aqua-labo {
      .heading-subtext {
        height: 48px;
      }
    }

    .heading-mammal-labo {
      .heading-subtext {
        height: 55px;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    .subpage-section-family-walk,
    .subpage-section-aqua-labo {
      margin-top: 150px;
    }
  }
}

// modifier challenge
.challenge {
  .heading-text {
    max-width: 560px;
    width: 100%;

    @include max-screen($breakpoint-mobile) {
      max-width: 250px;
    }
  }
}

//modifier mobipark heading
.heading-mobipark {
  .heading {
    margin-bottom: 53px;
  }

  .heading-subtext {
    max-width: 161px;
    width: 100%;
  }
}

//modifier for SP
.heading-tsubasa {
  .heading-subtext {
    @include max-screen($breakpoint-mobile) {
      height: 55px;
    }
  }
}

//modifier for SP
.page-mobipark {
  .heading-subtext {
    @include max-screen($breakpoint-mobile) {
      min-height: 47px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;

    }
  }

  .heading-info {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        min-height: 47px;
      }
    }
  }

  .heading-kids-carbike-attraction {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        min-height: 56px;
        margin-top: 12px;
      }
    }
  }
}

//modifier kids carbike attraction
.kids-carbike-attraction {
  .content-heading {
    font-family: $font-hiragino;
    font-size: 28px;
    line-height: 1.462;
    background: linear-gradient(to right, #027cc3 10%, #099f48 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include max-screen($breakpoint-mobile) {
      text-align: center;
      font-size: 13px;
    }
  }

  .heading-kids-carbike-attraction {
    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        width: 716px;
      }
    }
  }
}

.subpage-section-carbike {
  .heading-carbike {
    .heading-subtext {
      display: block;
    }
  }
}

// modifier map
.map {
  .heading-wrap {
    .heading-subtext {
      // max-width: 319px;
      // margin-top: 0px;
      display: block;
      height: 36px;

      @include max-screen($breakpoint-mobile) {
        margin-top: 0px;
        max-width: 230px;
        padding: 0px;
      }
    }
  }
}

// modifier adventure
.adventure {
  .adventure-heading {
    // max-width: 443px;
    width: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;

    @include min-screen($breakpoint-mobile + 1) {
      margin-bottom: 50px;
    }

    &.hellowoods {
      font-size: 39px;
      height: auto;
      max-width: none;
      margin-bottom: 0;


      @include max-screen ($breakpoint-mobile) {
        font-size: 20px;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .heading-title-adventure {
    .heading-subtext {
      // max-width: 443px;
      display: block;

      @include min-screen($breakpoint-mobile + 1) {
        height: 34px;
      }

      @include max-screen($breakpoint-mobile) {
        max-width: 257px;
        margin-top: 0;
        padding: 0;
      }
      }

      &-sumika {
      .heading-subtext {
        @include min-screen($breakpoint-mobile + 1) {
          width: 443px;
          height: 35px;
        }

        @include max-screen($breakpoint-mobile) {
          max-width: 225px;
          padding: 0;
        }
      }
    }

    &-dokidoki {
      .heading-subtext {
        @include min-screen($breakpoint-mobile + 1) {
          width: 578px;
          height: 35px;
        }

        @include max-screen($breakpoint-mobile) {
          max-width: 289px;
          padding: 0;
        }
      }
    }

    &-itadaki {
      .heading-subtext {
        @include min-screen($breakpoint-mobile + 1) {
          width: 349px;
          height: 35px;
        }

        @include max-screen($breakpoint-mobile) {
          max-width: 174.5px;
          padding: 0;
          margin-top: -14px;
        }
      }
    }
  }
}

// modifier dokidoki mobipark
.dokidoki,
.mobipark {
  .heading-main-title {
    .heading-text {
      max-width: 497px;
      margin-top: 68px;
      margin-bottom: 79px;
    }
  }

  .heading-dokidoki,
  .heading-mobipark {
    .heading-text {
      width: auto !important;
      height: auto !important;
      margin-left: auto;
      margin-right: auto;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
    }
  }

  .heading-enjoy {

    .heading {
      margin-top: 103px;
      margin-bottom: 37px;
    }

    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: 600;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
      margin-top: 0px;
    }
  }

  .heading-forest {
    .heading {
      margin-top: 25px;
      margin-bottom: -1px;
    }

    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
      margin-top: 39px;
    }
  }

  .heading-forest-craft {
    .heading-wrap {
      svg {
        @include max-screen($breakpoint-mobile) {
          width: 310px;
        }
      }

      @include max-screen($breakpoint-mobile) {
        margin-bottom: 16px;
      }
    }

    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        height: auto;
        margin-top: 4px;
      }
    }
  }

  .heading-net-dokidoki,
  .heading-net-mobipark {
    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 32.456px;
      font-family: $base-font-family;
      letter-spacing: 0.06em;
      font-weight: 300;
    }
  }

  .heading-faq {
    .heading-text {
      text-align: center;
    }

    .heading-subtext {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}



// modifier heading main subpage forest driving


.mobipark {
  .heading-main-title {
    .heading-text {
      max-width: 651px;
    }
  }
}

.hellowoods-adventure-title {
  p {
    display: block;
  }
}

.dokidoki-video,
.mobipark-video {
  .heading-dokidoki {
    .heading-text {
      margin-top: 122px;
    }

    .heading-subtext {
      margin-top: 20px;
    }
  }
}
// end modifier dokidoki mobipark

// modifier mv heading
.mv-forest-driving {
  .mv-heading {
    position: relative;
    bottom: initial;
    left: initial;
    text-align: center;
    width: 100%;
  }

  .mv-heading-text {
    font-size: 45px;
    color: $color-white;
    display: inline-block;
    text-shadow: 0px 0px 18.9px rgba(79, 79, 79, 0.5);

    @include max-screen($breakpoint-mobile) {
      font-size: 46px;
      color: $color-white;
    }
  }
}

//modifier map
.heading-map {
  position: relative;
}

//modifier sp info
.info-container {
  .heading-info {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        min-height: 25px !important;
        margin-top: 12px;
      }
    }
  }
}

//modifier adventure racing kart
.racing-kart {
  .heading-racing-kart {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        min-height: 23px;
        margin-top: 12px;
        margin-bottom: 35px;
      }
    }
  }
}

//modifier forest walk
.subpage-section-family-walk {
  @include max-screen($breakpoint-mobile) {
    margin-top: 72px !important;
  }

  .heading-family-walk {
    .heading {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 33px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        margin-left: 22px;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 13px;
        margin-left: auto;
        width: 668px;
        height: 33px;
        margin-right: auto;
      }
    }
  }
}

.subpage-section-guide-walk {
  .heading-guide-walk {
    .heading {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 33px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        margin-left: 22px;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 13px;
        margin-left: auto;
        width: 481px;
        height: 33px;
        margin-right: auto;
      }
    }
  }
}

.subpage-section-free-walk {
  .heading-free-walk {
    .heading {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 33px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        margin-left: 22px;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 13px;
        margin-left: auto;
        width: 336px;
        height: 34px;
        margin-right: auto;
      }
    }
  }
}
//modifier forest walk end

//modifier forest labo
.subpage-section-aqua-labo {
  .heading-aqua-labo {
    .heading {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 33px;
      }

      @include max-screen($breakpoint-mobile) {
        margin-bottom: 19px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        margin-left: 22px;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 11px;
        margin-left: auto;
        width: 264px;
        height: 34px;
        margin-right: auto;
      }

      @include max-screen($breakpoint-mobile) {
        width: 201.5px;
        height: 25px;
        margin-top: 14px;
      }
    }
  }
}

.subpage-section-mammal-labo {
  .heading-mammal-labo {
    .heading {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 30px;
      }

      @include max-screen($breakpoint-mobile) {
        margin-top: 95px;
        margin-bottom: 14px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        margin-left: 22px;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 11px;
        margin-left: auto;
        width: 264px;
        height: 34px;
        margin-right: auto;
      }

      @include max-screen($breakpoint-mobile) {
        width: 171.5px;
        height: 25.5px;
        margin-top: 14px;
      }
    }
  }
}

.heading-dokidoki-instagram {
  width: 500px;

  @include max-screen($breakpoint-mobile) {
    width: auto;
  }
}

.heading-itadaki-instagram {
  width: 400px;

  @include max-screen($breakpoint-mobile) {
    width: auto;
  }
}
