.heading-wrap {
  &.heading-wrap-information {
    .heading-text {
      letter-spacing: 0.01em;
    }
    .heading-subtext {
      margin-top: 14px;
      width: 309px;
    }
  }

  &.heading-gradient-tobottom {
    .heading-text {
      background: linear-gradient(to bottom, #027cc3 35%, #099f48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 22.5px;
      font-weight: bold;
      letter-spacing: 0.1em;

      @include min-screen($breakpoint-mobile + 1) {
        font-size: 36px;
        letter-spacing: 0.1em;
      }
    }
  }

  &.heading-gradient-toright {
    .heading-text {
      background: linear-gradient(to right, #027cc3 0%, #099f48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 0.03em;

      @include min-screen($breakpoint-mobile + 1) {
        font-size: 36px;
        letter-spacing: 0.1em;
      }
    }
  }

  &.heading-wrap-center {
    text-align: center;

    .heading-text,
    .heading-subtext {
      margin: 0 auto;
      letter-spacing: -0.01em;
      font-size: 34px;

      @include max-screen($breakpoint-mobile) {
        letter-spacing: 0.01em;
        font-size: 24px;
      }
    }

    .heading-subtext {
      margin: 13px auto 0;
    }
  }

  &.heading-wrap-parkmap {
    .heading-subtext {
      width: 750px;
      max-width: 100%;

      @include max-screen($breakpoint-mobile) {
        width: 400px;
        height: 70px;
        display: inline-block;
        text-align: left;
      }
    }
  }

  &.heading-wrap-how-to {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        margin-top: 11px;
        width: 218px;
        height: 30px;
      }
    }
  }

  &.heading-wrap-activity {
    .heading-subtext {
      width: 800px;

      @include max-screen($breakpoint-mobile) {
        max-width: 100%;
        width: 316px;
      }
    }
  }

  &.heading-dokidoki {
    .heading-text {
      margin: 0 auto;
      text-align: center;
    }

    .heading-subtext {
      margin: 24px auto 0;
      text-align: center;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.heading-net-dokidoki {
    margin-bottom: 40px;

    .heading-text {
      margin: 0 auto;
      text-align: center;
    }
  }

  &.heading-sumika-faq {
    margin-bottom: 40px;
    text-align: center;

    .heading-subtext {
      width: 284px;
      height: 34px;
      margin: 0 auto;
    }

    .heading-text {
      letter-spacing: 0.1em;
    }
  }
// sumika/itadaki/dokidoki

  &.heading-enjoy {
    margin-bottom: 40px;
    svg {
      width: 520px;
      height: 36px;
      @include max-screen($breakpoint-mobile) {
        position: relative;
        top: -6px;
        width: 217px;
        height: 57px;
      }
    }
  }

  &.heading-wrap-craft {
    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 10px;
      }

      @include max-screen($breakpoint-mobile) {
        margin-top: 11px;
      }
    }

    svg {
      @include min-screen($breakpoint-mobile + 1) {
        width: 378px;
        height: 33px;
      }
      
      @include max-screen($breakpoint-mobile) {
        height: 25px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        letter-spacing: -0.04em;
      }
    }

    @include min-screen($breakpoint-mobile + 1) {
      margin-bottom: 64px;
    }
  }

  &.heading-forest {
    margin-bottom: 40px;
    svg {
      width: 520px;
      height: 36px;
      @include max-screen($breakpoint-mobile) {
        position: relative;
        top: -8px;
        width: 206px;
        height: 57px;
      }
    }
  }

  &.heading-video {
    margin-bottom: 40px;
    svg {
      width: 520px;
      height: 36px;
      @include max-screen($breakpoint-mobile) {
        width: 274px;
        position: relative;
        top: -14px;
      }
    }
  }

  &.heading-recommend {
    margin-bottom: 40px;
    svg {
      width: 513px;
      height: 34px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  &.heading-attraction {
    .heading-subtext {
      margin-top: 10px;
      max-width: 489px;
      width: 100%;
    }
  }

  &.heading-pickup {
    margin-bottom: 37px;
    .heading-text {
      letter-spacing: 0.05em;
    }

    .heading-subtext {
      margin-top: 10px;
      width: 100%;
    }

    svg {
      max-width: 389px;
      height: 34px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    .heading-main-subpage {
      margin-top: 0;
    }

    .heading-family-walk {
      .heading {
        margin-bottom: 20px;
      }

      .heading-subtext {
        width: 315.5px;
        height: 55.5px;
        margin-top: 12px;
      }
    }

    .heading-guide-walk {
      .heading {
        margin-bottom: 20px;
      }

      .heading-subtext {
        width: 196.5px;
        height: 56px;
        margin-top: 13px;
      }
    }

    .heading-free-walk {
      .heading {
        margin-bottom: 18px;
      }

      .heading-subtext {
        width: 256.5px;
        height: 25px;
        margin-top: 14px;
      }
    }
  }

  &.heading-wrap-video-musasabi {
    @include max-screen($breakpoint-mobile) {
      margin-bottom: 35px;
    }

    .heading-subtext {
      height: 91px;
      width: 300px;

      @include max-screen($breakpoint-mobile) {
        margin-top: 10px;
      }

      @include min-screen($breakpoint-mobile) {
        height: 37px;
        width: 731px;
      }
    }
  }

  &.heading-forest-craft {
    .heading {
      @include max-screen($breakpoint-mobile) {
        margin-bottom: 0;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 8px;
        transform: translateX(-10px);
        text-align: left;
      }

      @include max-screen($breakpoint-mobile) {
        height: 43px;
        display: block;
        padding: 0 14px 0 8px;
        margin-top: 3px;
      }
    }

    svg {
      @include min-screen($breakpoint-mobile + 1) {
        width: 413px;
        height: 36px;
      }

      @include max-screen($breakpoint-mobile) {
        width: 316px;
      }
    }

    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        letter-spacing: -0.04em;
      }
    }

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 18px;
    }
  }

  &.heading-wrap-menu {
    .heading-text {
      @include min-screen($breakpoint-mobile + 1) {
        letter-spacing: -0.04em;
      }

      @include max-screen($breakpoint-mobile) {
        font-size: 22.5px;
      }
    }

    .heading-subtext {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 2px;
        height: 34px;
      }

      svg {
        @include min-screen($breakpoint-mobile + 1) {
          width: 377px;
          height: 34px;
          margin-left: -17px;
        }
      }

      @include max-screen($breakpoint-mobile) {
        margin: 7px auto 0;
        height: 26px;
      }
    }

    .heading {
      @include max-screen($breakpoint-mobile) {
        margin: 24px 0 41px;
      }
    }
  }

  &.heading-comparison {
    text-align: center;
    .heading-subtext {
      max-width: 491px;
      width: 100%;

      @include max-screen($breakpoint-mobile) {
        margin-top: 10px;
      }
    }

    .heading-aqua-labo {
      .heading-subtext {
        height: 48px;
      }
    }

    .heading-mammal-labo {
      .heading-subtext {
        height: 55px;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    .subpage-section-family-walk {
      margin-top: 72px;
    }

    .subpage-section-aqua-labo {
      margin-top: 150px;
    }
  }
}
