.heading {
  margin: 40px 0;

  @include max-screen($breakpoint-mobile) {
    margin: 24px 0;
  }
}

.heading-text {
  display: block;
  font-family: $font-holland;
  background: linear-gradient(to right, #027cc3 10%, #099f48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  font-size: 36px;

  @include max-screen($breakpoint-mobile) {
    letter-spacing: 0.01em;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(to bottom, #027cc4 0%, #09a045 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heading-wrap-parkmap & {
    @include max-screen($breakpoint-mobile) {
      text-align: left;
    }
  }
}

.heading-subtext {
  display: inline-block;
  margin-top: 20px;
  height: 36px;

  @include max-screen($breakpoint-mobile) {
    height: 22px;
    display: block;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

//modifier hellowoods family walk
.heading-walk {
  .heading-subtext {
    display: block;
  }
}

// modifier challenge
.challenge {
  .heading-text {
    max-width: 584px;
    width: 100%;
  }
}


//modifier mobipark heading
.heading-mobipark {
  .heading {
    margin-bottom: 53px;
  }

  .heading-subtext {
    max-width: 161px;
    width: 100%;
  }
}

//banner title image or text
.heading-banner-more {
  .heading {
    margin: 20px 0 0;
  }

  .heading-text {
    line-height: 1;
    letter-spacing: 0.16em;
    font-size: 31px;
    position: relative;
  }

  .heading-subtext {
    position: relative;
    margin-top: 0;
  }

  &.heading-banner-more-forestdriving {
    .heading-subtext {
      max-width: 419px;
      width: 100%;
      left: 10px;
    }

  }

  &.heading-banner-more-deb-den {
    .heading-subtext {
      max-width: 528px;
      width: 100%;
      left: 10px;
    }
  }

  &.heading-banner-more-challenge {
    .heading-subtext {
      max-width: 528px;

      width: 100%;
      left: 10px;
    }
  }

  &.heading-banner-more-bunbun {
    .heading-subtext {
      left: 26px;
    }
  }

  &.heading-banner-more-motorcycle {
    .heading-subtext {
      left: 9px;
      height: auto;
    }
  }
}

//main page title
.heading-main {
  margin-bottom: 45px;

  @include min-screen($breakpoint-mobile + 1) {
    margin-bottom: 83px;
  }

  .heading {
    // max-width: 651px;
    width: 100%;
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &.heading-main-carbike {
    .heading {
      margin-bottom: 65px;
      max-width: 531px;
    }
  }

  &.heading-main-dokidoki {
    .heading {
      max-width: 497px;
    }
  }

  &.heading-main-wild-racer {
    .heading {
      max-width: 505px;
    }
  }

  &.heading-main-bunbun {
    .heading {
      max-width: 445px;
    }
  }

  &.heading-main-motorcycle {
    .heading {
      max-width: 358px;
    }
  }

  &.heading-main-forest-driving {
    img {
      max-width: 651px;
      width: 100%;
    }
  }



}

//how to enjoy heading
.heading-howto {
  margin-bottom: 35px;

  &.heading-howto-bunbun {
    .heading-subtext {
      max-width: 560px;
      width: 100%;
    }
  }

  &.heading-howto-acrox {
    .heading-subtext {
      max-width: 628px;
      margin-bottom: 35px;
      width: 100%;
    }
  }

  &.heading-howto-debden {
    .heading-subtext {
      max-width: 669px;
      width: 100%;
      height: 40px;
    }
  }

  &.heading-howto-dokidoki {
    .heading-subtext {
      max-width: 545px;
      width: 100%;
    }
  }

  &.heading-howto-forest-driving {
    .heading-subtext {
      max-width: 539px;
      width: 100%;
    }
  }

  &.heading-howto-tsubasa {
    .heading-subtext {
      max-width: 206px;
      margin-top: 23px;
      width: 100%;
    }
  }

  &.heading-howto-wildracer {
    .heading-subtext {
      max-width: 626px;
      width: 100%;
    }
  }

  &.heading-howto-motorcycle {
    .heading-subtext {
      max-width: 925px;
      width: 100%;
    }
  }

  &.heading-howto-mototouring {
    .heading-subtext {
      max-width: 625px;
      width: 100%;
    }
  }

  &.heading-howto-motoracer {
    .heading-subtext {
      max-width: 583px;
      width: 100%;
    }
  }

  &.heading-howto-dream {
    .heading-subtext {
      max-width: 616px;
      width: 100%;
    }
  }

  &.heading-howto-drift {
    .heading-subtext {
      max-width: 515px;
      width: 100%;
    }
  }

  &.heading-howto-challenge {
    .heading-subtext {
      max-width: 669px;
      width: 100%;
    }
  }
}

.heading-wrap {
  &.heading-gradient-tobottom {
    .heading-text {
      background: linear-gradient(to bottom, #027cc3 35%, #099f48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 22.5px;
      font-weight: bold;
      letter-spacing: 0.1em;

      @include min-screen($breakpoint-mobile + 1) {
        font-size: 36px;
        letter-spacing: 0.1em;
      }
    }
  }

  &.heading-gradient-toright {
    .heading-text {
      background: linear-gradient(to right, #027cc3 0%, #099f48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 0.03em;

      @include min-screen($breakpoint-mobile + 1) {
        font-size: 36px;
        letter-spacing: 0.1em;
      }
    }
  }

  &.heading-wrap-center {
    text-align: center;

    .heading-text,
    .heading-subtext {
      margin: 0 auto;
      letter-spacing: 0.03em;
    }

    .heading-subtext {
      margin: 25px auto 0;
    }
  }

  &.heading-wrap-parkmap {
    .heading-subtext {
      width: 750px;

      @include max-screen($breakpoint-mobile) {
        width: 400px;
        height: 70px;
        display: inline-block;
        text-align: left;
        margin-left: -9px;
        margin-top: 11px;
      }
    }
  }

  &.heading-wrap-activity {
    .heading-subtext {
      width: 800px;
    }
  }

  &.heading-dokidoki {
    .heading-text {
      margin: 0 auto;
      text-align: center;
    }

    .heading-subtext {
      margin: 24px auto 0;
      text-align: center;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.heading-net-dokidoki {
    margin-bottom: 40px;

    .heading-text {
      margin: 0 auto;
      text-align: center;
    }
  }

  &.heading-sumika-faq {
    margin-bottom: 40px;
    text-align: center;

    .heading-subtext {
      width: 284px;
      height: 34px;
      margin: 0 auto;
    }

    .heading-text {
      letter-spacing: 0.1em;
    }
  }
// sumika/itadaki/dokidoki

  &.heading-enjoy {
    margin-bottom: 40px;
    svg {
      width: 520px;
      height: 36px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  &.heading-forest {
    margin-bottom: 40px;
    svg {
      width: 520px;
      height: 36px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  &.heading-video {
    margin-bottom: 40px;
    svg {
      width: 520px;
      height: 36px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  &.heading-recommend {
    margin-bottom: 40px;
    svg {
      width: 513px;
      height: 34px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }
  }

  &.heading-attraction {
    .heading-subtext {
      margin-top: 10px;
      max-width: 489px;
      width: 100%;
    }
  }

  &.heading-pickup {
    margin-bottom: 37px;
    .heading-text {
      letter-spacing: 0.05em;
    }

    .heading-subtext {
      margin-top: 10px;
      width: 100%;
    }

    svg {
      max-width: 389px;
      height: 34px;
      @include max-screen($breakpoint-mobile) {
        width: auto;
      }
    }

  }

  &.heading-net-acro-x {
    margin-top: 15px;
    margin-bottom: 0;

    .heading-text {
      position: relative;
      left: 6px;
      letter-spacing: 0.16em;
    }
  }

  &.heading-carbike {
    text-align: center;
    margin-bottom: 27px;

    @include min-screen($breakpoint-mobile + 1) {
      margin-bottom: 85px;
    }

    .heading-subtext {
      height: 40px;
    }
  }

  &.heading-carbike-car {
    svg {
      max-width: 259px;
      width: 100%;


      @include min-screen($breakpoint-mobile + 1) {
        max-width: 405px;
      }
    }
  }

  &.heading-carbike-bike {
    svg {
      max-width: 318px;
      width: 100%;

      @include min-screen($breakpoint-mobile + 1) {
        max-width: 497px;
      }
    }
  }

  &.heading-carbike-workshop {
    svg {
      max-width: 260px;
      width: 100%;

      @include min-screen($breakpoint-mobile + 1) {
        max-width: 407px;
      }
    }
  }


  &.heading-dokidoki-forest {
    margin-bottom: 55px;

    .heading-subtext {
      max-width: 659px;
      margin-top: 35px;
      width: 100%;
    }
  }

  &.heading-faq-tsubasa {
    margin-bottom: 30px;
    text-align: center;

    .heading-subtext {
      margin-top: 23px;
      max-width: 284px;
      width: 100%;
    }
  }

  &.heading-comparison {
    text-align: center;

    .heading-subtext {
      max-width: 487px;
      width: 100%;
    }
  }

  &.heading-course-challenge {
    margin-bottom: 58px;

    .heading-subtext {
      max-width: 201px;
      margin: 0 auto;
      width: 100%;
    }
  }

  &.heading-kart-challenge {
    margin-bottom: 50px;
    .heading-subtext {
      max-width: 959px;
      margin-top: 0;
      width: 100%;
    }
  }
}

//modifier kids carbike attraction
.kids-carbike-attraction {
  .content-heading {
    font-family: $font-hiragino;
    font-size: 28px;
    line-height: 1.462;
    background: linear-gradient(to right, #027cc3 10%, #099f48 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heading-kids-carbike-attraction {
    .heading-subtext {
      width: 100%;
    }
  }
}

// modifier map
.map {
  .heading-wrap {
    .heading-subtext {
      max-width: 319px;
      margin-top: 0px;
    }
  }
}

// modifier adventure
.adventure {
  .adventure-heading {
    max-width: 443px;
    width: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;

    &.hellowoods {
      font-size: 39px;
      height: auto;
      max-width: none;

      @include max-screen ($breakpoint-mobile) {
        font-size: 20px;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .heading-title-adventure {
    .heading-subtext {
      max-width: 443px;
    }
  }
}

// modifier dokidoki mobipark
.dokidoki,
.mobipark {
  .heading-main-title {
    .heading-text {
      max-width: 497px;
      margin-top: 68px;
      margin-bottom: 79px;
    }
  }

  .heading-dokidoki,
  .heading-mobipark {
    .heading-text {
      width: auto !important;
      height: auto !important;
      margin-left: auto;
      margin-right: auto;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
    }
  }

  .heading-enjoy {

    .heading {
      margin-top: 103px;
      margin-bottom: 37px;
    }

    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: 600;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
      margin-top: 0px;
    }
  }

  .heading-forest {
    .heading {
      margin-top: 25px;
      margin-bottom: -1px;
    }

    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
      margin-top: 39px;
    }
  }

  .heading-net-dokidoki,
  .heading-net-mobipark {
    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 32.456px;
      font-family: $base-font-family;
      letter-spacing: 0.06em;
      font-weight: 300;
    }
  }

  .heading-faq {
    .heading-text {
      text-align: center;
    }

    .heading-subtext {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}



// modifier heading main subpage forest driving


.mobipark {
  .heading-main-title {
    .heading-text {
      max-width: 651px;
    }
  }
}

.dokidoki-video,
.mobipark-video {
  .heading-dokidoki {
    .heading-text {
      margin-top: 122px;
    }

    .heading-subtext {
      margin-top: 20px;
    }
  }
}
// end modifier dokidoki mobipark

// modifier mv heading
.mv-forest-driving {
  .mv-heading {
    position: relative;
    bottom: initial;
    left: initial;
    text-align: center;
    width: 100%;
  }

  .mv-heading-text {
    font-size: 45px;
    color: $color-white;
    display: inline-block;
    text-shadow: 0px 0px 18.9px rgba(79, 79, 79, 0.5);

    @include max-screen($breakpoint-mobile) {
      font-size: 46px;
      color: $color-white;
    }
  }
}
