//banner title image or text
.heading-banner-more {
  .heading {
    margin: 0;
  }

  .heading-text {
    line-height: 1;
    letter-spacing: 0.16em;
    font-size: 31px;
    position: relative;
  }

  .heading-subtext {
    position: relative;
    margin: 0 auto;
  }

  &.heading-banner-more-tsubasa{
    .heading-subtext {
      height: auto;
    }
  }

  &.heading-banner-more-acrox {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        max-width: 184px;
        height: auto;
      }
    }
  }

  &.heading-banner-more-forestdriving {
    .heading-subtext {
      max-width: 419px;
      width: 100%;
      left: 10px;

      @include max-screen($breakpoint-mobile) {
        left: 0;
        max-width: 158px;
        height: auto;
      }
    }

  }

  &.heading-banner-more-debden {
    .heading-subtext {
      max-width: 528px;
      width: 100%;
      left: 10px;

      @include max-screen($breakpoint-mobile) {
        left: 0;
        max-width: 208px;
        height: 46px;
      }

    }
  }

  &.heading-banner-more-challenge {
    .heading-subtext {
      max-width: 528px;

      width: 100%;
      left: 10px;
    }
  }

  &.heading-banner-more-bunbun {
    .heading-subtext {
      left: 26px;

      @include max-screen($breakpoint-mobile) {
        left: 0;
        max-width: 232px;
        height: 46px;
      }
    }
  }

  &.heading-banner-more-motorcycle {
    .heading-subtext {
      left: 9px;
      height: auto;

      @include max-screen($breakpoint-mobile) {
        left: 0;
        max-width: 210px;
      }
    }
  }

  &.heading-banner-more-mototouring {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        max-width: 184px;
        height: 46px;
      }
    }
  }
  &.heading-banner-more-motoracer {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        max-width: 161px;
        height: 46px;
      }
    }
  }
  &.heading-banner-more-dream {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        max-width: 178px;
        height: 46px;
      }
    }
  }
  &.heading-banner-more-wildracer {
    .heading-subtext {
      @include max-screen($breakpoint-mobile) {
        max-width: 206px;
        height: 46px;
      }
    }
  }
}
