.heading-text {
  display: block;
  font-family: $font-holland;
  background: linear-gradient(to right, #027cc3 10%, #099f48 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  font-size: 36px;
}

.heading-subtext {
  display: inline-block;
  // margin: 17px 0 0 10px;
  height: 36px;

  svg {
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
}

.heading-wrap {
  &.heading-gradient-tobottom {
    .heading-text {
      background: linear-gradient(to bottom, #027cc3 35%, #099f48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
  }

  &.heading-gradient-toright {
    .heading-text {
      background: linear-gradient(to right, #027cc3 0%, #099f48 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0.1em;
    }
  }

  &.heading-wrap-center {
    text-align: center;

    .heading-text,
    .heading-subtext {
      margin: 0 auto;
      letter-spacing: 0.03em;
    }

    .heading-subtext {
      margin: 25px auto 0;
    }
  }

  &.heading-wrap-parkmap {
    .heading-subtext {
      width: 750px;
    }
  }

  &.heading-wrap-activity {
    .heading-subtext {
      width: 800px;
    }
  }

  &.heading-dokidoki {
    .heading-text {
      margin: 0 auto;
      text-align: center;
    }

    .heading-subtext {
      margin: 24px auto 0;
      text-align: center;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.heading-net-dokidoki {
    margin-bottom: 40px;

    .heading-text {
      margin: 0 auto;
      text-align: center;
    }
  }

  &.heading-sumika-faq {
    margin-bottom: 40px;
    text-align: center;

    .heading-subtext {
      width: 284px;
      height: 34px;
      margin: 0 auto;

    }

    .heading-text {
      letter-spacing: 0.1em;
    }
  }

  &.heading-forest {
    svg {
      width: 520px;
      height: 36px;
    }
  }

  &.heading-video {
    svg {
      width: 520px;
      height: 36px;
    }
  }

  &.heading-recommend {
    svg {
      width: 513px;
      height: 34px;
    }
  }

  &.heading-attraction {
    .heading-subtext {
      margin-top: 10px;
      max-width: 489px;
      width: 100%;
    }
  }

  &.heading-recommendation {
    margin-bottom: 37px;

    .heading-subtext {
      margin-top: 10px;
      max-width: 435px;
      width: 100%;
    }
  }

  &.heading-pickup {
    margin-bottom: 37px;
    .heading-text {
      letter-spacing: 0.05em;
    }

    .heading-subtext {
      margin-top: 10px;
      max-width: 367px;
      width: 100%;
    }

    svg {
      width: 513px;
      height: 34px;
    }
  }

  &.heading-main {
    margin-bottom: 83px;

    .heading {
      max-width: 651px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &.heading-howto-acrox {
    .heading-subtext {
      max-width: 628px;
      margin-bottom: 35px;
      width: 100%;
    }
  }

  &.heading-net-acro-x {
    margin-top: 15px;
    margin-bottom: 0;

    .heading-text {
      position: relative;
      left: 6px;
      letter-spacing: 0.16em;
    }
  }

  &.heading-howto-bunbun {
    margin-bottom: 35px;
    .heading-subtext {
      max-width: 560px;
      width: 100%;
    }
  }

  &.heading-main-carbike {

    .heading {
      margin-bottom: 65px;
      max-width: 531px;
    }
  }

  &.heading-car-attraction {
    margin-bottom: 85px;

    .heading-subtext {
      max-width: 405px;
      width: 100%;
      height: 40px;
    }
  }

  &.heading-bike-attraction {
    margin-bottom: 85px;

    .heading-subtext {
      max-width: 497px;
      width: 100%;
      height: 40px;
    }
  }

  &.heading-workshop-attraction {
    margin-bottom: 85px;

    .heading-subtext {
      max-width: 407px;
      width: 100%;
      height: 40px;
    }
  }

  &.heading-howto-debden {
    margin-bottom: 35px;
    .heading-subtext {
      max-width: 669px;
      width: 100%;
      height: 40px;
    }
  }

  &.heading-main-dokidoki {
    .heading {
      max-width: 497px;
      margin: 0 auto;
    }
  }

  &.heading-howto-dokidoki {
    margin-bottom: 40px;

    .heading-subtext {
      max-width: 545px;
      width: 100%;
    }
  }

  &.heading-dokidoki-forest {
    margin-bottom: 55px;

    .heading-subtext {
      max-width: 659px;
      margin-top: 35px;
      width: 100%;
    }
  }

  &.heading-howto-forest-driving {
    margin-bottom: 35px;
    .heading-subtext {
      max-width: 539px;
      width: 100%;
    }
  }

  &.heading-howto-tsubasa {
    margin-bottom: 50px;
    .heading-subtext {
      max-width: 206px;
      margin-top: 23px;
      width: 100%;
    }
  }

  &.heading-faq-tsubasa {
    margin-bottom: 30px;
    text-align: center;

    .heading-subtext {
      margin-top: 23px;
      max-width: 284px;
      width: 100%;
    }
  }

  &.heading-comparison {
    text-align: center;

    .heading-subtext {
      max-width: 487px;
      width: 100%;
    }
  }

  &.heading-main-wild-racer {
    .heading-text {
      max-width: 505px;
      width: 100%;
    }
  }

  &.heading-howto-wildracer {
    margin-bottom: 35px;
    .heading-subtext {
      max-width: 626px;
      width: 100%;
    }
  }
}

//modifier kids carbike attraction
.kids-carbike-attraction {
  .content-heading {
    font-size: 26px;
    font-family: $font-hiragino;
    font-size: 28px;
    line-height: 1.462; 
    background: linear-gradient(to right, #027cc3 10%, #099f48 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
  }

  .heading-kids-carbike-attraction {
    .heading-subtext {
      width: 100%;
    }
  }
}

// modifier map
.map {
  .heading-wrap {
    .heading-subtext {
      max-width: 319px;
      margin-top: 0px;
    }
  }
}

// modifier adventure
.adventure {
  .adventure-heading {
    max-width: 443px;
    width: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .heading-title-adventure {
    .heading-subtext {
      max-width: 443px;
    }
  }
}

// modifier challenge
.challenge {
  .heading-text {
    max-width: 584px;
    width: 100%;
  }
}

//modifier mobipark heading
.heading-mobipark {
  .heading {
    margin-bottom: 53px;
  }

  .heading-subtext {
    max-width: 161px;
    width: 100%;
  }
}

// modifier dokidoki mobipark
.dokidoki,
.mobipark {
  .heading-main-title {
    .heading-text {
      max-width: 497px;
      margin-top: 68px;
      margin-bottom: 79px;
    }
  }

  .heading-dokidoki,
  .heading-mobipark {
    .heading-text {
      width: auto !important;
      height: auto !important;
      margin-left: auto;
      margin-right: auto;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
    }
  }

  .heading-enjoy {
    .heading {
      margin-top: 103px;
      margin-bottom: 37px;
    }

    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: 600;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
      margin-top: 0px;
    }
  }

  .heading-forest {
    .heading {
      margin-top: 25px;
      margin-bottom: -1px;
    }

    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 36px;
      letter-spacing: 0.06em;
      font-family: $font-holland;
      font-weight: bold;
    }

    .heading-subtext {
      width: 100%;
      margin-top: 39px;
    }
  }

  .heading-net-dokidoki,
  .heading-net-mobipark {
    .heading-text {
      width: auto !important;
      height: auto !important;
      font-size: 32.456px;
      font-family: $base-font-family;
      letter-spacing: 0.06em;
      font-weight: 300;
    }
  }

  .heading-faq {
    .heading-text {
      text-align: center;
    }

    .heading-subtext {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

.mobipark {
  .heading-main-title {
    .heading-text {
      max-width: 651px;
    }
  }
}

.dokidoki-video,
.mobipark-video {
  .heading-dokidoki {
    .heading-text {
      margin-top: 122px;
    }

    .heading-subtext {
      margin-top: 20px;
    }
  }
}
// end modifier dokidoki mobipark

// modifier mv heading
.mv-forest-driving {
  .mv-heading {
    position: relative;
    bottom: initial;
    left: initial;
    text-align: center;
    width: 100%;
  }

  .mv-heading-text {
    font-size: 45px;
    color: $color-white;
    display: inline-block;
    text-shadow: 0px 0px 18.9px rgba(79, 79, 79, 0.5);

    @include max-screen($breakpoint-mobile) {
      font-size: 46px;
      color: $color-white;
    }
  }
}