.hotel-reservation {
  .button {
    border: 1px solid #333;
    width: auto;
    max-width: 400px;

    &::before {
      display: none;
    }
  }

  .hotel-reservation-wrap {
    padding: 14%;

    .heading-text {
      background: none;
      -webkit-text-fill-color: $color-white;
    }

    .reserve-button {
      width: auto;
      max-width: 700px;
      background-color: $color-white;
    }
  }
  .hotel-reservation-qna-wrap {
    background-color: #f2f2f2;

    .hotel-reservation-ctas {
      display: flex;
      justify-content: center;
  
      .l-button {
        width: 100%;
        margin-bottom: 50px;

      }
    }
  }
}