.image-border {
  border: 10px solid transparent;
  border-image: url(#{$image-path}frame.png) 30 stretch;

  @include max-screen($breakpoint-mobile) {
    border: 6px solid transparent;
    border-image: url(#{$image-path}frame.png) 30 stretch;
  }
}
