.information {
  padding: 95px 0 120px;
  position: relative;

  @include max-screen($breakpoint-mobile) {
    padding: 53px 0 50px;
  }
}

.information-container {
  position: relative;
}

.information-button {
  position: absolute;
  right: 34px;
  top: 29px;

  @include max-screen($breakpoint-mobile) {
    position: relative;
    right: 0;
    top: auto;
    margin-top: 43px;
  }
}
