.info-container {
  margin-top: 65px ;

  @include min-screen($breakpoint-mobile + 1) {
    margin-bottom: 128px;
  }

  @include max-screen($breakpoint-mobile) {
    margin-top: 0px;
  }

  .info-list {
    max-width: 1021px;
    width: 100%;
    max-height: 320px;
    margin: 44px auto 0;
    overflow-y: auto;
    -ms-overflow-style: none;

    @include max-screen($breakpoint-mobile) {
      margin: 0 0 85px 0;
      max-height: 300px;
      min-height: 31px;
    }

    .info-item {
      padding-left: 45px;
      padding-right: 20px;
      font-size: 18px;
      letter-spacing: 0.16em;
      font-weight: 600;
      position: relative;
      //border-bottom: 1px dashed $color-black;

      padding-top: 24px;
      padding-bottom: 25px;
      background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 10px 1px;
      background-repeat: repeat-x;

      @include max-screen ($breakpoint-mobile) {
        background-size: 4px 1px;
        font-size: 12px;
        padding-left: 25px;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      &:before {
        width: 11px;
        height: 100%;
        background-image: url(../images/list-dot.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left center;
        content: "";
        position: absolute;
        left: 15px;
        top: 0;

        @include max-screen($breakpoint-mobile) {
          width: 10px;
          height: 100%;
          left: 3px;
          top: -10px;
        }
      }

      &.info-item-racing {
        &:before {
          @include max-screen($breakpoint-mobile) {
            top: 5px;
            height: 30px;
          }
        }
      }

      span {
        //margin-top: 24px;
        //margin-bottom: 24px;
        display: block;
        color: #333;

        @include max-screen($breakpoint-mobile) {
          // margin-bottom: -6px;
          // margin-top: 14px;
          // padding-bottom: 13px;
        }
      }

      &:first-child {
        padding-top: 14px;
        padding-bottom: 14px;
        span {
          margin-top: 0px;

          @include min-screen($breakpoint-mobile + 1) {
            //margin-bottom: 14px;
          }
        }

        @include max-screen ($breakpoint-mobile) {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      &.collection-item {
        height: auto;
        padding:0;
        line-height: 2;
        overflow-y: auto;
        @include max-screen ($breakpoint-mobile) {
          font-weight: bold;
          height: 100%;
          overflow: hidden;
        }
        &:before {
          height: 17px;
          top: 30px;
        }
        &.goods-item {
          height: 120px;
          @include max-screen ($breakpoint-mobile) {
            height: 135px;
          }
          &:before {
            height: 10px;
            top: 36px;
            @include max-screen ($breakpoint-mobile) {
              top: 30px;
            }
          }
        }
        .collection-item-div {
          padding-top: 23px;
          padding-bottom: 22px;
          padding-left: 45px;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
          background-position: top;
          background-size: 10px 1px;
          background-repeat: repeat-x;
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          font-weight: bold;
          @include max-screen ($breakpoint-mobile) {
            position: relative;
            padding-left: 28px;
          }
          .collection-item-margin {
            margin-top: 15px;
          }
        }
      }
    }
  }

  &.info-container-hellowoods {
    @include max-screen ($breakpoint-mobile) {
      margin-top: 0px;
    }
  }

  &.info-marcherant {
    margin-top: 0;
  }
}

//modifier for SP
@include max-screen($breakpoint-mobile) {
  .info-container {
    .info-list {
      max-width: 612px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 26px;
      margin-bottom: 55px;
      max-height: 178px;
      &.collection-list {
        max-height: none;
      }

      .info-item {
        padding-top: 10px;
        padding-bottom: 12px;
      }
    }
  }
}
