.kids-carbike-attraction {
  @include min-screen($breakpoint-mobile + 1) {
    margin-top: 0;
    margin-bottom: 149px;
  }

  @include max-screen($breakpoint-mobile) {
    margin-top: -27px;
  }

  .row {
    margin-top: 52px;

    @include max-screen($breakpoint-mobile) {
      margin-top: 45px;
    }

    [class^="col-"] {
      &:first-child {
        order: 2;

        @include min-screen($breakpoint-mobile + 1) {
          padding-left: 31px;
          padding-top: 9px;         
        }

        @include max-screen($breakpoint-mobile) {
          order: 1;
        }
      }

      &:last-child {
        order: 1;
        padding-right: 30px;

        @include max-screen($breakpoint-mobile) {
          order: 2;
          margin-top: 25px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }

  .content-desc {
    margin-top: 34px;
    font-size: 15px;
    line-height: 2;  
    letter-spacing: 0.16em;

    @include max-screen($breakpoint-mobile) {
      font-size: 12px;
      text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 13px;
    }
  }

  @include max-screen($breakpoint-mobile) {
    max-width: 612px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}