.location {
  &-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;

    @include max-screen($breakpoint-mobile) {
      display: block;
    }
  }

  &-col {
    &:nth-of-type(1) {
      width: 613px;

      @include max-screen($breakpoint-mobile) {
        width: 100%;
      }
    }

    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }

  &-map {
    .map-iframe {
      border: 1px dashed $color-green;
      
      @include max-screen($breakpoint-mobile) {
        height: 195.5px;
      }

      iframe {
        width: 100%;

        @include min-screen($breakpoint-mobile + 1) {
          height: 358px;
        }

        @include max-screen($breakpoint-mobile) {
          height: 100%;
        }
      }
    }
  }

  &-cta {
    margin-top: 40px;
  }

  &-text {
    font-size: 15px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.1em;
    margin-bottom: 25px;

    @include max-screen($breakpoint-mobile) {
      font-size: 14px;
      line-height: 1.833;      
    }
  }

  &-desc {
    padding-top: 29px;
  }

  &-note {
    display: flex;
    justify-content: space-between;

    @include max-screen($breakpoint-mobile) {
      display: block;
    }

    &-col {
      &:nth-of-type(1) {
        @include min-screen($breakpoint-mobile + 1) {
          width: 333px;
        }
      }

      &:nth-of-type(2) {
        @include min-screen($breakpoint-mobile + 1) {
          width: 656px;
        }
      }
    }

    .border-text {
      position: relative;
      height: 100%;
      border: 1px solid $color-black;

      @include min-screen($breakpoint-mobile + 1) {
        padding: 49px 27px 31px;
      }
      
      @include max-screen($breakpoint-mobile) {
        padding: 18px 20px;
        margin-bottom: 40px;
      }
    }

    .title {
      position: absolute;
      background-color: $color-white;
      padding: {
        left: 25px;
        right: 25px;
      }
      font-size: 18px;
      line-height: 1.778;
      letter-spacing: 0.1em;
      font-weight: bold;
      top: -17px;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;

      @include max-screen($breakpoint-mobile) {
        font-size: 15px;
        top: -14px;
        padding: 0 8px;  
      }
    }

    .text {
      font-size: 15px;
      line-height: 2;
      letter-spacing: 0.1em;

      @include max-screen($breakpoint-mobile) {
        font-size: 12px;
        line-height: 1.961;
      }

      span {
        display: block;

        &:nth-of-type(1) {
          color: $color-red;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      a {
        color: inherit;
        text-decoration: underline;
        font-weight: bold;
      }
    }

    &-list {
      @include max-screen($breakpoint-mobile) {
        margin-top: 10px;
      }

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;

        @include max-screen($breakpoint-mobile) {
          padding-left: 11px;
          margin-left: 14px;
        }

        &:before {
          content: "\2022";
          position: absolute;
          font-size: 35px;
          color: $color-green;
          top: -14px;
          left: 0px;

          @include max-screen($breakpoint-mobile) {
            font-size: 20px;
            top: -9px;
          }
        }

        p {
          font-size: 14px;
          line-height: 1.571;
          letter-spacing: 0.1em;
          font-weight: bold;

          @include max-screen($breakpoint-mobile) {
            font-size: 12px;
            line-height: 1;            
          }
        }

        @at-root & {
          span {
            font-size: 14px;
            line-height: 1.571;
            letter-spacing: 0.1em;

            @include max-screen($breakpoint-mobile) {
              font-size: 10px;
              line-height: 1;  
            }
          }
        }
      }
    }

    &-cta {
      display: flex;
      justify-content: center;
      margin-top: 30px;

      @include max-screen($breakpoint-mobile) {
        display: block;
        padding: 0px 20px;
      }

      .note-cta {
        display: flex;
        justify-content: center;
        border: 1px solid $color-black;
        height: 46px;
        align-items: center;
        padding-left: 29px;
        padding-right: 29px;
        border-radius: 23px;
        margin-right: 19px;
        color: inherit;

        @include max-screen($breakpoint-mobile) {
          margin-right: 0px;
          margin-bottom: 18px;
          height: 39px;
        }

        &:nth-of-type(2) {
          margin-right: 0px;
          margin-bottom: 12px;
        }

        svg {
          width: 23px;
          height: 23px;
          margin-right: 22px;

          @include max-screen($breakpoint-mobile) {
            margin-right: 13px;
          }
        }

        @at-root & {
          span {
            font-size: 15px;
            text-decoration: underline;
            letter-spacing: 0.1em;

            @include max-screen($breakpoint-mobile) {
              font-size: 14px;              
            }
          }
        }
      }
    }
  }
}