.media {
  margin: 0 auto;
  max-width: 1015px;
  display: flex;
  width: 100%;

  @include min-screen($breakpoint-mobile + 1) {
    padding: 0 55px;
  }

  @include max-screen($breakpoint-mobile) {
    flex-direction: column;
    padding: 0 20px;
  }

  &:not(:last-child) {
    margin-bottom: 25px;

    @include min-screen($breakpoint-mobile + 1) {
      margin-bottom: 55px;
    }
  }
}

.media-left {
  text-align: center;

  @include min-screen($breakpoint-mobile + 1) {
    max-width: 380px;
    width: 100%;
  }
}

.media-thumb-bg {
  position: relative;
  width: 100%;

  img {
    position: absolute;
    content: "";
    z-index: 1;
  }
}

.media-bg {
  position: relative;
  padding: 5px;
  // margin-left: 68px;

  &:after {
    position: absolute;
    content: '';
    background-image: url('../images/img-frame-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: -2%;
    z-index: 0;
    width: 104%;
    height: 104%;

    .media-craft & {
      @include max-screen($breakpoint-mobile) {
        background-size: cover;
        background-image: url('../images/img-frame-bg-sp.png');
      }
    }
  }

  //modifier SP
  @include max-screen($breakpoint-mobile) {
    margin-left: 0px;
  }
}

.media-thumb {
  position: relative;
  width: 370px;
  height: 217px;
  z-index: 2;

  img {
    position: absolute;
    top: -5px;
    left: -18px;
  }

  div {
    position: relative;
    padding-top: 58.65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;

    .media-craft & {
      @include max-screen($breakpoint-mobile) {
        border-radius: 10px;
        padding-top: 55.65%;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    height: 100%;
  }
}

.media-right {
  width: 100%;

  @include min-screen($breakpoint-mobile + 1) {
    padding-left: 50px;
    width: calc(100% - 380px);
  }
}


.media-title {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.16em;

  @include min-screen($breakpoint-mobile + 1) {
    font-size: 20px;
  }

  @include max-screen($breakpoint-mobile) {
    margin-top: 15px;
  }

  span {
    position: relative;
    z-index: 1;

    @include max-screen($breakpoint-mobile) {
      background-image: linear-gradient(0deg, #c3e8d8 22.22%, #ffffff 22.22%, #ffffff 50%, #c3e8d8 50%, #c3e8d8 72.22%, #ffffff 72.22%, #ffffff 100%);
      background-size: 18.00px 18.00px;
    }

    @include min-screen($breakpoint-mobile + 1) {
      background-image: linear-gradient(0deg, #c3e8d8 21.43%, #ffffff 21.43%, #ffffff 50%, #c3e8d8 50%, #c3e8d8 71.43%, #ffffff 71.43%, #ffffff 100%);
      background-size: 28.00px 28.00px;
    }
  }

  .media-craft & {
    @include max-screen($breakpoint-mobile) {
      margin-top: 26px;
    }
  }

  &.alt-feature-heading {
   @include min-screen ($breakpoint-mobile + 1) {
    font-size: 24px;
    margin-bottom: 38px;
   }
  }
}

.media-title-nohighlight {
  span {
    background: transparent;
  }
}

.media-desc {
  font-size: 12px;
  padding-top: 10px;
  line-height: 2;

  @include min-screen($breakpoint-mobile + 1) {
    font-size: 15px;
  }

  .media-subpage & {
    letter-spacing: 0.16em;
  }
}

.media-bottom {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .media-subpage & {
    text-align: left;
    padding-left: 20px;
  }

  @include max-screen($breakpoint-mobile) {
    text-align: center !important;
    padding-left: 0px !important;
  }
}

.media-note {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 195px;
  text-align: left;
  margin-top: 15px;

  @include min-screen($breakpoint-mobile + 1) {
    margin-top: 25px;
    max-width: 318px;
  }
}

.media-note-flag, .media-note-acorn {
  position: absolute;
}

.media-note-flag {
  top: -13px;
  left: -1px;
  width: 45px;
  height: 23.5px;

  @include min-screen($breakpoint-mobile + 1) {
    top: -24px;
    left: -3px;
    width: 90px;
    height: 47px;
  }
}

.media-note-acorn {
  top: -12px;
  right: -17px;
  width: 38px;
  height: 46px;


  @include min-screen($breakpoint-mobile + 1) {
    top: -33px;
    right: -42px;
    width: 75px;
    height: 92px;
  }
}

.media-note-text {
  width: 100%;
  padding: 11px 12px 8px;
  font-size: 11px;
  color: #fff;
  background-color: #8daf86;
  border-radius: 2px;

  @include min-screen($breakpoint-mobile + 1) {
    border-radius: 4px;
    padding: 23px 32px 20px;
    font-size: 16px;
  }
}

// modifier
.media-title-racing-kart {
  text-align: center;
  font-size: 26px;

  @include min-screen($breakpoint-mobile + 1) {
    margin-bottom: 23px;
  }

  @include max-screen($breakpoint-mobile) {
    font-size: 13px;
    margin-top: 0px;
  }
}

/*craft modifier*/
.craft-media-title {
  span {
    &::before {
      display: none;
    }
  }
}

/*Tsubasa*/
.media-note-tsubasa {
  max-width: 300px;
}

//modifier forest labo
.subpage-section-aqua-labo {
  .media-labo {
    @include min-screen($breakpoint-mobile + 1) {
      padding-top: 49px;
    }
  
    .subpage-title {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 24px;
      }
    }
  
    .media {
      @include min-screen($breakpoint-mobile + 1) {
        padding: 0;
      }
    }
  
    .media-title {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 3px;
      }
    }
  
    .media-desc {
      @include min-screen($breakpoint-mobile + 1) {
        padding-top: 15px;
      }
    }
  
    .media-left {
      width: 425px;
  
      @include max-screen($breakpoint-mobile) {
        width: 100%;
      }
    }
  
    .media-bg {
      margin-left: 0px;
    }
  }
}

.subpage-section-mammal-labo {
  .media-labo {
    @include min-screen($breakpoint-mobile + 1) {
      padding-top: 57px;
    }
  
    .subpage-title {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 34px;
      }
    }
  
    .media {
      @include min-screen($breakpoint-mobile + 1) {
        padding: 0;
      }
    }
  
    .media-title {
      @include min-screen($breakpoint-mobile + 1) {
        margin-top: 3px;
      }
    }
  
    .media-desc {
      @include min-screen($breakpoint-mobile + 1) {
        padding-top: 15px;
      }
    }
  
    .media-left {
      width: 425px;
  
      @include max-screen($breakpoint-mobile) {
        width: 100%;
      }
    }
  
    .media-bg {
      margin-left: 0px;
    }
  }

  .subpage-button {
    @include min-screen($breakpoint-mobile + 1) {
      margin-top: 89px;
    }
  }
}
//modifier forest labo end

//modifier
.media-craft {
  &:before {
    @include max-screen($breakpoint-mobile) {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 13px 0 13px;
      border-color: $color-green-4 transparent transparent transparent;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }

  &:nth-of-type(2) {
    .step-no {
      @include max-screen($breakpoint-mobile) {
        transform: translate(-7px, 5px);
        display: inline-block;
      }
    }

    .media-title {
      @include max-screen($breakpoint-mobile) {
        margin-top: 13px;
      }
    }

    .media-desc {
      @include max-screen($breakpoint-mobile) {
        padding-top: 12px;
      }
    }

    .note {
      @include max-screen($breakpoint-mobile) {
        margin-top: 22px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      padding-top: 26px;
      margin-bottom: 39px;
    }
  }

  &:nth-of-type(3) {
    .step-no {
      @include max-screen($breakpoint-mobile) {
        display: inline-block;
        transform: translate(-6px, 5px);
      }
    }

    .media-title {
      @include max-screen($breakpoint-mobile) {
        margin-top: 13px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      padding-top: 17px;
      padding-bottom: 42px;
      margin-bottom: 28px;
    }
  }

  &:nth-of-type(4) {
    .step-no {
      @include max-screen($breakpoint-mobile) {
        display: inline-block;
        transform: translate(-1px, 5px);
      }
    }

    .media-title {
      @include max-screen($breakpoint-mobile) {
        margin-top: 11px;
      }
    }

    .media-desc {
      @include max-screen($breakpoint-mobile) {
        padding-top: 5px;
      }
    }

    .note {
      @include max-screen($breakpoint-mobile) {
        margin-top: 20px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      padding-top: 18px;
      padding-bottom: 42px;
      margin-bottom: 28px;
    }
  }

  &:last-of-type {
    &:before {
      @include max-screen($breakpoint-mobile) {
        content: none;
      }
    }
  }

  &:nth-child(odd) {
    .media-bg {
      &:after {
        @include max-screen($breakpoint-mobile) {
          top: 0;
        }
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    position: relative;
    padding: 21px 37px 30px 40px;
    margin-bottom: 50px;
  }
}
