.media {
  padding: 20px;

  &.media-subpage {
    @include min-screen($breakpoint-mobile + 1) {
      margin-bottom: 20px;
    }
  }
}

.media-left {
  text-align: center;

  @include min-screen($breakpoint-mobile + 1) {
    width: 490px;
    float: left;
  }
}

.media-thumb-bg {
  position: relative;

  img {
    position: absolute;
    content: "";
    z-index: 1;
  }
}
.media-bg {
  position: relative;
  margin-left: 68px;

  &:after {
    position: absolute;
    content: '';
    background-image: url('../images/img-frame-bg.png');
    background-size: cover;
    top: -5px;
    left: -3.5%;
    z-index: 0;
    width: 100%;
    height: 105%;

    @include min-screen($breakpoint-mobile + 1) {
      max-width: 394px;
      left: -14px;
    }

    @include max-screen($breakpoint-mobile) {
      width: 106%;
    }

    // @include max-screen($breakpoint-mobile) {
    //   content: url(/assets/images/sp-img-frame-bg.png);
    // }

    .media-craft & {
      @include max-screen($breakpoint-mobile) {
        bottom: -10px;
        height: auto;
        background-image: url('../images/img-frame-bg-sp.png');
      }
    }
  }

  //modifier SP
  @include max-screen($breakpoint-mobile) {
    margin-left: 0px;
  }
}

.media-thumb {
  position: relative;
  width: 370px;
  height: 217px;
  z-index: 2;

  img {
    position: absolute;
    top: -5px;
    left: -18px;
  }

  div {
    position: relative;
    padding-top: 58.65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;

    .media-craft & {
      @include max-screen($breakpoint-mobile) {
        border-radius: 10px;
        padding-top: 55.65%;
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    height: 100%;
  }
}

.media-right {
  display: block;
  width: 100%;

  @include min-screen($breakpoint-mobile + 1) {
    padding-left: 500px;
  }
}

.media-title {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.16em;

  @include min-screen($breakpoint-mobile + 1) {
    font-size: 20px;
  }

  @include max-screen($breakpoint-mobile) {
    margin-top: 15px;
  }

  span {
    position: relative;
    z-index: 1;

    &:before {
      position: absolute;
      content: "";
      bottom: 5px;
      left: 0;
      width: calc(100% - 3px);
      height: 6px;
      background-color: #c3e8d8;
      z-index: -1;
    }
  }

  .media-craft & {
    @include max-screen($breakpoint-mobile) {
      margin-top: 26px;
    }
  }
}

.media-title-nohighlight {
  span {
    &:before {
      display: none;
    }
  }
}

.media-desc {
  font-size: 12px;
  padding-top: 10px;
  line-height: 2;

  @include min-screen($breakpoint-mobile + 1) {
    font-size: 15px;
  }

  .media-subpage & {
    letter-spacing: 0.16em;
  }
}

.media-bottom {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .media-subpage & {
    text-align: left;
    padding-left: 20px;
  }

  @include max-screen($breakpoint-mobile) {
    text-align: center !important;
    padding-left: 0px !important;
  }
}

.media-note {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 195px;
  text-align: left;
  margin-top: 15px;

  @include min-screen($breakpoint-mobile + 1) {
    margin-top: 25px;
    max-width: 318px;
  }
}

.media-note-flag, .media-note-acorn {
  position: absolute;
}

.media-note-flag {
  top: -13px;
  left: -1px;
  width: 45px;
  height: 23.5px;

  @include min-screen($breakpoint-mobile + 1) {
    top: -24px;
    left: -3px;
    width: 90px;
    height: 47px;
  }
}

.media-note-acorn {
  top: -12px;
  right: -17px;
  width: 38px;
  height: 46px;


  @include min-screen($breakpoint-mobile + 1) {
    top: -33px;
    right: -42px;
    width: 75px;
    height: 92px;
  }
}

.media-note-text {
  width: 100%;
  padding: 11px 12px 8px;
  font-size: 11px;
  color: #fff;
  background-color: #8daf86;
  border-radius: 2px;

  @include min-screen($breakpoint-mobile + 1) {
    border-radius: 4px;
    padding: 23px 32px 20px;
    font-size: 16px;
  }
}

// modifier
.media-title-racing-kart {
  text-align: center;
  font-size: 26px;

  @include min-screen($breakpoint-mobile + 1) {
    margin-bottom: 23px;
  }

  @include max-screen($breakpoint-mobile) {
    font-size: 13px;
    margin-top: 0px;
  }
}

/*craft modifier*/
.craft-media-title {
  span {
    &::before {
      display: none;
    }
  }
}

/*Tsubasa*/
.media-note-tsubasa {
  max-width: 300px;
}

.media-labo {
  padding-top: 50px;

  .media {
    padding-left: 0px;
    padding-right: 0px;
  }

  .media-left {
    width: 425px;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .media-right {
    padding-left: 425px;

    @include max-screen($breakpoint-mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .media-bg {
    margin-left: 0px;
  }
}

//modifier
.media-craft {
  &:before {
    @include max-screen($breakpoint-mobile) {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 13px 0 13px;
      border-color: $color-green-4 transparent transparent transparent;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
    }
  }

  &:nth-of-type(2) {
    .step-no {
      @include max-screen($breakpoint-mobile) {
        transform: translate(-7px, 5px);
        display: inline-block;
      }
    }

    .media-title {
      @include max-screen($breakpoint-mobile) {
        margin-top: 13px;
      }
    }

    .media-desc {
      @include max-screen($breakpoint-mobile) {
        padding-top: 12px;
      }
    }

    .note {
      @include max-screen($breakpoint-mobile) {
        margin-top: 22px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      padding-top: 26px;
      margin-bottom: 39px;
    }
  }

  &:nth-of-type(3) {
    .step-no {
      @include max-screen($breakpoint-mobile) {
        display: inline-block;
        transform: translate(-6px, 5px);
      }
    }

    .media-title {
      @include max-screen($breakpoint-mobile) {
        margin-top: 13px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      padding-top: 17px;
      padding-bottom: 42px;
      margin-bottom: 28px;
    }
  }

  &:nth-of-type(4) {
    .step-no {
      @include max-screen($breakpoint-mobile) {
        display: inline-block;
        transform: translate(-1px, 5px);
      }
    }

    .media-title {
      @include max-screen($breakpoint-mobile) {
        margin-top: 11px;
      }
    }

    .media-desc {
      @include max-screen($breakpoint-mobile) {
        padding-top: 5px;
      }
    }

    .note {
      @include max-screen($breakpoint-mobile) {
        margin-top: 20px;
      }
    }

    @include max-screen($breakpoint-mobile) {
      padding-top: 18px;
      padding-bottom: 42px;
      margin-bottom: 28px;
    }
  }

  &:last-of-type {
    &:before {
      @include max-screen($breakpoint-mobile) {
        content: none;
      }
    }
  }

  &:nth-child(odd) {
    .media-bg {
      &:after {
        @include max-screen($breakpoint-mobile) {
          top: 0;
        }
      }
    }
  }

  @include max-screen($breakpoint-mobile) {
    position: relative;
    padding: 21px 37px 30px 40px;
    margin-bottom: 50px;
  }
}
