.mobipark-map {
  .heading {
    > * {
      width: 100%;
      margin: 0 auto;
    }
  }

  .heading-text {
    max-width: 229px;
  }

  .heading-subtext {
    max-width: 332px;
    margin: 29px 0 0 6px;
  }
}