.model-plan {
  text-align: center;
  margin-bottom: 111px;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 89px;
  }

  &-frame {
    border-style: solid;
    border-width: 30px;
    border-image: url('/assets/images/model-plan-frame.png') 30 round;
    padding-top: 24px;
    padding-bottom: 17px;

    @include max-screen($breakpoint-mobile) {
      padding-top: 13px;
      padding-bottom: 0px;
    }
  }

  &-desc {
    font-size: 15px;
    line-height: 1.667;
    letter-spacing: 0.16em;

    @include max-screen($breakpoint-mobile) {
      font-size: 12px;
    }
  }

  .heading-model-plan {
    margin-bottom: 0px;

    .heading-subtext {
      width: 423px;
      height: auto;
      margin-top: 16px;
      margin-bottom: 16px;

      @include max-screen($breakpoint-mobile) {
        width: 196px;
      }
    }
  }

  &-note {
    font-size: 12px;
    line-height: 2.083;
    letter-spacing: 0.1em;

    @include max-screen($breakpoint-mobile) {
      font-size: 11px;
    }
  }
}