.note {
  display: block;
  position: relative;
  width: 100%;
  max-width: 350px;

  @include max-screen($breakpoint-mobile) {
    max-width: 235px;
    margin: 0 auto;
    left: 12px;
    width: 100%;
  }

  @include max-screen(450px) {
    left: 5%;
  }
  // height: 106px;

  // Itadaki banners
  &.note-itadaki-banner-1 {
    > div {
      position: relative;
      top: 6px;
      left: 54px;
      width: 96%;

      @include sp {
        // top: 4px;
        // left: 34px;
        // width: 76%;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }

  &.note-itadaki-banner-2 {
    > div {
      position: relative;
      top: 6px;
      left: 66px;
      width: 98%;

      @include sp {
        // top: -2px;
        // left: 15px;
        // width: 76%;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

.note-message {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 37%;
}
