// sass-lint:disable no-descending-specificity

// .nozominoyu {}

.nozominoyu-summary {
	margin-bottom: 135px;
	margin-top: 111px;

	@include max-screen($breakpoint-mobile) {
		margin-top: 90px;
		margin-bottom: 90px;
	}
}

.nozominoyu-summary-inner {
	padding-top: 21px;
}

.nozominoyu-paragraph {
  font-size: 15px;
  line-height: 2;
  font-family: $font-hiragino;
	letter-spacing: 0.229em;
	
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}

  &.nozominoyu-paragraph-note {
    letter-spacing: 0.245em;  
  }

  &.nozominoyu-subheading {
  	margin-top: 18px;
    letter-spacing: 0.24em;
	}
	
	&.nozominoyu-paragraph-note-table {
		letter-spacing: 0.19em;
		font-size: 13px;
		margin-top: 7px;

		@include max-screen($breakpoint-mobile) {
			font-size: 11px;
		}
	}
}

.nozominoyu-race {
	margin-top: 37px;
}

.nozominoyu-race-inner {
	text-align: center;
	background-color: #f5f6fa;
	padding: 59px;

	@include max-screen($breakpoint-mobile) {
		padding: 38px 20px;
	}
}

.nozominoyu-heading {
	img {
		width: 69%;
	}

	&.nozominoyu-time-table-heading {
		img {
			width: 10%;

			@include max-screen($breakpoint-mobile) {
				width: 17%;
			}
		}
	}

	&.nozominoyu-fee-table-heading {
		img {
			width: 12%;


			@include max-screen($breakpoint-mobile) {
				width: 21%;
			}
		}
	}

	&.nozominoyu-amenity-table-heading {
		img {
			width: 36%;


			@include max-screen($breakpoint-mobile) {
				width: 60%;
			}
		}
	}
}

.nozominoyu-article {
	margin: 32px -15px 0;

	@include max-screen($breakpoint-mobile) {
		margin: 32px -7px 0;
	}
}

.nozominoyu-article-list-item {
	padding: 0 15px;

	@include max-screen($breakpoint-mobile) {
		padding: 0 7px;
	}

	&:last-child {
		@include max-screen($breakpoint-mobile) {
			margin-top: 20px;
		}
	}
}

.nozominoyu-article-link {
	color: $base-font-color;
}

.nozominoyu-article-thumbnail {
	padding-bottom: 63%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.nozominoyu-article-title {
	margin-top: 13px;
	font-size: 15px;
  line-height: 2;
  font-family: $font-hiragino;
	letter-spacing: 0.229em;
	
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
		line-height: 1.5;
		margin-top: 5px;
	}
}

.nozominoyu-amenity-table {
	display: table;
	width: 100%;
	border: 1px solid $color-gray;
	margin-top: 40px;

	th,td {
		text-align: center;
		background-color: $color-white;
		padding: 30px 0;
		border: 1px solid $color-gray;
		font-size: 17px;
	}

	th {
		background-color: #f5f6fa;
	}

	td {
		vertical-align: top;
	}
}

.nozominoyu-time-table {
	display: table;
  width: 100%;
	margin-top: 10px;

	.nozominoyu-time-table-header,
	.nozominoyu-time-table-data {
		font-size: 17px;
		border: 1px solid $color-gray;
		text-align: center;
		background-color: $color-white;
	}

	.nozominoyu-time-table-header {
		&:first-child {
			width: 19.5%;
			height: 86px;
	    background-color: #f5f6fa;
			// padding: 30px 0;
			border-right: 1px solid transparent;		
		}
	}
}


.nozominoyu-fee,
.nozominoyu-amenity {
	margin-top: 118px;
	@include max-screen($breakpoint-mobile) {
		margin-top: 102px;
	}
}
// SP TABLES 
.nozominoyu-time-table-sp {
	display: table;
	width: 100%;

	td {
		border: 1px solid $color-gray;
		text-align: center;
		background-color: $color-white;
		font-size: 12px;
	}

	.time-table-th-sp {
		border: 1px solid $color-gray;
		text-align: center;
		border-right: 1px solid transparent;
		background-color: #f5f6fa;
		padding: 20px 0;
		width: 110px;
		font-size: 12px;
	}
}

.nozominoyu-fee-table-sp {
	display: table;
	width: 100%;

	td {
		border: 1px solid $color-gray;
		text-align: center;
		background-color: $color-white;
		font-size: 12px;
	}

	.fee-table-th-sp {
		border: 1px solid $color-gray;
		text-align: center;
		border-right: 1px solid transparent;
		background-color: #f5f6fa;
		padding: 20px 0;
		width: 110px;
		font-size: 12px;
	}

}

.nozominoyu-amenity-table-sp {
	display: table;
	width: 100%;
	margin-top: 10px;

	td {
		border: 1px solid $color-gray;
		text-align: center;
		background-color: $color-white;
		font-size: 12px;
		padding: 25px 27px;

		&:nth-of-type(2) {
			max-height: 177px;
		}
	}

	.amenity-table-th-sp {
		border: 1px solid $color-gray;
		text-align: center;
		border-right: 1px solid transparent;
		background-color: #f5f6fa;
		padding: 20px 0;
		width: 110px;
		font-size: 12px;
		vertical-align: top;
	}

}

.nozominoyu-amenity-td-inner-sp,
.nozominoyu-amenity-td-inner {
	display: inline-block;
	text-align: left;
}

.nozominoyu-time-table-list-item-sp {
	margin-top: 34px;

	&:first-child {
		margin-top: 22px;
	}
}

.nozominoyu-fee-table-list-sp {
	margin-top: 20px;
}
