.parkmap-container {
  position: relative;
}

.parkmap-image {
  background: url(#{$image-path}top/parkmap/image.jpg) no-repeat center top;
  background-size: contain;
  width: 1402px;
  height: 903px;
  position: relative;
  left: -308px;

  @include max-screen($breakpoint-mobile) {
    width: 550px;
    height: 350px;
    left: -117px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.parkmap-image-list {
  counter-reset: parkmap_image_list;
  position: relative;
  left: 330px;

  @include max-screen($breakpoint-mobile) {
    left: 0;
  }
}

.parkmap-image-item {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  cursor: pointer;

  @include max-screen($breakpoint-mobile) {
    width: 38px;
    height: 38px;
  }

  a {
    display: block;
    height: 100%;
  }

  &::before {
    counter-increment: parkmap_image_list;
    content: '0'#{counter(parkmap_image_list)};
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: normal;
    color: $color-white;
    letter-spacing: 0.08em;
    background: url(#{$image-path}top/parkmap/number-bg-border.png) no-repeat;
    background-size: contain;

    @include max-screen($breakpoint-mobile) {
      font-size: 15px;
    }
  }

  &:first-child {
    left: 201px;
    top: 104px;

    @include max-screen($breakpoint-mobile) {
      top: 32px;
    }
  }

  &:nth-of-type(2) {
    left: 163px;
    top: 266px;

    @include max-screen($breakpoint-mobile) {
      left: 186px;
      top: 95px;
    }
  }

  &:nth-of-type(3) {
    left: 417px;
    top: 189px;

    @include max-screen($breakpoint-mobile) {
      left: 287px;
      top: 65px;
    }
  }

  &:nth-of-type(4) {
    left: 553px;
    top: 217px;

    @include max-screen($breakpoint-mobile) {
      left: 335px;
      top: 76px;
    }
  }

  &:nth-of-type(5) {
    left: 592px;
    top: 278px;

    @include max-screen($breakpoint-mobile) {
      left: 361px;
      top: 116px;
    }
  }

  &:nth-of-type(6) {
    left: 525px;
    top: 529px;

    @include max-screen($breakpoint-mobile) {
      left: 327px;
      top: 195px;
    }
  }

  &:nth-of-type(7) {
    left: 101px;
    top: 443px;

    @include max-screen($breakpoint-mobile) {
      left: 164px;
      top: 166px;
    }
  }
}

.parkmap-list {
  counter-reset: parkmap_list;

  @include max-screen($breakpoint-mobile) {
    position: relative;
    z-index: $z-min;
  }
}

.parkmap-right {
  position: absolute;
  right: 0;
  top: 161px;
  width: 410px;

  @include max-screen($breakpoint-mobile) {
    position: relative;
    right: auto;
    left: 23px;
    top: 0;
    width: calc(100% - 23px);
  }
}

.parkmap-link {
  display: flex;
  align-items: center;
  padding-left: 50px;
  height: 73px;
  background: url(#{$image-path}top/parkmap/button-bg.jpg) repeat;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: $base-font-color;
  position: relative;

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;
    height: 51px;
    letter-spacing: 0.05em;
    padding-left: 39px;
  }

  &::before {
    counter-increment: parkmap_list;
    content: '0'#{counter(parkmap_list)};
    position: absolute;
    left: -30px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 61px;
    font-size: 20px;
    font-weight: normal;
    color: $color-white;
    letter-spacing: 0.08em;
    background: url(#{$image-path}top/parkmap/number-bg.png) no-repeat;
    background-size: contain;
    transform: translateY(-50%);

    @include max-screen($breakpoint-mobile) {
      left: -23px;
      width: 45px;
      height: 45px;
      font-size: 15px;
    }
  }

  &:hover {
    @include min-screen($breakpoint-mobile + 1) {
      .parkmap-link-icon {
        transform: translateX(5px);
      }
    }
  }
}

.parkmap-item {
  display: block;
  margin-bottom: 10px;
  transition: transform $duration $ease-in-out;

  &.is-active {
    transform: translateX(-30px);
  }

  &.parkmap-item-last {
    margin-top: 20px;

    @include max-screen($breakpoint-mobile) {
      margin-top: 39px;
      margin-left: -20px;
    }
  }
}

.parkmap-link-icon {
  width: 25px;
  position: absolute;
  right: 18px;
  transition: transform $duration $ease-in-out;

  @include max-screen($breakpoint-mobile) {
    width: 19px;
    right: 15px;
  }

  svg {
    width: 100%;
    height: 12px;
  }
}

//modifier for SP
@include max-screen($breakpoint-mobile) {
  .map {
    margin-bottom: 90px;
  }

  .map-img {
    margin: 0 -160px;
  }
}
