//modifier
.recommendation-craft {
	&::before {
    @include max-screen($breakpoint-mobile) {
      background-image: url("../images/craft/craft-recommendation-bg-sp.png");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      left: 0;
      top: -47px;
      right: 0;
      bottom: 0;
      content: "";
    }
  }

  .heading-subtext {
  	@include max-screen($breakpoint-mobile) {
  		padding: 0 29px 0 28px;
    	margin-top: 8px;
    	height: 34px;
  	}
  }

  .heading-wrap {
  	@include max-screen($breakpoint-mobile) {
			margin-bottom: 36px;
  	}
  }

  .heading {
  	@include max-screen($breakpoint-mobile) {
			margin-bottom: 0;
  	}

  	svg {
	  	@include max-screen($breakpoint-mobile) {
	  		width: 100%;
	  	}
	  }
  }

  .article-heading {
  	@include max-screen($breakpoint-mobile) {
  		margin-top: 14px;
  	}
  }

  @include max-screen($breakpoint-mobile) {
		position: relative;
		margin-top: 76px;
  }
}