.restaurant-wrapper {
  .subpage-inner {
    margin-bottom: 70px;
  }

  .other-restaurant {//other restaurant section
    .swiper-container {
      position: relative;

      @include min-screen($breakpoint-mobile + 1) {
        padding-bottom: 68px;
      }

      @include max-screen($breakpoint-mobile) {
        padding-bottom: 31px;
      }
  
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        background-color: #f2f2f2;
        bottom: -2px;

        @include min-screen($breakpoint-mobile + 1) {
          height: 300px;
        }

        @include max-screen($breakpoint-mobile) {
          height: 150px;
        }
      }
    }
  }

  .subpage-title {
    margin-bottom: 34px;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 20px;
    }
  }

  .oak-button {
    @include max-screen($breakpoint-mobile) {
      padding-left: 40px;
      padding-right: 40px;
    }

    a {
      @include max-screen($breakpoint-mobile) {
        max-width: 100%;
        height: 70px; 
      }
    }

    p {
      font-size: 15px;
      line-height: 2.267;      
      letter-spacing: 0.16em;
      margin-bottom: 20px;
      text-align: center;

      @include max-screen($breakpoint-mobile) {
        font-size: 12px;
        line-height: 1.792;        
      }
    }
  }

  .restaurant-button {
    width: auto;
    max-width: 730px;
    background-color: $color-white;
    height: 95px;
    border: 1px solid $color-black;

    &:before {
      content: none;
      display: none;
    }

    @include max-screen($breakpoint-mobile) {
      height: 60px;
      font-size: 12px;
      max-width: 345px;
    }
  }

  .slider-restaurant {
    overflow-x: hidden !important;
    z-index: 0 !important;

    .swiper-wrapper {
      margin-left: 0 !important;
      z-index: 0 !important;
    }

    .slide-restaurant {
      width: 100%;
      height: 460px;
      position: relative;
      background-size: cover;
    }

    .swiper-pagination {
      position: absolute;
      right: 69px;
      bottom: 50px;

      @include max-screen($breakpoint-mobile) {
        right: 34px;
        bottom: 30px
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background-color: $color-white;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;

        @include max-screen($breakpoint-mobile) {
          margin-right: 8px;
        }

        &.swiper-pagination-bullet-active {
          background-color: $color-green;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}