.subpage-section-roomdetails { //hotel granroom
  .subpage-desc {
    margin-bottom: 99px;
    
    @include max-screen($breakpoint-mobile) {
      margin-bottom: 30px;
    }
  }

  .subpage-title {
    margin-bottom: 23px;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 11px;
    }
  }
}