// .slider {}

.slider-wrapper {
  margin-left: 102px;

  @include query($breakpoint-mobile){
      margin-left: 0;
  }
}

// .slider-item {}

//MODIFIER

.slider-dokidoki {
  .slide-text {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-family: $font-hiragino;
    color: $color-black;
    letter-spacing: 0.06em;
  }
}

.slider-how-to-enjoy {
  .slider-item {
    //opacity: 0.5;

    &.swiper-slide-active {
      //opacity: 1;
      &::before {
        background-color: transparent;
        z-index: -1;
      }
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba($color-white, .5);
      transition: background-color 0.5s ease-in;
      z-index: $z-min;
    }
  }

}

//modifier kids carbike attraction
.kids-carbike-attraction {
  .slide-container {
    max-width: 508px;
    width: 100%;
    position: relative;

    @include max-screen($breakpoint-mobile) {
      margin-left: auto;
      margin-right: auto;
    }

    &:before {
      width: calc(100% + 90px);
      height: 100%;
      content: "";
      position: absolute;
      top: -31px;
      left: -52px;
      background-image: url(../images/mobipark/slider-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
    }

    &:after {
      width: calc(100% + 19px);
      height: calc(100% - 42px);
      content: "";
      position: absolute;
      top: -8px;
      left: -8px;
      background-image: url(../images/mobipark/slider-frame.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    }
  }

  .slider-wrapper {
    margin-left: 0px;
    position: relative;

    .slider-item {
      position: relative;
      z-index: $z-max;
    }
  }

  .swiper-pagination {
    max-width: 508px;
    width: 100%;
    margin-left: 0;
    margin-top: 38px;
    text-align: center;

    .swiper-pagination-bullet {
      margin-right: 13px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $color-gray;
      display: inline-block;

      &-active {
        background-color: $color-green;
      }

      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
}

.slider-carbike {
  .slider-carbike-item {
    width: 245px;

    @include min-screen($breakpoint-mobile + 1) {
      width: calc((100% - 100px) / 3);
    }

    &:not(:last-child) {
      margin-right: 25px;

      @include min-screen($breakpoint-mobile + 1) {
        margin-right: 50px;
      }
    }
  }
}

.top-slider {
  .swiper-wrapper {
    margin: 0 -95px;
  }
}

.top-slider-image {
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}
