// .slider {}

.slider-wrapper {
  margin-left: 102px;

  @include query($breakpoint-mobile){
      margin-left: 0;
  }
}

// .slider-item {}

//MODIFIER

.slider-dokidoki {
  .slide-text {
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

  .slide-text {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
    font-family: $font-hiragino;
    color: $color-black;
    letter-spacing: 0.06em;  
  }
}
