.sns-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-item {
  width: 24px;
  height: 24px;
  margin: 0 20px;

  svg {
    width: 100%;
    height: 100%;
  }

  &.sns-item-twitter {
    margin-left: 9px;
    width: 45px;
    height: 42px;
  }

  &.sns-item-youtube {
    margin-left: 7px;
    width: 36px;
    height: 29px;
  }

  &.sns-item-rider {
    padding-left: 40px;
    width: calc(139px + 44px);
    height: auto;
    border-left: 1px solid rgba($color-mineshaft, .2);
  }
}
