.sns-list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include max-screen($breakpoint-mobile) {
    flex-wrap: wrap;
  }
}

.sns-item {
  width: 24px;
  height: 24px;
  margin: 0 20px;

  @include max-screen($breakpoint-mobile) {
    width: 35px;
    margin: 0 16px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &.sns-item-twitter {
    margin-left: 9px;
    width: 45px;
    height: 42px;

    @include max-screen($breakpoint-mobile) {
      width: 43px;
      height: 43px;
    }
  }

  &.sns-item-youtube {
    margin-left: 7px;
    width: 36px;
    height: 29px;

    @include max-screen($breakpoint-mobile) {
      width: 31px;
      height: 32px;
    }
  }

  &.sns-item-rider {
    padding-left: 40px;
    width: calc(139px + 44px);
    height: auto;
    border-left: 1px solid rgba($color-mineshaft, .2);

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      text-align: center;
      border: 0;
      padding-left: 0;
    }

    a {
      @include max-screen($breakpoint-mobile) {
        width: 130px;
       display: inline-block;
       margin: 10px auto 0;
      }
    }
  }
}
