.step-word-no {
  font-family: $font-holland;
  color: #00a040;

  &.craft {
    margin-top: -20px;
  }

  .step-word {
    font-size: 18px;
    margin-right: 10px;
  }

  .step-no {
    font-size: 50px;
  }
}

.step-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include max-screen ($breakpoint-mobile) {
    width: 80%;
    margin: 0 auto;
  }
}

.step-list-media-bottom {
  margin-top: 30px;
}

.step-list-item {
  width: calc((100% - 120px) / 3);
  text-align: center;
  margin-bottom: 80px;
  position: relative;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-bottom: 80px;
  }

  &.step-goal {
    width: calc((((100% - 120px) / 3 )* 2) + 60px);

    @include max-screen ($breakpoint-mobile) {
      width: 100%;
      margin-bottom: 40px;
    }

    .img-step {
      display: none;
    }

    .step-no {
      margin: 0 auto 10px;
      height: 45px;
      position: relative;
      font-size: 18px;
      color: $color-green;

      img {
        position: relative;
        left: 0;
        right: 0;
        z-index: 3;
        margin: auto;
      }
    }

    .step-image {
      &:before {
        background-image: url("../images/step-bg-goal.png");
        background-repeat: no-repeat;
        width: calc(100% + 40px);
        left: -19px;
      }

      &:after {
        display: none;
      }
    }
  }

  &:not(:nth-child(3n)) {
    .step-image {
      &::after {
        content: " ";
        width: 20px;
        height: 50px;
        position: absolute;
        top: 50%;
        right: -38px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        background: url('/assets/images/tsubasa/step-arrow.png') no-repeat;

        @include max-screen ($breakpoint-mobile) {
          display: none;
        }
      }
    }
  }
}

.step-goal {
  .step-item {
    &::after {
      display: none;
    }
  }
}
