.step-word-no {
  font-family: $font-holland;
  color: #00a040;

  &.craft {
    margin-top: -20px;

    @include max-screen ($breakpoint-mobile) {
      position: absolute;
      left: 0;
      top: -27px;
      right: 0;
      margin: 0 auto;
      text-align: center;
    }
  }

  .step-word {
    font-size: 18px;
    margin-right: 10px;

    @include max-screen ($breakpoint-mobile) {
      font-size: 13.5px;
      letter-spacing: 0.16em;
    }
  }

  .step-no {
    font-size: 50px;

    @include max-screen ($breakpoint-mobile) {
      font-size: 45px;
    }
  }
}

.step-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include max-screen ($breakpoint-mobile) {
    // margin: 0 auto;
    padding: 0 20px;
  }
}

.step-media-bottom {
  margin-top: 30px;
}

.step-item {
  width: calc((100% - 120px) / 3);
  margin-bottom: 70px;
  position: relative;
  text-align: center;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-bottom: 23px;
  }

  &.step-goal {
    width: calc((((100% - 120px) / 3 )* 2) + 60px);

    @include max-screen ($breakpoint-mobile) {
      width: 100%;
    }

    .img-step {
      display: none;
    }

    .step-no {
      margin: 0 auto;
      height: 45px;
      position: relative;
      font-size: 18px;
      color: $color-green;

      img {
        position: relative;
        left: 0;
        right: 0;
        z-index: 3;
        margin: auto;

        @include min-screen($breakpoint-mobile + 1) {
          top: -8px;
        }
      }
    }

    .step-image-inner {
      &:before {
        @include min-screen($breakpoint-mobile + 1) {
          background-image: url("../images/step-bg-goal.png");
          background-repeat: no-repeat;
          width: calc(100% + 40px);
          left: -19px;
        }
      }


    }

    .step-image {
      &:after {
        display: none;
      }
    }
  }

  &:not(:nth-child(3n)) {
    .step-image {
      &::after {
        content: " ";
        width: 20px;
        height: 50px;
        position: absolute;
        top: 50%;
        right: -44px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        background: url('/assets/images/tsubasa/step-arrow.png') no-repeat;

        @include max-screen ($breakpoint-mobile) {
          display: none;
        }
      }
    }
  }

  &:not(:last-child) {
    &::after {
      content: " ";
      width: 28px;
      height: 12px;
      position: relative;
      display: none;
      margin: 20px auto 0;
      background: url('/assets/images/tsubasa/step-arrow-down.png') no-repeat;
      background-size: contain;

      @include max-screen ($breakpoint-mobile) {
        display: block;
      }
    }
  }
}

.step-goal {
  .step-item {
    &::after {
      display: none;
    }
  }
}
