
.step-item {
  .step-no {
    margin-bottom: 18px;
  }
  
  .step-image {
    display: block;
    margin-bottom: 30px;
    padding: 5px 0;
  
    position: relative;
    width: 100%;
  
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-image: url("../images/step-bg.png");
      background-repeat: no-repeat;
      background-size: 100%;
      left: -15px;
      right: -15px;
      top: -5px;
      bottom: -15PX;

      @include max-screen ($breakpoint-mobile) {
        background-size: 98% 101%;
      }
    }
  
    &.step-goal-bg {
      background-image: url("../images/tsubasa/goal-bg.png");
    }
  
    img {
      width: 100%;
      position: relative;
      z-index: 1;
      border-radius: 10px;
      overflow: hidden;
  
      @include max-screen($breakpoint-mobile) {
        width: 100%;
      }
    }
  
    @include max-screen($breakpoint-mobile) {
      padding: 5px 14px;
    }
  }

  .step-title {
    font-size: 21px;
    font-weight: bold;
    color: $color-green;
  }

  .step-subtitle {
    font-weight: bold;
  }

  .step-desc {
    max-width: 300px;
    margin: auto;
  }


  &::after {
    content: " ";
    width: 55px;
    height: 25px;
    position: absolute;
    background: url(/assets/images/tsubasa/step-arrow-down.png) no-repeat;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -55px;
  }
}