.tabs {
  position: relative;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
  min-height: 100px;

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    background-image: url('../images/program/underline.png');
    bottom: 0;
  }
}

.tab {
  width: 100%;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  label {
    background: #eee;
    padding: 5px 0 13px;
    border: 1px solid #ccc;
    position: relative;
    left: 1px;
    display: block;
    text-align: center;
    background-color: #a7d698;
    color: $color-white;
    border-radius: 5px 5px 0 0;
    transition: ease 0.5s all;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 1px;

    &:hover {
      background: #4fae32;
      color: $color-white;
      border-bottom: 1px solid white;
      padding: 11px 0px 22px;
    }
  }
  

  [type="radio"] {
    display: none;

    &:checked ~ label {
      background: #4fae32;
      color: $color-white;
      border-bottom: 1px solid white;
      padding: 11px 0px 22px;
    }
  }
}

.program-item {display:none;}
@for $i from 1 through 12 {
  [data-tab="#{$i}"] .program-item[data-month="#{$i}"] {display: block;}
}


.custom-select {
  background-color: #4fae32;
  color: #fff;
  text-align: center;
  max-width: 290px;
  margin: auto;
  margin-bottom: 50px;
  /* padding: 0 38px; */
  border-radius: 5px;
  position: relative;
}
.select-selected {
  padding: 10px;
  /* border-radius: 45px; */
  border-bottom: 1px solid;
  cursor: pointer;

  &.open::after {
    transform: scaleY(-1);
  }

  &::after {
    content: "▾";
    position: absolute;
    right: 26px;
  }
}

.select-items .option {
  padding: 7px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.select-hide {
  display: none;
}

