.table {
  display: table;
  width: 100%;
  letter-spacing: 0;

  font-size: 12px;
  font-weight: 700;
  text-align: left;

  @include min-screen($breakpoint-mobile + 1) {
    font-size: 15px;
  }

  &:not(:last-child) {
    &.table-subpage {
      margin-bottom: 55px;
    }
  }
}

.table-head {
  background-color: #f7f7f7;
  width: 93px;
  padding-top: 21px;
  padding-bottom: 21px;

  @include min-screen($breakpoint-mobile + 1) {
    width: 220px;
  }
}

.table-col {
  width: calc(100% - 93px);


  letter-spacing: 0.18em;
  padding-top: 15px;
  padding-bottom: 15px;

  @include min-screen($breakpoint-mobile + 1) {
    width: calc(100% - 220px);
  }
}

.table-head, .table-col {
  position: relative;
  padding: 10px 13px;
  vertical-align: top;
  min-height: 32px;
  line-height: 2.15;

  @include min-screen($breakpoint-mobile + 1) {
    padding: 17px 40px;
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-position: left;
    background-image: url(/assets/images/img-dash.png);
    background-repeat: repeat-x;
    opacity: 0.2;
  }
}

.table-dokidoki {
  .table-head {
    background: transparent;
  }

  .table-col {
    width: calc(100% - 220px);
  }
}

.table-row {
  width: 100%;

  &:first-child {
    .table-head, .table-col {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-position: left center;
        background-image: url(/assets/images/img-dash.png);
        background-repeat: repeat-x;
        opacity: 0.2;
      }
    }
  }
}

.table-heading {
  margin-top: 30px;
  margin-bottom: 15px;
}

.table-subheading {
  margin-bottom: 32px;
  font-size: 15px;
  color: $base-font-color;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.160em;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 30px;
    font-size: 24px;
    color: rgb(51, 51, 51);
  }
}
