.table {
  display: table;
  width: 100%;
  letter-spacing: 0;

  font-size: 12px;
  font-weight: 700;
  text-align: left;

  @at-root .table-wrap {
    p {
      @include max-screen($breakpoint-mobile) {
        margin-bottom: 10px;
      }
    }
  }

  @at-root .section-camp & {//f-glamping camp page
    margin-bottom: 26px;

    &:last-child {
      @include min-screen($breakpoint-mobile + 1) {
        margin-bottom: 0px;
      }
    }

    a {
      text: {
        decoration: none;
      }
    }
  }

  @include min-screen($breakpoint-mobile + 1) {
    font-size: 15px;
  }

  &:not(:last-child) {
    &.table-subpage {
      margin-bottom: 55px;
    }
  }

  &.table-toya {//toya page
    background-color: transparent;
    margin-top: 120px;

    @at-root & {
      .link {
        color: $color-white;
      }

      .table-head {
        background-color: rgba($color: $color-dark-yellow, $alpha: 0.30);
        color: $color-white;
        border-color: $color-dark-yellow;
        text-align: left;
        vertical-align: top;

        &:first-child {
          border-left: 0px solid;
        }

        @include min-screen($breakpoint-mobile + 1) {
          padding-left: 42px;
        }

        @include max-screen($breakpoint-mobile) {
          padding-left: 11px;
          font-size: 12px;          
        }
      }

      .table-col {
       color: $color-white;
       text-align: left;
       padding: {
        left: 54px;
       }
       border-right: 0px solid;
       border-color: $color-dark-yellow;

       @include max-screen($breakpoint-mobile) {
        padding-left: 11px;
        font-size: 12px;
       }
      }

      .table-row-last {
        border-bottom-color: $color-dark-yellow !important;
      }
    }
  }

  &.table-rocco {//rocco page
    .link {
      color: #00a040;
    }
  }

  &.table-programdetails {
    margin-bottom: 70px;
    
    @include max-screen ($breakpoint-mobile) {
      margin-bottom: 29px;
    }
  }

  &.table-craft {
    &::before {
      @include max-screen($breakpoint-mobile) {
        position: absolute;
        left: -20px;
        right: -20px;
        top: -135px;
        bottom: -80px;
        background-image: url('../images/craft/craft-table-bg-sp.png');
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
      }
    }

    @include max-screen($breakpoint-mobile) {
      position: relative;
    }
  }

  &.table-donguri {
    .link {
      color: #00a040;
    }
  }

  @at-root .smart-entry & {//smart entry page
    &-smart-entry {
      margin-bottom: 94px;

      @include max-screen($breakpoint-mobile) {
        margin-bottom: 34px;
      }
    }
  }
}

.table-head {
  background-color: #f7f7f7;
  width: 93px;
  padding-top: 21px;
  padding-bottom: 21px;
  background-clip: padding-box;

  @include min-screen($breakpoint-mobile + 1) {
    width: 220px;
  }
}

.table-col {
  width: calc(100% - 93px);
  letter-spacing: 0.1em;
  padding-top: 15px;
  padding-bottom: 15px;

  @include min-screen($breakpoint-mobile + 1) {
    width: calc(100% - 220px);
  }

  a {
    color: $base-font-color;
  }
}

.table-head, .table-col {
  position: relative;
  padding: 10px 13px;
  vertical-align: top;
  min-height: 32px;
  line-height: 2.15;

  .col-small {//hotel granroom
    display: block;
  }

  @include min-screen($breakpoint-mobile + 1) {
    padding: 17px 40px;
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-position: left;
    background-image: url(/assets/images/img-dash.png);
    background-repeat: repeat-x;
    opacity: 0.2;

    .table-solid & {//hotel granroom
      content: none;
    }
  }

  .table-craft & {
    @include max-screen($breakpoint-mobile) {
      padding: 12px 13px;
      font-size: 12px;
      letter-spacing: 0.1em;
      line-height: 1.5;
    }
  }

  a {
    color: $base-font-color;
    text-decoration: underline;
  }
}

.table-craft {
  .table-head {
    @include min-screen($breakpoint-mobile + 1) {
      width: 214px;
    }
  }
}

.table-solid {//hotel granroom/familyroom
  background-color: $color-white;

  @include max-screen($breakpoint-mobile) {
    width: 100%;  
    margin-bottom: 44px;

    &-last {
      margin-bottom: 0px;
    }
  }

  .table-row-solid {
    > * {
      &:after {
        // sass-lint:disable-block no-important
        content: none !important;
      }
    }
  }

  .table-row-last {
    border-bottom: 1px solid #d1c0a5;
  }

  .table-head, .table-col {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid #d1c0a5;
    vertical-align: middle;
    border-top: 1px solid #d1c0a5;
  }

  td {
    font-weight: 300;
  }

  .table-head {
    @include max-screen($breakpoint-mobile) {
      width: 130px;
    }

    &:first-child {
      border-right: 0px;
      border-left: 1px solid #d1c0a5;
    }
  }
}

.table-col-num {
  display: inline-block;
  margin-right: 20px;

  @include max-screen($breakpoint-mobile) {
    margin-right: 15px;
  }
}

.table-row {
  width: 100%;

  &:first-child {

    .table-head, .table-col {
      position: relative;

      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-position: left center;
        background-image: url(/assets/images/img-dash.png);
        background-repeat: repeat-x;
        opacity: 0.2;
      }
    }
  }
}

.table-heading-attractioninfo {
  img {
    max-width: 234px;
    width: 100%;

    @include max-screen($breakpoint-mobile) {
      max-width: 126px;
    }
  }
}

.table-heading {
  margin-top: 36px;
  margin-bottom: 15px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  // img {
  //   @include max-screen($breakpoint-mobile) {
  //     width: auto;
  //   }
  // }

  // &:last-child {
  //   img {
  //     @include max-screen($breakpoint-mobile) {
  //       width: 245px;
  //       height: 15px;
  //       border: 1px solid red;
  //     }
  //   }
  // }
  &.table-heading-sp {
    img {
      @include max-screen($breakpoint-mobile) {
        width: 50%;
      }
    }
  }

  &.table-heading-collapse {
    img {
      @include max-screen($breakpoint-mobile) {
        width: 85%;
        // height: 15px;
    }
  }
}

}

.table-subheading {
  margin-bottom: 32px;
  font-size: 15px;
  color: $base-font-color;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.160em;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 17px;
    font-size: 12px;
    color: rgb(51, 51, 51);
  }
}

//modifier forest walk
.subpage-walk {
  .table-row {
    .table-col {
      p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
//modifier forest walk end

@at-root .table-distribution {//smart entry page
  .table {
    margin-bottom: 31px;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 24px;
    }

    &:nth-of-type(2) {
      margin-bottom: 40px;

      @include max-screen($breakpoint-mobile) {
        margin-bottom: 15px;
      }
    }

    &-note {
      font-size: 15px;
      line-height: 2;
      letter-spacing: 0.1em;
      margin-bottom: 12px;

      &:nth-of-type(3) {
        margin-bottom: 0px;
      }

      @include max-screen($breakpoint-mobile) {
        font-size: 12px;
        line-height: 1.833;
      }
    }
  }
}