.text-banner {
  padding: 67px 55px;

  .banner-heading {
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 14px;

    @include max-screen ($breakpoint-mobile) {
      font-size: 13px;
      margin-bottom: 20px;
    }
  }

  &.bg-green {
    background-color: #00a004;
    color: $color-white;
  }

  &.bg-grey {
    background-color: #f7f7f7;
  }

  &.zipline {
    font-size: 17px;
    line-height: 1.8;
    margin-top: 70px;
    margin-bottom: 140px;

    @include max-screen ($breakpoint-mobile) {
      max-width: none;
      margin: 0 20px;
      margin-bottom: 80px;
      font-size: 11px;
      line-height: 24px;
      letter-spacing: 3px;
    }
  }

  &.attraction-top {
    padding: 36px 0;
    border: 1px solid #a6a5a5;
    overflow: hidden;
    margin-top: 66px;
    margin-bottom: 135px;

    .icon {
      margin-bottom: 10px;

      @include max-screen ($breakpoint-mobile) {
        max-width: 22px;
        margin-bottom: 6px;
      }
    }

    .banner-heading {
      letter-spacing: 2px;
      font-size: 25px;

      @include max-screen ($breakpoint-mobile) {
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 10px;
      }
    }

    .banner-text {
      letter-spacing: 4px;
      font-size: 14px;

      @include max-screen ($breakpoint-mobile) {
        letter-spacing: 2px;
        font-size: 12px;
        line-height: 1.7;
      }
    }

    &::after {
      content: " ";
      width: 50px;
      height: 75px;
      background-color: #67b436;
      position: absolute;
      right: -13px;
      bottom: -38px;
      transform: rotate(53deg);  

      @include max-screen ($breakpoint-mobile) {
        right: -25px;
        bottom: -42px;
        transform: rotate(46deg);
      }
    }

    @include max-screen ($breakpoint-mobile) {
      max-width: 336px;
      padding: 18px 40px 13px;
      margin-top: 33px;
      margin-bottom: 70px;
    }
  }
  @include max-screen ($breakpoint-mobile) {
    padding: 35px 23px;
  }
}