.youtube-video {
  text-align: center;
}

.youtube-video-content {
  margin: 0 -20px;
  @include max-screen($breakpoint-mobile) {
    margin: 0 -27px;
  }

  &.youtube-video-content-itadaki {
    
    @include max-screen($breakpoint-mobile) {
      padding: 40px 0;
    }
  }
}

.youtube-video-list {
  margin-top: 47px;

  @include max-screen($breakpoint-mobile) {
    padding: 0 25px;
    margin-top: -7px;
  }
}

.youtube-video-item {
  padding: 0 24px;

  &:last-child {
    @include max-screen($breakpoint-mobile) {
      margin-top: 22px;
    }
  }
}

.youtube-video-wrapper {
  background: url(#{$image-path}frame.png) no-repeat center top;
  background-size: 100% 100%;
  padding: 15px;

  @include max-screen($breakpoint-mobile) {
    padding: 7px;
  }
}

.youtube-video-inner {
  position: relative;
  height: 0;
  padding-bottom: 49.25%; /* 16:9 */
  padding-top: 25px;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 45.25%;
  }

  iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
	  height: 100%;
  }
}

.youtube-video-description {
  display: block;
  font-size: 17px;
  line-height: 1.731;
  text-align: left;
  margin-top: 10px;
  font-weight: 600;

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;
    text-align: center;
  }
}